Repository joypix-mindz/mindz, changes with the owners that .github/CODEOWNERS names for each.
All owners: @darkskygit, @lawvs, @SaikaSakura

.github/CODEOWNERS:

# About code owners

# You can use a CODEOWNERS file to define individuals or teams that are responsible for code in a repository.

# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners


# =================
# configs
# =================

.* @darkskygit
babel.config.json @darkskygit
nx.json @darkskygit
tsconfig.base.json @darkskygit
**/project.json @darkskygit
**/tsconfig.json @darkskygit
**/tsconfig.*.json @darkskygit
**/.babelrc @darkskygit
**/babel.config.js @darkskygit
**/.* @darkskygit

# =================
# components
# =================

# editor-core
libs/components/editor-core @lawvs

# editor-blocks

# group block
libs/components/editor-blocks/src/blocks/group @lawvs
# todo block
libs/components/editor-blocks/src/blocks/todo @lawvs

libs/framework/virgo @SaikaSakura

# =================
# datasource
# =================

# feature flags
libs/datasource/feature-flags @lawvs

# jwt
libs/datasource/jwt @darkskygit

refactor: use API from new i18n package
  libs/components/layout/src/header/FileSystem.tsx
  libs/components/layout/src/header/LayoutHeader.tsx
  libs/components/layout/src/settings-sidebar/ContainerTabs/ContainerTabs.tsx
  libs/components/layout/src/settings-sidebar/Settings/SettingsList.tsx
  libs/components/layout/src/settings-sidebar/Settings/footer/LastModified.tsx
  libs/components/layout/src/settings-sidebar/Settings/footer/Logout.tsx
  libs/components/layout/src/settings-sidebar/Settings/use-settings.ts
Owners: none

feat: add new i18n package
  libs/datasource/i18n/.babelrc
  libs/datasource/i18n/.eslintrc.json
  libs/datasource/i18n/README.md
  libs/datasource/i18n/jest.config.ts
  libs/datasource/i18n/package.json
  libs/datasource/i18n/project.json
  libs/datasource/i18n/resources/en.json
  libs/datasource/i18n/resources/zh.json
  libs/datasource/i18n/src/index.ts
  libs/datasource/i18n/tsconfig.json
  libs/datasource/i18n/tsconfig.lib.json
  libs/datasource/i18n/tsconfig.spec.json
  tsconfig.base.json
  workspace.json
Owners: @darkskygit

chore: sunseting legacy i18n
  libs/components/layout/package.json
  libs/components/layout/src/i18n/index.ts
  libs/components/layout/src/i18n/resources/en.json
  libs/components/layout/src/i18n/resources/zh.json
  libs/components/layout/src/index.ts
Owners: none

feat: add translation sync scripts
  libs/datasource/i18n/README.md
  libs/datasource/i18n/package.json
  libs/datasource/i18n/src/base.json
  libs/datasource/i18n/src/scripts/api.ts
  libs/datasource/i18n/src/scripts/request.ts
  libs/datasource/i18n/src/scripts/sync.ts
  libs/datasource/i18n/tsconfig.json
Owners: @darkskygit

chore: update dir
  libs/datasource/i18n/src/index.ts
  libs/datasource/i18n/src/resources/en.json
  libs/datasource/i18n/src/resources/zh.json
Owners: none

feat(code): remove unused comment
  libs/components/editor-blocks/src/blocks/code/CodeView.tsx
Owners: none

refactor(workspace): rename workspaceId
  apps/ligo-virgo/src/pages/AppRoutes.tsx
  apps/ligo-virgo/src/pages/workspace/Home.tsx
  apps/ligo-virgo/src/pages/workspace/WorkspaceContainer.tsx
  apps/ligo-virgo/src/pages/workspace/docs/collapsible-page-tree.tsx
  libs/components/common/src/lib/text/plugins/reflink.tsx
  libs/components/editor-blocks/src/blocks/page/PageView.tsx
  libs/components/editor-plugins/src/comment/use-add-comment.ts
  libs/components/editor-plugins/src/search/Search.tsx
  libs/components/layout/src/header/EditorBoardSwitcher/Switcher.tsx
  libs/components/layout/src/header/Header.tsx
  libs/components/layout/src/header/PageSettingPortal.tsx
  libs/components/layout/src/header/Title.tsx
  libs/components/layout/src/settings-sidebar/Comments/use-comments.ts
  libs/components/layout/src/settings-sidebar/Settings/util/use-workspace-page.ts
  libs/components/layout/src/workspace-sidebar/page-tree/tree-item/TreeItem.tsx
  libs/components/layout/src/workspace-sidebar/page-tree/use-page-tree.ts
  libs/datasource/db-service/src/services/editor-block/index.ts
  libs/datasource/state/src/page.ts
Owners: none

refactor(page): rename pageId
  apps/ligo-virgo/src/pages/workspace/Edgeless.tsx
  apps/ligo-virgo/src/pages/workspace/WorkspaceContainer.tsx
  apps/ligo-virgo/src/pages/workspace/docs/Page.tsx
  apps/ligo-virgo/src/pages/workspace/docs/collapsible-page-tree.tsx
  apps/ligo-virgo/src/pages/workspace/docs/components/toc/TOC.tsx
  libs/components/editor-blocks/src/blocks/ref-link/ref-link-view.tsx
  libs/components/editor-plugins/src/comment/use-add-comment.ts
  libs/components/editor-plugins/src/menu/double-link-menu/DoubleLinkMenu.tsx
  libs/components/editor-plugins/src/menu/link-menu/LinkMenu.tsx
  libs/components/layout/src/settings-sidebar/Comments/use-comments.ts
  libs/components/layout/src/workspace-sidebar/calendar-heatmap/utils.ts
  libs/components/layout/src/workspace-sidebar/page-tree/tree-item/TreeItem.tsx
  libs/components/layout/src/workspace-sidebar/page-tree/use-page-tree.ts
  libs/datasource/db-service/src/services/editor-block/index.ts
  libs/datasource/jwt/src/yjs/index.ts
  libs/datasource/state/src/page.ts
  libs/utils/src/utils.ts
Owners: @darkskygit

feat(edit): more robust editing experience
  libs/components/editor-blocks/src/blocks/text/TextView.tsx
Owners: none

fix: ci
  .github/workflows/affine-keck.yml.bak
Owners: @darkskygit

Feat/land page (#391)
  apps/ligo-virgo/src/pages/AppRoutes.tsx
  apps/ligo-virgo/src/pages/workspace/Edgeless.tsx
  apps/ligo-virgo/src/pages/workspace/Home.tsx
  apps/ligo-virgo/src/pages/workspace/WorkspaceContainer.tsx
  apps/ligo-virgo/src/pages/workspace/docs/Page.tsx
  apps/ligo-virgo/src/pages/workspace/docs/collapsible-page-tree.tsx
  apps/ligo-virgo/src/pages/workspace/docs/components/toc/TOC.tsx
  apps/venus/src/app/common/Footer.tsx
  apps/venus/src/app/common/Header.tsx
  apps/venus/src/app/common/MobileHeader.tsx
  apps/venus/src/app/i18n/resources/en.json
  apps/venus/src/app/i18n/resources/zh.json
  libs/components/common/src/lib/text/plugins/reflink.tsx
  libs/components/editor-blocks/src/blocks/code/CodeView.tsx
  libs/components/editor-blocks/src/blocks/page/PageView.tsx
  libs/components/editor-blocks/src/blocks/ref-link/ref-link-view.tsx
  libs/components/editor-blocks/src/blocks/text/TextView.tsx
  libs/components/editor-plugins/src/comment/use-add-comment.ts
  libs/components/editor-plugins/src/menu/double-link-menu/DoubleLinkMenu.tsx
  libs/components/editor-plugins/src/menu/link-menu/LinkMenu.tsx
  libs/components/editor-plugins/src/search/Search.tsx
  libs/components/layout/src/header/EditorBoardSwitcher/Switcher.tsx
  libs/components/layout/src/header/Header.tsx
  libs/components/layout/src/header/PageSettingPortal.tsx
  libs/components/layout/src/header/Title.tsx
  libs/components/layout/src/settings-sidebar/Comments/use-comments.ts
  libs/components/layout/src/settings-sidebar/Settings/util/use-workspace-page.ts
  libs/components/layout/src/workspace-sidebar/calendar-heatmap/utils.ts
  libs/components/layout/src/workspace-sidebar/page-tree/tree-item/TreeItem.tsx
  libs/components/layout/src/workspace-sidebar/page-tree/use-page-tree.ts
  libs/datasource/db-service/src/services/editor-block/index.ts
  libs/datasource/jwt/src/yjs/index.ts
  libs/datasource/state/src/page.ts
  libs/datasource/state/src/user.ts
  libs/utils/src/utils.ts
Owners: @darkskygit

fix: request url
  libs/datasource/i18n/src/scripts/request.ts
Owners: none

feat(i18n): add check mode
  libs/datasource/i18n/src/scripts/sync.ts
Owners: none

feat(i18n): add sync workflows
  .github/workflows/languages-sync.yml
Owners: @darkskygit

chore(i18n): update package
  libs/datasource/i18n/README.md
  libs/datasource/i18n/package.json
Owners: none

chore(i18n): sunset lint workflows
  .github/workflows/lint.yml
Owners: @darkskygit

fix: landing page style & duplicate contact us
  apps/venus/src/app/IndexPage/Alternatives.tsx
  apps/venus/src/app/IndexPage/IndexPage.tsx
  apps/venus/src/app/common/Header.tsx
Owners: none

feat(i18n): storage lng
  libs/datasource/i18n/src/index.ts
Owners: none

chore(i18n): clean code
  .github/workflows/languages-sync.yml
  libs/datasource/i18n/package.json
  libs/datasource/i18n/src/scripts/request.ts
  libs/datasource/i18n/src/scripts/sync.ts
  pnpm-lock.yaml
Owners: @darkskygit

feat: add hubspot embed script
  .github/workflows/livedemo.yml
  apps/ligo-virgo/src/template.html
  apps/ligo-virgo/webpack.config.js
Owners: @darkskygit

feat(i18n): add download scripts
  libs/datasource/i18n/package.json
  libs/datasource/i18n/src/index.ts
  libs/datasource/i18n/src/scripts/api.ts
  libs/datasource/i18n/src/scripts/download.ts
  libs/datasource/i18n/src/scripts/request.ts
  libs/datasource/i18n/src/scripts/sync.ts
  libs/datasource/i18n/src/scripts/utils.ts
Owners: none

feat(i18n): add codegen
  libs/datasource/i18n/src/base.json
  libs/datasource/i18n/src/resources/index.ts
  libs/datasource/i18n/src/resources/zh-Hans.json
Owners: none

chore: clean
  libs/components/layout/src/settings-sidebar/Settings/SettingsList.tsx
  libs/datasource/i18n/src/scripts/download.ts
Owners: none

fix(i18n): base json path
  libs/datasource/i18n/src/scripts/sync.ts
Owners: none

feat(i18n): add auto update ci
  .github/workflows/languages-download.yml
Owners: @darkskygit

feat(command): ensure useOnSelectActive run
  libs/components/editor-plugins/src/menu/command-menu/Menu.tsx
Owners: none

Update README.md
  README.md
Owners: none

Update README.md
  README.md
Owners: none

:rocket: Optimise the docker file to use the build cache
  .github/deployment/Dockerfile-affine
  .github/deployment/Dockerfile-affine-keck
  .github/deployment/Dockerfile-keck
  .github/deployment/Dockerfile-lisa
  .github/deployment/Dockerfile-venus
Owners: @darkskygit

ci: :rocket: Optimize the docker file to use the build cache
  .github/deployment/Dockerfile-affine
  .github/deployment/Dockerfile-affine-keck
  .github/deployment/Dockerfile-keck
  .github/deployment/Dockerfile-lisa
  .github/deployment/Dockerfile-venus
Owners: @darkskygit

Feat/left menu i18n (#407)
  .eslintrc.json
  libs/components/editor-plugins/src/menu/left-menu/LeftMenu.tsx
  libs/components/layout/src/settings-sidebar/Layout/LayoutSettings.tsx
  libs/datasource/i18n/README.md
  libs/datasource/i18n/project.json
  libs/datasource/i18n/src/resources/en.json
Owners: @darkskygit

fix: ci permission
  .github/workflows/languages-download.yml
Owners: @darkskygit

feat(i18n): new translations
  libs/datasource/i18n/src/resources/zh-Hans.json
Owners: none

fix: #398
  apps/venus/src/app/common/Header.tsx
  apps/venus/src/app/i18n/index.ts
Owners: none

feat: add Spanish
  apps/venus/src/app/i18n/resources/en.json
  apps/venus/src/app/i18n/resources/es.json
  apps/venus/src/app/i18n/resources/index.ts
  apps/venus/src/app/i18n/resources/zh.json
Owners: none

fix: commend-menu create block can leave menu name
  libs/components/editor-plugins/src/menu/command-menu/Menu.tsx
Owners: none

fix: empty ref page
  libs/components/editor-blocks/src/blocks/group/scene-kanban/RefPage.tsx
Owners: @lawvs

Fix/venus build env (#415)
  .github/deployment/Dockerfile-affine
  .github/workflows/livedemo.yml
Owners: @darkskygit

docs(mysc): add job
  README.md
  docs/Jobs.md
  docs/mysc.app.md
Owners: none

Update Jobs.md
  docs/Jobs.md
Owners: none
