Repository joypix-mindz/mindz, changes with the owners that .github/CODEOWNERS names for each.
All owners: @darkskygit, @lawvs, @SaikaSakura

docs: update readme badge (#224)
  README.md
Owners: none

chore: sync master (#226)
  .github/deployment/Dockerfile-affine-multiplatform
  .github/workflows/affine.yml
  .vscode/settings.json
Owners: @darkskygit

fix: styles
  apps/venus/src/app/index.tsx
Owners: none

fix: update default status color (#227)
  libs/datasource/db-service/src/services/editor-block/templates/get-started-group1.json
Owners: none

Update LayoutHeader.tsx
  libs/components/layout/src/header/LayoutHeader.tsx
Owners: none

Update LayoutHeader.tsx
  libs/components/layout/src/header/LayoutHeader.tsx
Owners: none

chore: organizeImports
  .eslintrc.json
  .vscode/settings.json
  apps/keck/src/index.ts
  apps/ligo-virgo/src/index.tsx
  apps/ligo-virgo/src/pages/AppContainer.tsx
  apps/ligo-virgo/src/pages/AppRoutes.tsx
  apps/ligo-virgo/src/pages/RoutePrivate.tsx
  apps/ligo-virgo/src/pages/agenda/index.tsx
  apps/ligo-virgo/src/pages/tools/icons/Icons.tsx
  apps/ligo-virgo/src/pages/tools/index.tsx
  apps/ligo-virgo/src/pages/ui/index.tsx
  apps/ligo-virgo/src/pages/workspace/Home.tsx
  apps/ligo-virgo/src/pages/workspace/Whiteboard.tsx
  apps/ligo-virgo/src/pages/workspace/WorkspaceContainer.tsx
  apps/ligo-virgo/src/pages/workspace/docs/Page.tsx
  apps/ligo-virgo/src/pages/workspace/docs/collapsible-page-tree.tsx
  apps/ligo-virgo/src/pages/workspace/docs/components/tabs/Tabs.tsx
  apps/ligo-virgo/src/pages/workspace/docs/index.spec.tsx
  apps/ligo-virgo/src/pages/workspace/docs/workspace-name.tsx
  apps/venus/src/app/index.tsx
  apps/venus/src/index.tsx
  libs/components/account/src/login/Authing.tsx
  libs/components/account/src/login/FileSystem.tsx
  libs/components/account/src/login/Firebase.tsx
  libs/components/account/src/login/index.tsx
  libs/components/editor-plugins/src/search/index.tsx
  libs/components/layout/src/header/FileSystem.tsx
Owners: @darkskygit

feature: add a left menu option to add a below block (#232)
  libs/components/editor-plugins/src/menu/left-menu/LeftMenu.tsx
Owners: none

fix:image click select
  libs/components/editor-blocks/src/blocks/image/ImageView.tsx
Owners: none

Update LayoutHeader.tsx
  libs/components/layout/src/header/LayoutHeader.tsx
Owners: none

Update grammar in index.tsx
  apps/venus/src/app/index.tsx
Owners: none

Beautify Social Links with Custom Badges
  README.md
Owners: none

Removed old social links
  README.md
Owners: none

Added spacing between social icons
  README.md
Owners: none

fix: no forward zIndex
  libs/components/ui/src/popper/Popper.tsx
Owners: none

fix: incorrect key prop
  libs/components/editor-blocks/src/utils/WithTreeViewChildren.tsx
Owners: none

chore: clean code
  libs/components/editor-core/src/render-block/RenderBlock.tsx
Owners: @lawvs

chore: commit time
  .husky/pre-commit
  .husky/pre-push
  package.json
Owners: @darkskygit

feat: local mode for develop
  libs/datasource/state/src/user.ts
Owners: none

fix: update get-started template
  apps/ligo-virgo/src/pages/workspace/Home.tsx
  libs/datasource/db-service/src/services/editor-block/templates/get-started-group1.json
  libs/datasource/db-service/src/services/editor-block/templates/get-started-group2.json
  libs/datasource/db-service/src/services/editor-block/templates/template-factory.ts
Owners: none

fix: update get-started template(automatically)
  libs/datasource/db-service/src/services/editor-block/templates/get-started-group1.json
Owners: none

chore: make linter happy
  apps/venus/src/app/index.tsx
Owners: none

chore: docs now moved to docs.affine.pro
  docs/CONTRIBUTING.md
  docs/affine-code-guideline.md
  docs/affine-git-guideline.md
  docs/affine-icons-user-guide.md
  docs/how-to-add-ui-component-in-affine.md
  docs/how-to-auto-download-figma-assets-in-affine.md
  docs/how-to-customize-rollup-config.md
  docs/how-to-write-css-in-affine.md
Owners: none

fix: async provider
  libs/datasource/jwt/src/adapter/yjs/index.ts
Owners: @darkskygit

fix undo redo point err
  libs/components/editor-blocks/src/components/text-manage/TextManage.tsx
Owners: none

fix:while bord group error (#258)
  libs/components/board-commands/src/group-shapes.ts
  libs/components/board-draw/src/components/command-panel/GroupOperation.tsx
Owners: none

Docs/update-contributors (#260)
  .all-contributorsrc
  README.md
Owners: @darkskygit

fix(component): make Select close when option chosen with Enter key
  libs/components/ui/src/select/Select.tsx
Owners: none

fix lint
  libs/components/editor-blocks/src/components/text-manage/TextManage.tsx
Owners: none

fix: eslint error - filename *.tsx match PascalCase (#262)
  libs/utils/src/ErrorBoundary.tsx
  libs/utils/src/index.ts
Owners: none

fix: filter empty string when getContentBetween
  libs/components/common/src/lib/text/slate-utils.ts
Owners: none

fix: text enter with root id
  libs/components/editor-blocks/src/blocks/text/TextView.tsx
Owners: none

refactor: batch api
  libs/components/editor-blocks/src/blocks/text/TextView.tsx
  libs/components/editor-core/src/editor/editor.ts
Owners: @lawvs

fix: backspace with root id
  libs/components/editor-blocks/src/blocks/text/TextView.tsx
Owners: none

fix: handle root block when indent
  libs/components/editor-blocks/src/blocks/bullet/BulletView.tsx
  libs/components/editor-blocks/src/blocks/numbered/NumberedView.tsx
  libs/components/editor-blocks/src/blocks/text/TextView.tsx
  libs/components/editor-blocks/src/blocks/todo/TodoView.tsx
  libs/components/editor-blocks/src/utils/indent.ts
Owners: @lawvs

fix: slate cannot get the start point in the node at path [0]
  libs/components/common/src/lib/text/slate-utils.ts
Owners: none

fix edgeless edit bar tooltip (#243)
  libs/components/board-draw/src/components/tools-panel/ToolsPanel.tsx
  libs/components/board-state/src/tldraw-app.ts
  libs/components/board-tools/src/hand-drag/hand-drag-tool.ts
  libs/components/board-tools/src/hand-drag/index.ts
  libs/components/board-tools/src/hand-draw/index.ts
  libs/components/board-tools/src/index.ts
  libs/components/board-types/src/types.ts
Owners: none

fix: the pendant popover is blocked by the container in kanban mode
  libs/components/editor-core/src/block-pendant/BlockPendantProvider.tsx
  libs/components/editor-core/src/block-pendant/pendant-history-panel/PendantHistoryPanel.tsx
  libs/components/editor-core/src/block-pendant/pendant-render/PandentRender.tsx
Owners: @lawvs

fix: the pendant popover is blocked by the container in kanban mode (#268)
  libs/components/editor-core/src/block-pendant/BlockPendantProvider.tsx
  libs/components/editor-core/src/block-pendant/pendant-history-panel/PendantHistoryPanel.tsx
  libs/components/editor-core/src/block-pendant/pendant-render/PandentRender.tsx
Owners: @lawvs

fix: whiteboard -> edgeless
  .cz-config.js
  apps/ligo-virgo/src/pages/workspace/Edgeless.tsx
  apps/ligo-virgo/src/pages/workspace/Home.tsx
  apps/ligo-virgo/src/pages/workspace/WorkspaceContainer.tsx
  apps/ligo-virgo/webpack.config.js
  libs/components/affine-editor/src/Editor.tsx
  libs/components/affine-editor/src/create-editor.ts
  libs/components/board-shapes/src/editor-util/EditorUtil.tsx
  libs/components/editor-blocks/src/blocks/group/GroupView.tsx
  libs/components/editor-blocks/src/components/source-view/format-url/affine.ts
  libs/components/editor-core/src/RenderRoot.tsx
  libs/components/editor-core/src/editor/editor.ts
  libs/components/editor-core/src/editor/types.ts
  libs/components/editor-core/src/recast-block/types/view.ts
  libs/components/editor-plugins/src/menu/group-menu/Plugin.tsx
  libs/components/layout/src/header/EditorBoardSwitcher/Switcher.tsx
  libs/components/layout/src/header/Header.tsx
  libs/datasource/db-service/src/protocol/index.ts
  libs/datasource/db-service/src/services/editor-block/utils/column/default-config.ts
  libs/datasource/jwt/src/types/block.ts
Owners: @darkskygit, @lawvs

.github/CODEOWNERS:

# About code owners

# You can use a CODEOWNERS file to define individuals or teams that are responsible for code in a repository.

# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners


# =================
# configs
# =================

.* @darkskygit
babel.config.json @darkskygit
nx.json @darkskygit
tsconfig.base.json @darkskygit
**/project.json @darkskygit
**/tsconfig.json @darkskygit
**/tsconfig.*.json @darkskygit
**/.babelrc @darkskygit
**/babel.config.js @darkskygit
**/.* @darkskygit

# =================
# components
# =================

# editor-core
libs/components/editor-core @lawvs

# editor-blocks

# group block
libs/components/editor-blocks/src/blocks/group @lawvs
# todo block
libs/components/editor-blocks/src/blocks/todo @lawvs

libs/framework/virgo @SaikaSakura

# =================
# datasource
# =================

# feature flags
libs/datasource/feature-flags @lawvs

# jwt
libs/datasource/jwt @darkskygit
