Repository joypix-mindz/mindz, changes with the owners that .github/CODEOWNERS names for each.
All owners: @darkskygit, @lawvs, @SaikaSakura

Update affine.yml
  .github/workflows/affine.yml
Owners: @darkskygit

refactor: remove useless file
  libs/components/editor-core/src/editor/clipboard/browser-clipboard-back.ts
Owners: @lawvs

chore: login condition
  libs/components/account/src/login/index.tsx
Owners: none

chore: ci
  .github/deployment/Dockerfile-affine-multiplatform
  .github/workflows/affine.yml
Owners: @darkskygit

chore: ci
  .github/deployment/Dockerfile-affine-multiplatform
  .github/workflows/affine.yml
Owners: @darkskygit

chore: ci
  .github/workflows/affine.yml
Owners: @darkskygit

fix: type error
  libs/components/editor-blocks/src/blocks/todo/CheckBox.tsx
Owners: @lawvs

fix: left menu color
  libs/components/editor-plugins/src/menu/group-menu/DragItem.tsx
  libs/components/editor-plugins/src/menu/left-menu/LeftMenuDraggable.tsx
Owners: none

feat: repair grid border in selection (#206)
  libs/components/editor-blocks/src/blocks/grid/Grid.tsx
  libs/components/editor-core/src/editor/selection/selection.ts
Owners: @lawvs

chore: clean page tree styles
  libs/components/layout/src/workspace-sidebar/page-tree/DndTree.tsx
  libs/components/layout/src/workspace-sidebar/page-tree/tree-item/DndTreeItem.tsx
  libs/components/layout/src/workspace-sidebar/page-tree/tree-item/TreeItem.tsx
  libs/components/layout/src/workspace-sidebar/page-tree/tree-item/styles.ts
Owners: none

chore: update warn message
  libs/components/layout/src/header/LayoutHeader.tsx
Owners: none

feat: fix selection on scroll
  libs/components/editor-core/src/Selection.tsx
Owners: @lawvs

chore: align tree line (#211)
  libs/components/editor-blocks/src/utils/WithTreeViewChildren.tsx
Owners: none

fix: fix color and text of status pendant
  libs/components/editor-core/src/block-pendant/config.ts
  libs/components/editor-core/src/block-pendant/utils.ts
Owners: @lawvs

fix: code style (#208)
  libs/components/common/src/lib/text/EditableText.tsx
  libs/components/editor-blocks/src/blocks/bullet/BulletView.tsx
  libs/components/editor-blocks/src/blocks/code/CodeView.tsx
  libs/components/editor-blocks/src/components/style-container/index.tsx
Owners: none

feat: update pendant add button
  libs/components/editor-core/src/block-pendant/AddPendantPopover.tsx
  libs/components/editor-core/src/block-pendant/pendant-popover/PendantPopover.tsx
Owners: @lawvs

fix: move the pendant popover to the body layer
  libs/components/editor-core/src/block-pendant/pendant-popover/PendantPopover.tsx
Owners: @lawvs

fix: add star badge & add link to contributor badge (#214)
  README.md
Owners: none

fix: link style issues
  libs/components/common/src/lib/text/plugins/link.tsx
  libs/components/editor-blocks/src/blocks/page/PageView.tsx
Owners: none

fix: link style issues
  libs/components/common/src/lib/text/plugins/link.tsx
Owners: none

feat: optional provider
  apps/ligo-virgo/src/pages/RoutePrivate.tsx
  libs/components/account/src/login/fs.tsx
  libs/components/account/src/login/index.tsx
  libs/components/layout/src/header/FileSystem.tsx
  libs/components/layout/src/header/LayoutHeader.tsx
  libs/datasource/db-service/src/services/database/index.ts
  libs/datasource/jwt/src/adapter/yjs/index.ts
  libs/datasource/jwt/src/adapter/yjs/provider.ts
  libs/datasource/jwt/src/index.ts
  libs/datasource/state/src/user.ts
  pnpm-lock.yaml
Owners: @darkskygit

fix:setTimeout error (#215)
  libs/components/editor-core/src/editor/selection/selection.ts
Owners: @lawvs

fix: link style issues
  libs/components/editor-blocks/src/blocks/page/PageView.tsx
  libs/components/editor-blocks/src/components/text-manage/TextManage.tsx
Owners: none

feat: update Get Started template
  apps/ligo-virgo/src/pages/workspace/Home.tsx
  libs/datasource/db-service/src/services/editor-block/templates/get-started-group0.json
  libs/datasource/db-service/src/services/editor-block/templates/get-started-group1.json
  libs/datasource/db-service/src/services/editor-block/templates/template-factory.ts
Owners: none

fix: types
  libs/components/account/src/login/fs.tsx
  libs/components/layout/src/header/FileSystem.tsx
Owners: none

feat: warning tips
  apps/venus/src/app/index.tsx
  libs/components/layout/src/header/FileSystem.tsx
  libs/components/layout/src/header/LayoutHeader.tsx
Owners: none

fix: update e2e
  apps/ligo-virgo-e2e/src/integration/app.spec.ts
Owners: none

chore: adjust content
  apps/venus/src/app/index.tsx
Owners: none

fix(whiteboard): error when drag away last element in Chrome
  libs/components/board-shapes/src/editor-util/EditorUtil.tsx
  libs/components/editor-core/src/RenderRoot.tsx
  libs/components/editor-core/src/editor/commands/block-commands.ts
  libs/components/editor-core/src/editor/drag-drop/drag-drop.ts
  libs/components/editor-core/src/editor/scroll/scroll.ts
  libs/components/editor-core/src/hooks.ts
  libs/components/editor-core/src/render-block/RenderBlock.tsx
  libs/components/editor-plugins/src/menu/left-menu/LeftMenuPlugin.tsx
  libs/utils/src/lodash.ts
Owners: @lawvs

fix: update e2e
  apps/ligo-virgo-e2e/src/integration/app.spec.ts
Owners: none

refactor: refactor popper
  libs/components/board-draw/src/components/command-panel/CommandPanel.tsx
  libs/components/editor-core/src/block-pendant/pendant-history-panel/PendantHistoryPanel.tsx
  libs/components/editor-core/src/block-pendant/pendant-popover/PendantPopover.tsx
  libs/components/editor-core/src/block-pendant/pendant-render/PandentRender.tsx
  libs/components/ui/src/popover/Popover.tsx
  libs/components/ui/src/popper/Popper.tsx
  libs/components/ui/src/popper/interface.ts
  libs/components/ui/src/tooltip/Tooltip.tsx
Owners: @lawvs

fix: fix pendant popover obscured by screen
  libs/components/editor-core/src/block-pendant/AddPendantPopover.tsx
  libs/components/editor-core/src/block-pendant/pendant-modify-panel/types.ts
  libs/components/editor-core/src/block-pendant/pendant-operation-panel/CreatePendantPanel.tsx
Owners: @lawvs

chore: adjust styles
  apps/venus/src/app/index.tsx
  libs/components/layout/src/header/LayoutHeader.tsx
Owners: none

chore: tweak styles
  libs/components/editor-blocks/src/utils/WithTreeViewChildren.tsx
Owners: none

fix: Property zIndex does not exist on type CSSProperties
  libs/components/ui/src/popper/Popper.tsx
  libs/components/ui/src/popper/interface.ts
Owners: none

REALEASE: WEB LIVE DEMO
  README.md
Owners: none

fix:typo
  README.md
Owners: none

feat: update paste behavior
  libs/components/editor-core/src/editor/clipboard/paste.ts
Owners: @lawvs

feat: add website badge & update star badge & update contributors badge (#222)
  README.md
Owners: none

chore: workspace name
  README.md
  apps/ligo-virgo/src/pages/workspace/docs/workspace-name.tsx
  libs/datasource/db-service/src/services/workspace/user-config.ts
  libs/utils/src/utils.ts
Owners: none

.github/CODEOWNERS:

# About code owners

# You can use a CODEOWNERS file to define individuals or teams that are responsible for code in a repository.

# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners


# =================
# configs
# =================

.* @darkskygit
babel.config.json @darkskygit
nx.json @darkskygit
tsconfig.base.json @darkskygit
**/project.json @darkskygit
**/tsconfig.json @darkskygit
**/tsconfig.*.json @darkskygit
**/.babelrc @darkskygit
**/babel.config.js @darkskygit
**/.* @darkskygit

# =================
# components
# =================

# editor-core
libs/components/editor-core @lawvs

# editor-blocks

# group block
libs/components/editor-blocks/src/blocks/group @lawvs
# todo block
libs/components/editor-blocks/src/blocks/todo @lawvs

libs/framework/virgo @SaikaSakura

# =================
# datasource
# =================

# feature flags
libs/datasource/feature-flags @lawvs

# jwt
libs/datasource/jwt @darkskygit
