Repository joypix-mindz/mindz, changes with the owners that .github/CODEOWNERS names for each.
All owners: @darkskygit, @lawvs, @SaikaSakura

update
  libs/components/layout/src/settings-sidebar/Settings/SettingsList.tsx
Owners: none

CONTRIBUTING.md file updated
  docs/CONTRIBUTING.md
Owners: none

fix: ci
  pnpm-lock.yaml
Owners: none

fix: json import
  libs/rollup-ts-checker.config.cjs
  libs/rollup.config.cjs
Owners: none

chore: lint
  docs/CONTRIBUTING.md
Owners: none

chore: prettier
  docs/CONTRIBUTING.md
Owners: none

chore: update contributor
  .all-contributorsrc
  README.md
Owners: @darkskygit

1.adjust export/import database;
  libs/components/layout/src/header/FileSystem.tsx
  libs/components/layout/src/header/LayoutHeader.tsx
  libs/components/layout/src/settings-sidebar/Settings/use-setting-flags.ts
  libs/components/layout/src/settings-sidebar/Settings/use-settings.ts
  libs/components/layout/src/settings-sidebar/Settings/util/inspector-workspace.ts
  libs/datasource/db-service/src/services/database/index.ts
  libs/datasource/db-service/src/services/workspace/user-config.ts
  libs/datasource/jwt/src/index.ts
  libs/datasource/jwt/src/yjs/index.ts
  libs/datasource/state/src/user.ts
Owners: @darkskygit

1.hide AddView;
  libs/components/editor-blocks/src/blocks/group/group-menu/MainMenu.tsx
Owners: @lawvs

1.adjust code style.
  libs/components/layout/src/header/FileSystem.tsx
  libs/components/layout/src/header/LayoutHeader.tsx
  libs/components/layout/src/header/PageSettingPortal.tsx
  libs/components/layout/src/settings-sidebar/Settings/use-setting-flags.ts
  libs/components/layout/src/settings-sidebar/Settings/use-settings.ts
  libs/components/layout/src/settings-sidebar/Settings/util/inspector-workspace.ts
  libs/datasource/db-service/src/services/workspace/user-config.ts
  libs/datasource/jwt/src/index.ts
  libs/datasource/jwt/src/yjs/index.ts
Owners: @darkskygit

1.adjust code style.
  libs/components/layout/src/header/FileSystem.tsx
  libs/components/layout/src/settings-sidebar/Settings/util/inspector-workspace.ts
  libs/datasource/state/src/user.ts
Owners: none

feat: Link feature add search function
  libs/components/common/src/lib/text/slate-utils.ts
  libs/components/editor-plugins/src/menu/double-link-menu/DoubleLinkMenu.tsx
  libs/components/editor-plugins/src/menu/double-link-menu/Plugin.tsx
  libs/components/editor-plugins/src/menu/inline-menu/utils.ts
  libs/components/editor-plugins/src/menu/link-menu/LinkMenu.tsx
Owners: none

feat(template): update template config when user firstly onboarding
  libs/datasource/db-service/src/services/editor-block/templates/get-started-group2.json
Owners: none

feat: Link feature add search function
  libs/components/editor-plugins/src/menu/inline-menu/utils.ts
  libs/components/editor-plugins/src/menu/link-menu/LinkMenu.tsx
Owners: none

unuse code
  apps/ligo-virgo/src/pages/workspace/WorkspaceContainer.tsx
  libs/datasource/jwt-rpc/src/broadcast.ts
Owners: none

Update CONTRIBUTING.md
  docs/CONTRIBUTING.md
Owners: none

Update CONTRIBUTING.md
  docs/CONTRIBUTING.md
Owners: none

fix: i18n default value
  libs/components/layout/src/settings-sidebar/Settings/SettingsList.tsx
Owners: none

fix: side panel transition wrap
  libs/components/ui/src/list/ListItem.tsx
Owners: none

chore: trick logic for temp feature
  libs/datasource/jwt/src/yjs/index.ts
  libs/datasource/jwt/src/yjs/provider.ts
Owners: @darkskygit

fix: ci
  libs/components/editor-core/package.json
  pnpm-lock.yaml
Owners: @lawvs

fix: ci
  libs/components/editor-plugins/src/menu/inline-menu/menu-item/DropdownItem.tsx
  libs/components/editor-plugins/src/menu/inline-menu/menu-item/IconItem.tsx
Owners: none

Add Twitter Icon
  apps/venus/src/app/Common.tsx
Owners: none

feat: disable search feature
  libs/components/editor-plugins/src/search/Search.tsx
  libs/components/layout/src/header/LayoutHeader.tsx
Owners: none

feat: disable add-sub-page double-link feature
  libs/components/editor-plugins/src/menu/double-link-menu/DoubleLinkMenu.tsx
Owners: none

modify double-link feature
  libs/components/editor-plugins/src/menu/double-link-menu/DoubleLinkMenu.tsx
Owners: none

Fix/issue 271 (#371)
  libs/components/editor-blocks/src/blocks/numbered/NumberedView.tsx
  libs/components/editor-blocks/src/blocks/todo/TodoView.tsx
  libs/components/editor-core/src/render-block/Context.tsx
Owners: @lawvs

feat(routes): clear unused routes
  apps/ligo-virgo/src/pages/AppRoutes.tsx
  apps/ligo-virgo/src/pages/recent/index.tsx
  apps/ligo-virgo/src/pages/search/index.tsx
  apps/ligo-virgo/src/pages/settings/index.tsx
  apps/ligo-virgo/src/pages/shared/index.tsx
  apps/ligo-virgo/src/pages/starred/index.tsx
  apps/ligo-virgo/src/pages/workspace/Home.tsx
  apps/ligo-virgo/src/pages/workspace/WorkspaceContainer.tsx
  libs/components/editor-plugins/src/placeholder/PlaceholderPanel.tsx
  libs/components/layout/src/workspace-sidebar/page-tree/block-page.ts
  libs/components/layout/src/workspace-sidebar/page-tree/index.ts
Owners: none

feat: fix style for dark mode
  apps/venus/src/app/AboutUs.tsx
  apps/venus/src/app/App.tsx
  apps/venus/src/app/common/Footer.tsx
  apps/venus/src/app/common/Header.tsx
  apps/venus/src/app/common/index.tsx
Owners: none

Fix/group select (#378)
  libs/components/editor-blocks/src/components/text-manage/TextManage.tsx
  libs/components/editor-core/src/editor/selection/selection.ts
  libs/components/editor-plugins/src/menu/inline-menu/menu-item/IconItem.tsx
Owners: @lawvs

chore: build for keck
  .github/deployment/Dockerfile-affine-keck
  .github/env/.env.local-keck
  .github/workflows/affine-keck.yml
  libs/datasource/db-service/src/services/database/index.ts
  package.json
Owners: @darkskygit

feat(code): improve code editing experience
  libs/components/editor-blocks/src/blocks/code/CodeView.tsx
Owners: none

feat(onBackspace): support remove group when select group
  libs/components/editor-blocks/src/blocks/text/TextView.tsx
  libs/components/editor-blocks/src/components/text-manage/TextManage.tsx
Owners: none

feat(code): focus
  libs/components/editor-blocks/src/blocks/code/CodeView.tsx
  libs/components/editor-plugins/src/menu/command-menu/Menu.tsx
Owners: none

fix(code):better experience
  libs/components/editor-blocks/src/blocks/code/index.ts
Owners: none

feat(route): rename variables
  apps/ligo-virgo/src/pages/workspace/Home.tsx
Owners: none

feat(route): better refresh
  apps/ligo-virgo/src/pages/workspace/WorkspaceContainer.tsx
  libs/datasource/state/src/user.ts
Owners: none

Update landing page (#387)
  apps/ligo-virgo/package.json
  apps/venus/package.json
  apps/venus/src/app/AboutUs.tsx
  apps/venus/src/app/App.tsx
  apps/venus/src/app/IndexPage/Alternatives.tsx
  apps/venus/src/app/IndexPage/FunctionTabs.tsx
  apps/venus/src/app/IndexPage/IndexPage.tsx
  apps/venus/src/app/IndexPage/collaboration.png
  apps/venus/src/app/IndexPage/index.ts
  apps/venus/src/app/IndexPage/page.png
  apps/venus/src/app/IndexPage/shape.png
  apps/venus/src/app/IndexPage/task.png
  apps/venus/src/app/common/Header.tsx
  apps/venus/src/app/common/HoverMenu.tsx
  apps/venus/src/app/common/affine-text-logo.png
  apps/venus/src/app/i18n/resources/en.json
  apps/venus/src/app/i18n/resources/zh.json
  apps/venus/src/app/index.tsx
  libs/components/account/src/login/Firebase.tsx
  libs/components/editor-blocks/src/blocks/code/CodeView.tsx
  pnpm-lock.yaml
Owners: none

chore: update dependencies
  pnpm-lock.yaml
Owners: none

fix: dependencies missed
  libs/components/layout/src/header/LayoutHeader.tsx
Owners: none

.github/CODEOWNERS:

# About code owners

# You can use a CODEOWNERS file to define individuals or teams that are responsible for code in a repository.

# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners


# =================
# configs
# =================

.* @darkskygit
babel.config.json @darkskygit
nx.json @darkskygit
tsconfig.base.json @darkskygit
**/project.json @darkskygit
**/tsconfig.json @darkskygit
**/tsconfig.*.json @darkskygit
**/.babelrc @darkskygit
**/babel.config.js @darkskygit
**/.* @darkskygit

# =================
# components
# =================

# editor-core
libs/components/editor-core @lawvs

# editor-blocks

# group block
libs/components/editor-blocks/src/blocks/group @lawvs
# todo block
libs/components/editor-blocks/src/blocks/todo @lawvs

libs/framework/virgo @SaikaSakura

# =================
# datasource
# =================

# feature flags
libs/datasource/feature-flags @lawvs

# jwt
libs/datasource/jwt @darkskygit
