Repository joypix-mindz/mindz, changes with the owners that .github/CODEOWNERS names for each.
All owners: @darkskygit, @lawvs, @SaikaSakura

.github/CODEOWNERS:

# About code owners

# You can use a CODEOWNERS file to define individuals or teams that are responsible for code in a repository.

# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners


# =================
# configs
# =================

.* @darkskygit
babel.config.json @darkskygit
nx.json @darkskygit
tsconfig.base.json @darkskygit
**/project.json @darkskygit
**/tsconfig.json @darkskygit
**/tsconfig.*.json @darkskygit
**/.babelrc @darkskygit
**/babel.config.js @darkskygit
**/.* @darkskygit

# =================
# components
# =================

# editor-core
libs/components/editor-core @lawvs

# editor-blocks

# group block
libs/components/editor-blocks/src/blocks/group @lawvs
# todo block
libs/components/editor-blocks/src/blocks/todo @lawvs

libs/framework/virgo @SaikaSakura

# =================
# datasource
# =================

# feature flags
libs/datasource/feature-flags @lawvs

# jwt
libs/datasource/jwt @darkskygit

refactor: refactor code by lint
  libs/components/editor-core/src/editor/scroll/scroll.ts
Owners: @lawvs

fix: code copy to clipboard
  libs/components/editor-blocks/src/blocks/bullet/BulletView.tsx
  libs/components/editor-blocks/src/blocks/code/CodeView.tsx
  libs/components/editor-core/src/editor/clipboard/clipboard-populator.ts
Owners: @lawvs

chore: update import
  libs/components/editor-core/src/RenderRoot.tsx
Owners: @lawvs

feat: add dispose
  libs/components/editor-core/src/editor/editor.ts
Owners: @lawvs

fix code copy to clipboard
  libs/components/editor-plugins/src/menu/inline-menu/Container.tsx
Owners: none

fix(plugin): remove onscroll
  libs/components/editor-core/src/RenderRoot.tsx
  libs/components/editor-core/src/editor/plugin/hooks.ts
  libs/components/editor-core/src/editor/types.ts
Owners: @lawvs

feat: expose editor by ref
  apps/ligo-virgo/src/pages/workspace/docs/Page.tsx
  libs/components/affine-editor/src/Editor.tsx
Owners: none

fix: adaptation of editor changes and restoration of scrollManager functionality
  apps/ligo-virgo/src/pages/workspace/docs/Page.tsx
  libs/components/editor-core/src/editor/plugin/hooks.ts
  libs/components/editor-core/src/editor/scroll/scroll.ts
  libs/components/editor-core/src/editor/types.ts
Owners: @lawvs

feat(editor-core): async block support remove property
  libs/components/editor-core/src/editor/block/async-block.ts
  libs/datasource/db-service/src/services/editor-block/index.ts
Owners: @lawvs

chore: remove property correct
  libs/components/editor-core/src/recast-block/property.ts
  libs/components/editor-core/src/recast-block/types/index.ts
Owners: @lawvs

chore: sunset scene api
  libs/components/editor-core/src/editor/views/base-view.ts
  libs/components/editor-core/src/recast-block/Scene.tsx
  libs/components/editor-core/src/recast-block/index.ts
  libs/components/editor-core/src/recast-block/types/constant.ts
  libs/components/editor-core/src/recast-block/types/recast-property.ts
Owners: @lawvs

chore: clean code
  libs/components/editor-core/src/recast-block/Context.tsx
  libs/components/editor-core/src/render-block/RenderBlock.tsx
Owners: @lawvs

feat(plugin): migrate plugin runner to rxjs
  libs/components/editor-core/src/editor/clipboard/clipboard-populator.ts
  libs/components/editor-core/src/editor/editor.ts
  libs/components/editor-core/src/editor/plugin/hooks.ts
  libs/components/editor-core/src/editor/scroll/scroll.ts
  libs/components/editor-core/src/editor/types.ts
  libs/components/editor-plugins/src/base-plugin.ts
  libs/components/editor-plugins/src/block-property/Plugin.tsx
  libs/components/editor-plugins/src/block-property/View.tsx
  libs/components/editor-plugins/src/block-property/index.tsx
  libs/components/editor-plugins/src/menu/command-menu/Container.tsx
  libs/components/editor-plugins/src/menu/command-menu/Menu.tsx
  libs/components/editor-plugins/src/menu/group-menu/GropuMenu.tsx
  libs/components/editor-plugins/src/menu/left-menu/LeftMenuDraggable.tsx
  libs/components/editor-plugins/src/menu/left-menu/LeftMenuPlugin.tsx
  libs/components/editor-plugins/src/menu/reference-menu/Container.tsx
  libs/components/editor-plugins/src/menu/reference-menu/ReferenceMenu.tsx
  libs/components/editor-plugins/src/menu/selection-group-menu/MenuApp.tsx
  libs/components/editor-plugins/src/menu/selection-group-menu/SelectionGroupPlugin.tsx
  libs/components/editor-plugins/src/search/index.tsx
Owners: @lawvs

fix: typo
  libs/components/editor-plugins/src/menu/command-menu/Container.tsx
Owners: none

feat: fix global search empty item
  libs/components/editor-plugins/src/search/Search.tsx
  libs/components/editor-plugins/src/search/index.tsx
Owners: none

opti: style improve of sidebar and topbar #572;
  apps/ligo-virgo/src/pages/workspace/WorkspaceContainer.tsx
  apps/ligo-virgo/src/pages/workspace/docs/Page.tsx
  apps/ligo-virgo/src/pages/workspace/docs/index.ts
  apps/ligo-virgo/src/pages/workspace/index.ts
  libs/components/layout/src/header/LayoutHeader.tsx
  libs/components/layout/src/header/Title.tsx
  libs/components/layout/src/header/utils.ts
  libs/components/layout/src/workspace-sidebar/page-tree/tree-item/TreeItem.tsx
  libs/components/layout/src/workspace-sidebar/page-tree/tree-item/tree-item.module.scss
  libs/components/ui/src/index.ts
  libs/components/ui/src/styled/index.ts
Owners: none

fix: fix selection rect error when editor is scrolling, fixed #563
  libs/components/editor-core/src/editor/scroll/scroll.ts
Owners: @lawvs

feat: improve search ux
  libs/components/editor-plugins/src/search/Search.tsx
  libs/components/editor-plugins/src/search/index.tsx
  libs/components/ui/src/button/ListButton.tsx
  libs/components/ui/src/button/index.ts
Owners: none

feat: select in grid
  libs/components/editor-blocks/src/blocks/grid-item/index.ts
  libs/components/editor-blocks/src/blocks/grid/index.ts
  libs/components/editor-core/src/editor/drag-drop/drag-drop.ts
  libs/components/editor-core/src/editor/selection/selection.ts
  libs/utils/src/types/tools.ts
Owners: @lawvs

fix: slash menu cannot disappear
  libs/components/editor-plugins/src/menu/command-menu/CommandMenu.tsx
  libs/components/editor-plugins/src/menu/command-menu/Menu.tsx
Owners: none

chore: simplify panel
  libs/components/editor-blocks/src/blocks/group/components/Panel.tsx
  libs/components/editor-blocks/src/blocks/group/components/group-by/GroupBy.tsx
  libs/components/editor-blocks/src/blocks/group/components/sorter/Sorter.tsx
Owners: @lawvs

refactor(group): split group menu
  libs/components/editor-blocks/src/blocks/group/GroupView.tsx
  libs/components/editor-blocks/src/blocks/group/group-menu/AddViewMenu.tsx
  libs/components/editor-blocks/src/blocks/group/group-menu/MainMenu.tsx
  libs/components/editor-blocks/src/blocks/group/group-menu/ViewsMenu.tsx
  libs/components/editor-blocks/src/blocks/group/group-menu/constant.tsx
  libs/components/editor-blocks/src/blocks/group/group-menu/index.ts
  libs/components/editor-blocks/src/blocks/group/group-menu/styles.ts
Owners: @lawvs

fix: view api
  libs/components/editor-core/src/recast-block/view.ts
Owners: @lawvs

fix(inline-menu): container position
  libs/components/editor-plugins/src/menu/inline-menu/Container.tsx
  libs/components/editor-plugins/src/menu/inline-menu/Plugin.tsx
Owners: none

feat: add frozen scroll method in editor.scrollManager, resolved #564
  apps/ligo-virgo/src/pages/workspace/docs/Page.tsx
  libs/components/editor-core/src/editor/scroll/scroll.ts
Owners: @lawvs

chore: fix codereview problems
  libs/components/editor-core/src/block-pendant/pendant-modify-panel/Select.tsx
  libs/components/editor-core/src/block-pendant/pendant-render/PandentRender.tsx
Owners: @lawvs

feat: jwst connectivity
  libs/components/editor-core/src/editor/editor.ts
  libs/datasource/db-service/src/services/base.ts
  libs/datasource/db-service/src/services/database/index.ts
  libs/datasource/jwt/src/adapter/index.ts
  libs/datasource/jwt/src/adapter/yjs/index.ts
  libs/datasource/jwt/src/index.ts
Owners: @lawvs, @darkskygit

fix lint format
  libs/components/editor-plugins/src/menu/command-menu/Container.tsx
Owners: none

refactor: refactor pendant history
  libs/components/editor-core/src/block-pendant/pendant-history-panel/PendantHistoryPanel.tsx
  libs/components/editor-core/src/block-pendant/pendant-popover/PendantPopover.tsx
  libs/components/editor-core/src/block-pendant/use-pendant.ts
  libs/components/editor-core/src/block-pendant/utils.ts
Owners: @lawvs

fix lint
  libs/components/editor-plugins/src/menu/inline-menu/Container.tsx
Owners: none

fix: popover obscured in kanban state, fixed #589
  libs/components/editor-blocks/src/blocks/group/scene-kanban/CardContext.tsx
Owners: @lawvs

opti: adjust page-tree position;
  apps/ligo-virgo/src/pages/workspace/docs/Page.tsx
Owners: none

opti: sidebar improve
  apps/ligo-virgo/src/pages/workspace/docs/Page.tsx
Owners: none

refactor: refactor input component, to support tab-index
  libs/components/editor-core/src/block-pendant/pendant-modify-panel/Email.tsx
  libs/components/editor-core/src/block-pendant/pendant-modify-panel/Location.tsx
  libs/components/editor-core/src/block-pendant/pendant-modify-panel/Phone.tsx
Owners: @lawvs

feat: add tab-index in select
  libs/components/editor-core/src/block-pendant/pendant-modify-panel/IconInput.tsx
  libs/components/editor-core/src/block-pendant/pendant-modify-panel/Select.tsx
  libs/components/editor-core/src/block-pendant/pendant-modify-panel/Text.tsx
  libs/components/ui/src/input/Input.tsx
Owners: @lawvs

chore: remove useless file
  libs/components/editor-plugins/src/block-property/Plugin.tsx
  libs/components/editor-plugins/src/block-property/View.tsx
Owners: none

fix(draw): close #512
  libs/components/board-state/src/tldraw-app.ts
Owners: none

fix commneu menu style
  libs/components/editor-plugins/src/menu/command-menu/Container.tsx
  libs/components/editor-plugins/src/menu/command-menu/Menu.tsx
Owners: none

fix: commneu menu style
  libs/components/editor-plugins/src/menu/command-menu/Menu.tsx
Owners: none

fix(draw): close #525
  libs/components/board-draw/src/components/command-panel/CommandPanel.tsx
Owners: none
