Repository joypix-mindz/mindz, changes with the owners that .github/CODEOWNERS names for each.
All owners: @darkskygit, @lawvs, @SaikaSakura

.github/CODEOWNERS:

# About code owners

# You can use a CODEOWNERS file to define individuals or teams that are responsible for code in a repository.

# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners


# =================
# configs
# =================

.* @darkskygit
babel.config.json @darkskygit
nx.json @darkskygit
tsconfig.base.json @darkskygit
**/project.json @darkskygit
**/tsconfig.json @darkskygit
**/tsconfig.*.json @darkskygit
**/.babelrc @darkskygit
**/babel.config.js @darkskygit
**/.* @darkskygit

# =================
# components
# =================

# editor-core
libs/components/editor-core @lawvs

# editor-blocks

# group block
libs/components/editor-blocks/src/blocks/group @lawvs
# todo block
libs/components/editor-blocks/src/blocks/todo @lawvs

libs/framework/virgo @SaikaSakura

# =================
# datasource
# =================

# feature flags
libs/datasource/feature-flags @lawvs

# jwt
libs/datasource/jwt @darkskygit

fix(i18n): default language select (#450)
  apps/venus/src/app/common/Header.tsx
  apps/venus/src/app/common/MobileHeader.tsx
  libs/components/layout/src/settings-sidebar/Settings/SettingsList.tsx
Owners: none

Fix: window.client.inspect not found (#452)
  libs/datasource/db-service/src/services/database/index.ts
Owners: none

fix: ignore node_modules watcher
  apps/ligo-virgo/webpack.config.js
Owners: none

feat(i18n): new translations
  libs/datasource/i18n/src/resources/index.ts
  libs/datasource/i18n/src/resources/sr.json
  libs/datasource/i18n/src/resources/zh-Hant.json
Owners: none

chore: clean
  .gitignore
  next.config.js
  package.json
Owners: @darkskygit

feat: add ci
  .github/workflows/build.yml
Owners: @darkskygit

feat: add dockerfile
  Dockerfile
Owners: none

feat: build and push image
  .github/workflows/build.yml
Owners: @darkskygit

fix: artifact
  .github/workflows/build.yml
Owners: @darkskygit

chore: remove github pages ci
  .github/workflows/build.yml
Owners: @darkskygit

Fix/ci (#3)
  .github/deployment/Dockerfile
  .github/deployment/nginx.conf
  .github/workflows/build.yml
  Dockerfile
Owners: @darkskygit

fix: ci cache key
  .github/workflows/build.yml
Owners: @darkskygit

fix: sync bug
  libs/components/affine-board/src/Board.tsx
  libs/components/affine-board/src/hooks/use-shapes.ts
  libs/datasource/db-service/src/services/base.ts
  libs/datasource/db-service/src/services/database/index.ts
  libs/datasource/jwt-rpc/src/websocket.ts
  libs/utils/src/lodash.ts
Owners: none

chore: trigger for i18n
  .github/workflows/venus.yml
Owners: @darkskygit

fix: venus i18n was included in venus folder
  .github/workflows/venus.yml
Owners: @darkskygit

fix: remove chaotic font css
  libs/components/board-draw/src/components/error-fallback/error-fallback.tsx
  libs/components/board-draw/src/components/loading/loading.tsx
  libs/components/board-shapes/src/image-util/image-util.tsx
  libs/components/board-shapes/src/video-util/video-util.tsx
  libs/components/common/src/lib/text/plugins/link.tsx
  libs/components/editor-blocks/src/components/text-manage/TextManage.tsx
  libs/components/editor-plugins/src/menu/command-menu/Categories.tsx
  libs/components/editor-plugins/src/menu/group-menu/Menu.tsx
  libs/components/editor-plugins/src/menu/inline-menu/menu-item/DropdownItem.tsx
  libs/components/editor-plugins/src/menu/link-menu/LinkMenu.tsx
  libs/components/ui/src/button/base-button.ts
  libs/components/ui/src/cascader/Cascader.tsx
  libs/components/ui/src/theme/theme.ts
Owners: none

chore: clean code
  libs/components/account/src/error.tsx
  libs/components/board-draw/src/components/error-fallback/error-fallback.tsx
Owners: none

feat: add theme change handler
  src/components/simple-counter/index.ts
  src/pages/_app.tsx
  src/pages/index.tsx
  src/styles/hooks.ts
  src/styles/index.ts
  src/styles/styled.ts
  src/styles/theme.ts
  src/styles/themeProvider.tsx
  src/styles/types.ts
Owners: none

fix: show up image menu option (#464)
  libs/components/editor-blocks/src/blocks/group/scene-kanban/CardItem.tsx
  libs/components/editor-blocks/src/components/upload/upload.tsx
Owners: @lawvs

feat: add system theme judgment
  src/styles/themeProvider.tsx
  src/styles/types.ts
  src/styles/utils.ts
Owners: none

feat: add auto mode in theme selection
  src/pages/index.tsx
  src/styles/themeProvider.tsx
  src/styles/types.ts
  src/styles/utils.ts
Owners: none

fix: venus logo use svg
  apps/venus/src/app/common/Footer.tsx
Owners: none

fix: page title support click to reload
  libs/components/layout/src/header/LayoutHeader.tsx
  libs/components/layout/src/header/Title.tsx
Owners: none

fix: add some tips for livedemo
  apps/ligo-virgo/src/pages/workspace/docs/Page.tsx
  libs/components/layout/src/header/LayoutHeader.tsx
  libs/components/layout/src/settings-sidebar/Comments/Comments.tsx
Owners: none

chore: manage files
  src/pages/index.tsx
  src/styles/themeProvider.tsx
  src/styles/utils/index.ts
  src/styles/utils/localStorageThemeHelper.ts
  src/styles/utils/systemThemeHelper.ts
Owners: none

feat: add emotion ssr in nextjs
  package.json
  pnpm-lock.yaml
  src/pages/_document.tsx
Owners: none

feat: udpate font style
  public/globals.css
Owners: none

feat: add live demo infomation
  libs/components/layout/src/header/LayoutHeader.tsx
  libs/components/layout/src/header/Logo/DiscordIcon.tsx
  libs/components/layout/src/header/Logo/InfoModal.tsx
  libs/components/layout/src/header/Logo/Logo.tsx
  libs/components/layout/src/header/Logo/LogoIcon.tsx
  libs/components/layout/src/header/Logo/ModalContent.tsx
  libs/components/layout/src/header/Logo/affine-text-logo.png
  libs/components/layout/src/header/Logo/index.ts
Owners: none

feat: add live demo infomation
  libs/components/layout/src/header/Logo/ModalContent.tsx
Owners: none

fix: copied
  apps/ligo-virgo/src/pages/workspace/docs/Page.tsx
  libs/components/layout/src/settings-sidebar/Comments/Comments.tsx
Owners: none

fix: upload layer incorrect
  libs/components/editor-blocks/src/components/upload/upload.tsx
Owners: none

Remove double exclammation mark for function that already returns a boolean
  libs/components/common/src/lib/text/EditableText.tsx
Owners: none

Move selection mark/cursor to end of markdown once done processing
  libs/components/common/src/lib/text/EditableText.tsx
Owners: none

fix: livedemo infomation color & copies
  libs/components/layout/src/header/LayoutHeader.tsx
  libs/components/layout/src/header/Logo/InfoModal.tsx
  libs/components/layout/src/header/Logo/ModalContent.tsx
Owners: none

feat(i18n): new translations
  libs/datasource/i18n/src/resources/bn.json
  libs/datasource/i18n/src/resources/fr.json
  libs/datasource/i18n/src/resources/index.ts
Owners: none

feat: update theme provider to dynamic
  src/pages/_app.tsx
  src/styles/themeProvider.tsx
Owners: none

fix: delete block leftMenu not delete (#472)
  libs/components/editor-core/src/editor/commands/block-commands.ts
  libs/components/editor-plugins/src/menu/left-menu/LeftMenu.tsx
  libs/components/editor-plugins/src/menu/left-menu/LeftMenuDraggable.tsx
Owners: @lawvs

chore: update cache time
  .github/deployment/nginx.conf
Owners: @darkskygit

fix: add block suite link
  apps/venus/src/app/common/Footer.tsx
Owners: none

chore: update contributors (#478)
  .all-contributorsrc
  README.md
Owners: @darkskygit
