Repository joypix-mindz/mindz, changes with the owners that .github/CODEOWNERS names for each.
All owners: @darkskygit, @lawvs, @SaikaSakura

.github/CODEOWNERS:

# About code owners

# You can use a CODEOWNERS file to define individuals or teams that are responsible for code in a repository.

# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners


# =================
# configs
# =================

.* @darkskygit
babel.config.json @darkskygit
nx.json @darkskygit
tsconfig.base.json @darkskygit
**/project.json @darkskygit
**/tsconfig.json @darkskygit
**/tsconfig.*.json @darkskygit
**/.babelrc @darkskygit
**/babel.config.js @darkskygit
**/.* @darkskygit

# =================
# components
# =================

# editor-core
libs/components/editor-core @lawvs

# editor-blocks

# group block
libs/components/editor-blocks/src/blocks/group @lawvs
# todo block
libs/components/editor-blocks/src/blocks/todo @lawvs

libs/framework/virgo @SaikaSakura

# =================
# datasource
# =================

# feature flags
libs/datasource/feature-flags @lawvs

# jwt
libs/datasource/jwt @darkskygit

docs: added CONTRIBUTING and CODE_OF_CONDUCT files (#175)
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
Owners: none

fix(group): delete group when there's no children
  libs/components/editor-blocks/src/blocks/grid/index.ts
Owners: none

feat: parent refresh event
  libs/datasource/jwt/src/adapter/yjs/listener.ts
  libs/datasource/jwt/src/block/abstract.ts
Owners: @darkskygit

fix(plugin): hide left menu when block change
  libs/components/editor-plugins/src/menu/group-menu/GropuMenu.tsx
  libs/components/editor-plugins/src/menu/left-menu/LeftMenuDraggable.tsx
Owners: none

fix: style ui
  libs/components/editor-blocks/src/blocks/group/GroupView.tsx
  libs/components/editor-blocks/src/blocks/text/TextView.tsx
  libs/components/editor-blocks/src/blocks/todo/TodoView.tsx
  libs/components/editor-blocks/src/components/text-manage/TextManage.tsx
  libs/components/ui/src/theme/theme.ts
Owners: @lawvs

fix: style ui
  libs/components/editor-blocks/src/blocks/page/PageView.tsx
Owners: none

fix: error catch (#182)
  libs/components/editor-plugins/src/menu/command-menu/Menu.tsx
Owners: none

fix: error catch (#181)
  libs/components/editor-plugins/src/menu/command-menu/Menu.tsx
Owners: none

refactor: remote data provider
  libs/datasource/jwt-rpc/src/indexeddb.ts
  libs/datasource/jwt-rpc/src/sqlite.ts
  libs/datasource/jwt/src/adapter/yjs/index.ts
  libs/datasource/jwt/src/adapter/yjs/provider.ts
  libs/datasource/jwt/src/index.ts
Owners: @darkskygit

refactor: local storage
  apps/ligo-virgo/src/pages/workspace/docs/Page.tsx
  libs/components/account/src/login/fs.tsx
  libs/components/account/src/login/index.tsx
  libs/components/layout/src/header/LayoutHeader.tsx
  libs/datasource/db-service/src/services/base.ts
  libs/datasource/db-service/src/services/database/index.ts
  libs/datasource/jwt-rpc/src/sqlite.ts
  libs/datasource/jwt/src/adapter/index.ts
  libs/datasource/jwt/src/adapter/yjs/index.ts
  libs/datasource/jwt/src/adapter/yjs/provider.ts
  libs/datasource/jwt/src/index.ts
  libs/datasource/state/src/user.ts
Owners: @darkskygit

docs: update docs link
  CONTRIBUTING.md
  README.md
Owners: none

fix: load data on first time
  libs/datasource/jwt-rpc/src/sqlite.ts
Owners: none

fix: e2e
  libs/components/account/src/login/fs.tsx
Owners: none

fix: console error (#180)
  apps/ligo-virgo/src/pages/workspace/docs/components/tabs/Tabs.tsx
  libs/components/layout/src/workspace-sidebar/page-tree/tree-item/styles.ts
Owners: none

chore: typo
  apps/ligo-virgo/webpack.config.js
  apps/venus/webpack.config.js
Owners: none

refactor: change pendant popover trigger to click
  libs/components/editor-blocks/src/blocks/group/scene-kanban/CardContext.tsx
  libs/components/editor-core/src/block-pendant/pendant-render/PandentRender.tsx
Owners: @lawvs

fix: add message after link copied, fixed #131
  libs/components/layout/src/settings-sidebar/Settings/use-settings.ts
Owners: none

feat: fix-track-pad-scroll
  libs/components/editor-core/src/RenderRoot.tsx
  libs/components/editor-core/src/Selection.tsx
Owners: @lawvs

fix: hold pendant popover when completed incorrectly
  libs/components/editor-core/src/block-pendant/pendant-operation-panel/CreatePendantPanel.tsx
  libs/components/editor-core/src/block-pendant/pendant-operation-panel/UpdatePendantPanel.tsx
  libs/components/editor-core/src/block-pendant/pendant-operation-panel/hooks.ts
Owners: @lawvs

fix: add moveCursor function
  libs/components/editor-core/src/editor/selection/selection.ts
Owners: @lawvs

fix: lint
  libs/components/editor-blocks/src/components/text-manage/TextManage.tsx
Owners: none

fix: windows zoom (#190)
  libs/components/board-state/src/tldraw-app.ts
Owners: none

feat: update animate of pandent trigger line
  libs/components/editor-core/src/block-pendant/BlockPendantProvider.tsx
  libs/components/editor-core/src/block-pendant/pendant-history-panel/PendantHistoryPanel.tsx
  libs/components/editor-core/src/block-pendant/pendant-popover/PendantPopover.tsx
Owners: @lawvs

improvement: 1.left toolbar hover style#148;
  apps/ligo-virgo/src/pages/workspace/docs/collapsible-page-tree.tsx
  apps/ligo-virgo/src/pages/workspace/docs/workspace-name.tsx
  libs/components/common/src/lib/collapsible-title/index.tsx
  libs/components/layout/src/header/EditorBoardSwitcher/StatusTrack.tsx
  libs/components/layout/src/header/LayoutHeader.tsx
  libs/components/layout/src/workspace-sidebar/activities/activities.tsx
  libs/components/layout/src/workspace-sidebar/dot-icon/DotIcon.tsx
  libs/components/layout/src/workspace-sidebar/dot-icon/index.ts
  libs/components/layout/src/workspace-sidebar/page-tree/DndTree.tsx
  libs/components/layout/src/workspace-sidebar/page-tree/PageTree.tsx
  libs/components/layout/src/workspace-sidebar/page-tree/tree-item/TreeItem.tsx
  libs/components/layout/src/workspace-sidebar/page-tree/tree-item/styles.ts
Owners: none

refactor: refactor paste behavior (not support selection)
  libs/components/editor-core/src/editor/clipboard/browser-clipboard-back.ts
  libs/components/editor-core/src/editor/clipboard/browser-clipboard.ts
  libs/components/editor-core/src/editor/clipboard/paste.ts
  libs/components/editor-core/src/editor/clipboard/utils.ts
Owners: @lawvs

fix: change edgeless tool selected color
  libs/components/board-draw/src/components/tools-panel/ToolsPanel.tsx
Owners: none

fix: fix ui problems
  libs/components/editor-core/src/block-pendant/BlockPendantProvider.tsx
  libs/components/editor-core/src/block-pendant/pendant-operation-panel/CreatePendantPanel.tsx
  libs/components/editor-core/src/block-pendant/pendant-operation-panel/UpdatePendantPanel.tsx
  libs/components/ui/src/select/Select.tsx
Owners: @lawvs

fix(editor): gap between block
  libs/components/account/src/login/fs.tsx
  libs/components/editor-blocks/src/blocks/group/GroupView.tsx
  libs/components/editor-blocks/src/components/BlockContainer/BlockContainer.tsx
  libs/components/editor-core/src/block-pendant/BlockPendantProvider.tsx
  libs/components/editor-plugins/src/menu/left-menu/LeftMenuDraggable.tsx
Owners: @lawvs

feat(whiteboard): cursor style when dragging
  libs/components/board-draw/src/TlDraw.tsx
  libs/components/board-state/src/tldraw-app.ts
  libs/components/board-tools/src/hand-draw/hand-draw-tool.ts
  libs/components/board-types/src/types.ts
  libs/components/editor-plugins/src/menu/left-menu/LeftMenuPlugin.tsx
Owners: none

chroe: update contributors
  .all-contributorsrc
  README.md
Owners: @darkskygit

chore: arm64 images
  .github/workflows/affine.yml
  .vscode/settings.json
Owners: @darkskygit

chore: arm64 images
  .github/deployment/Dockerfile-affine-multiplatform
  .github/workflows/affine.yml
Owners: @darkskygit

fix: ci
  .github/deployment/Dockerfile-affine-multiplatform
Owners: @darkskygit

fix: ci
  .github/workflows/affine.yml
Owners: @darkskygit

feat: update help info of pendant field title
  libs/components/editor-core/src/block-pendant/PendantTag.tsx
  libs/components/editor-core/src/block-pendant/pendant-operation-panel/CreatePendantPanel.tsx
  libs/components/editor-core/src/block-pendant/pendant-operation-panel/FieldTitleInput.tsx
  libs/components/editor-core/src/block-pendant/pendant-operation-panel/UpdatePendantPanel.tsx
Owners: @lawvs

feat: support keep block in view
  libs/components/editor-core/src/editor/selection/selection.ts
Owners: @lawvs

feat: login reduce
  libs/components/account/src/login/firebase.tsx
  libs/components/account/src/login/fs.tsx
  libs/components/account/src/login/index.tsx
  libs/components/layout/src/header/Title.tsx
Owners: none

feat: repair paste cursor
  libs/components/common/src/lib/text/slate-utils.ts
  libs/components/editor-core/src/editor/block/block-helper.ts
  libs/components/editor-core/src/editor/clipboard/paste.ts
  libs/components/editor-core/src/editor/clipboard/utils.ts
  libs/components/editor-core/src/editor/selection/selection.ts
Owners: @lawvs

feat: header switcher
  libs/components/layout/src/header/EditorBoardSwitcher/Switcher.tsx
  libs/components/layout/src/header/LayoutHeader.tsx
Owners: none

fix: insert correct selection after paste
  libs/components/editor-core/src/editor/clipboard/paste.ts
Owners: @lawvs
