Repository joypix-mindz/mindz, changes with the owners that .github/CODEOWNERS names for each.
All owners: @darkskygit, @lawvs, @SaikaSakura

fix: activities make chrome crash;
  libs/components/layout/src/workspace-sidebar/activities/activities.tsx
Owners: none

fix: hide groupBy tag at kanban
  libs/components/editor-core/src/block-pendant/pendant-render/PandentRender.tsx
Owners: @lawvs

refactor: refactor lock scroll
  apps/ligo-virgo/src/pages/workspace/docs/Page.tsx
  apps/ligo-virgo/src/styles.css
  libs/components/editor-core/src/editor/scroll/scroll.ts
Owners: @lawvs

fix(draw): close #515
  libs/components/board-shapes/src/editor-util/EditorUtil.tsx
Owners: none

fix(plugin): make group menu invisible when leave
  apps/ligo-virgo/src/index.tsx
  libs/components/affine-board/src/Board.tsx
  libs/components/affine-editor/src/Editor.tsx
  libs/components/affine-editor/src/create-editor.ts
  libs/components/common/src/lib/list/index.tsx
  libs/components/editor-core/src/editor/editor.ts
  libs/components/editor-plugins/src/menu/group-menu/GropuMenu.tsx
  libs/components/layout/src/settings-sidebar/Settings/util/handle-export.ts
Owners: @lawvs

chore: update view text
  libs/components/editor-blocks/src/blocks/group/group-menu/AddViewMenu.tsx
  libs/components/editor-blocks/src/blocks/group/group-menu/ViewsMenu.tsx
  libs/components/editor-blocks/src/blocks/group/group-menu/constant.tsx
  libs/components/editor-core/src/recast-block/view.ts
Owners: @lawvs

fix(ui): tooltip style #505
  libs/components/ui/src/popover/Popover.tsx
  libs/components/ui/src/tooltip/Tooltip.tsx
Owners: none

feat(icon): update icon
  libs/components/icons/src/auto-icons/arrow-big/arrow-big.svg
  libs/components/icons/src/auto-icons/arrow-big/arrow-big.tsx
  libs/components/icons/src/auto-icons/full-screen/full-screen.svg
  libs/components/icons/src/auto-icons/index.ts
  libs/components/icons/src/auto-icons/lock/lock.svg
  libs/components/icons/src/auto-icons/lock/lock.tsx
  libs/components/icons/src/auto-icons/logo/logo.svg
  libs/components/icons/src/auto-icons/logo/logo.tsx
  libs/components/icons/src/auto-icons/unlock/unlock.svg
  libs/components/icons/src/auto-icons/unlock/unlock.tsx
Owners: none

fix: #516 commneu menu style
  libs/components/editor-blocks/src/blocks/group/GroupView.tsx
  libs/components/editor-plugins/src/menu/inline-menu/menu-item/DropdownItem.tsx
  libs/components/editor-plugins/src/menu/inline-menu/menu-item/IconItem.tsx
Owners: @lawvs

opti: topbar style
  apps/ligo-virgo/src/pages/workspace/docs/Page.tsx
  libs/components/editor-core/src/RenderRoot.tsx
  libs/components/icons/src/auto-icons/index.ts
  libs/components/layout/src/header/EditorBoardSwitcher/StatusIcon.tsx
  libs/components/layout/src/header/EditorBoardSwitcher/StatusTrack.tsx
  libs/components/layout/src/header/LayoutHeader.tsx
  libs/components/ui/src/button/IconButton.tsx
Owners: @lawvs

feat: grid item style
  libs/components/editor-blocks/src/blocks/grid-item/GridItem.tsx
  libs/components/editor-blocks/src/blocks/grid/GirdHandle.tsx
  libs/components/editor-blocks/src/blocks/grid/Grid.tsx
  libs/components/editor-core/src/Selection.tsx
  libs/components/editor-core/src/editor/block/block-helper.ts
  libs/components/editor-core/src/editor/selection/selection.ts
Owners: @lawvs

feat(draw): lock shape
  libs/components/board-commands/src/index.ts
  libs/components/board-commands/src/set-shapes-lock-status.ts
  libs/components/board-draw/src/components/command-panel/CommandPanel.tsx
  libs/components/board-draw/src/components/command-panel/LockOperation.tsx
  libs/components/board-draw/src/components/command-panel/utils/use-config.ts
  libs/components/board-state/src/tldraw-app.ts
  libs/components/board-state/src/types/commands.ts
Owners: none

fix(ligo-virgo): icons page scroll
  apps/ligo-virgo/src/pages/tools/icons/Icons.tsx
Owners: none

feat: fix grid drag border
  libs/components/editor-blocks/src/blocks/grid/Grid.tsx
Owners: none

fix: typo
  libs/components/editor-plugins/src/menu/inline-menu/menu-item/DropdownItem.tsx
Owners: none

fix: commond menu in whitebord
  libs/components/editor-plugins/src/menu/command-menu/Container.tsx
  libs/components/editor-plugins/src/menu/command-menu/Menu.tsx
Owners: none

feat: rewrite message component
  apps/ligo-virgo/src/pages/tools/icons/Icons.tsx
  libs/components/ui/package.json
  libs/components/ui/src/message/Message.tsx
  libs/components/ui/src/message/MessageContent.tsx
  libs/components/ui/src/message/base.tsx
  libs/components/ui/src/message/index.tsx
  libs/components/ui/src/message/success.tsx
  libs/components/ui/src/message/types.ts
  libs/components/ui/src/notification/Notification.tsx
  libs/components/ui/src/notification/index.ts
Owners: none

feat: fix class name
  libs/components/editor-blocks/src/blocks/grid/GirdHandle.tsx
Owners: none

fix: input placeholder display error when the width is not enough
  libs/components/ui/src/input/Input.tsx
Owners: none

feat: add default title when pendant type change, resolved #616
  libs/components/editor-core/src/block-pendant/pendant-operation-panel/CreatePendantPanel.tsx
  libs/components/editor-core/src/block-pendant/pendant-render/PandentRender.tsx
Owners: @lawvs

feat(templates): remote dialog templates
  apps/ligo-virgo/src/pages/AppRoutes.tsx
  apps/ligo-virgo/src/pages/templates/index.tsx
  apps/ligo-virgo/src/pages/templates/template-data.ts
  apps/ligo-virgo/src/pages/workspace/docs/Page.tsx
  apps/ligo-virgo/src/pages/workspace/docs/templates-portal.tsx
Owners: none

fix: rebase glitch
  Dockerfile-keck
  README.md
  libs/components/editor-core/src/RenderRoot.tsx
  libs/components/editor-core/src/drag-drop-wrapper/DragDropWrapper.tsx
  libs/components/editor-core/src/editor/scroll/scroll.ts
  libs/components/editor-core/src/recast-block/view.ts
  libs/components/editor-plugins/src/menu/command-menu/Container.tsx
  libs/components/editor-plugins/src/menu/inline-menu/Container.tsx
  libs/components/ui/src/tooltip/Tooltip.tsx
  libs/datasource/feature-flags/src/config.ts
Owners: @lawvs

docs(guideline): chagne brand name
  docs/affine-git-guideline.md
Owners: none

style(formatting): update .prettierignore
  .prettierignore
Owners: @darkskygit

feat: show card action only on hover
  libs/components/editor-blocks/src/blocks/group/scene-kanban/CardItem.tsx
Owners: @lawvs

chore: tweak kanban group gap
  libs/components/editor-blocks/src/blocks/group/scene-kanban/styles.ts
Owners: @lawvs

refactor(src): change affine to AFFiNE in string
  apps/ligo-virgo/src/index.html
  apps/ligo-virgo/src/pages/ui/index.tsx
  apps/ligo-virgo/webpack.config.js
  docs/affine-icons-user-guide.md
  docs/how-to-add-ui-component-in-affine.md
  libs/components/account/src/login/firebase.tsx
  libs/components/common/src/lib/Logo/LogoImg.tsx
  libs/components/editor-core/src/editor/editor.ts
  libs/components/layout/src/header/file-exporter/file-exporter.ts
  libs/components/layout/src/settings-sidebar/Settings/util/file-exporter.ts
  libs/datasource/db-service/src/services/editor-block/templates/group-templates.ts
  libs/datasource/db-service/src/services/editor-block/templates/template-factory.ts
  libs/datasource/jwt/src/adapter/yjs/index.ts
  libs/utils/src/types/user-workspace.ts
Owners: @lawvs, @darkskygit

refactor(src): restore apk accept to application/affine
  libs/datasource/jwt/src/adapter/yjs/index.ts
Owners: @darkskygit

docs(readme): remove unused description
  README.md
Owners: none

feat: error message will be appear when tag edit empty, resolved #13
  libs/components/editor-core/src/block-pendant/pendant-operation-panel/CreatePendantPanel.tsx
  libs/components/editor-core/src/block-pendant/pendant-operation-panel/UpdatePendantPanel.tsx
  libs/components/editor-core/src/block-pendant/utils.ts
Owners: @lawvs

feat: add @emotion/babel-plugin
  apps/ligo-virgo/webpack.config.js
Owners: none

fix(kanban): kanban reorder
  libs/components/editor-blocks/src/blocks/group/scene-kanban/dndable/helper.ts
  libs/components/editor-blocks/src/blocks/group/scene-kanban/dndable/wrapper/use-dndable.ts
Owners: @lawvs

fixed: when remove all tag, editor will throw error in tag history popover, fixed #20
  libs/components/editor-core/src/block-pendant/pendant-history-panel/PendantHistoryPanel.tsx
Owners: @lawvs

fix(plugin): fix left menu behavior
  libs/components/editor-core/src/RenderRoot.tsx
  libs/components/editor-core/src/Selection.tsx
  libs/components/editor-core/src/editor/drag-drop/drag-drop.ts
  libs/components/editor-core/src/editor/editor.ts
  libs/components/editor-core/src/editor/plugin/hooks.ts
  libs/components/editor-core/src/editor/selection/selection.ts
  libs/components/editor-core/src/editor/types.ts
  libs/components/editor-plugins/src/menu/group-menu/GropuMenu.tsx
  libs/components/editor-plugins/src/menu/left-menu/LeftMenu.tsx
  libs/components/editor-plugins/src/menu/left-menu/LeftMenuDraggable.tsx
  libs/components/editor-plugins/src/menu/left-menu/LeftMenuPlugin.tsx
Owners: @lawvs

fix: fix spelling mistakes
  libs/components/editor-core/src/block-pendant/utils.ts
Owners: @lawvs

fix: cancel identify user wait
  libs/datasource/state/src/user.ts
Owners: none

fix command menu don's vanish on scorlling
  libs/components/editor-core/src/editor/types.ts
  libs/components/editor-plugins/src/menu/command-menu/Menu.tsx
Owners: @lawvs

Update issue templates
  .github/ISSUE_TEMPLATE/---bug-report.md
  .github/ISSUE_TEMPLATE/---feature-request.md
  .github/ISSUE_TEMPLATE/---improvement-request.md
Owners: @darkskygit

Create config.yml
  .github/ISSUE_TEMPLATE/config.yml
Owners: @darkskygit

Update config.yml
  .github/ISSUE_TEMPLATE/config.yml
Owners: @darkskygit

.github/CODEOWNERS:

# About code owners

# You can use a CODEOWNERS file to define individuals or teams that are responsible for code in a repository.

# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners


# =================
# configs
# =================

.* @darkskygit
babel.config.json @darkskygit
nx.json @darkskygit
tsconfig.base.json @darkskygit
**/project.json @darkskygit
**/tsconfig.json @darkskygit
**/tsconfig.*.json @darkskygit
**/.babelrc @darkskygit
**/babel.config.js @darkskygit
**/.* @darkskygit

# =================
# components
# =================

# editor-core
libs/components/editor-core @lawvs

# editor-blocks

# group block
libs/components/editor-blocks/src/blocks/group @lawvs
# todo block
libs/components/editor-blocks/src/blocks/todo @lawvs

libs/framework/virgo @SaikaSakura

# =================
# datasource
# =================

# feature flags
libs/datasource/feature-flags @lawvs

# jwt
libs/datasource/jwt @darkskygit
