Repository joypix-mindz/mindz, changes with the owners that .github/CODEOWNERS names for each.
All owners: @darkskygit, @lawvs, @SaikaSakura

.github/CODEOWNERS:

# About code owners

# You can use a CODEOWNERS file to define individuals or teams that are responsible for code in a repository.

# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners


# =================
# configs
# =================

.* @darkskygit
babel.config.json @darkskygit
nx.json @darkskygit
tsconfig.base.json @darkskygit
**/project.json @darkskygit
**/tsconfig.json @darkskygit
**/tsconfig.*.json @darkskygit
**/.babelrc @darkskygit
**/babel.config.js @darkskygit
**/.* @darkskygit

# =================
# components
# =================

# editor-core
libs/components/editor-core @lawvs

# editor-blocks

# group block
libs/components/editor-blocks/src/blocks/group @lawvs
# todo block
libs/components/editor-blocks/src/blocks/todo @lawvs

libs/framework/virgo @SaikaSakura

# =================
# datasource
# =================

# feature flags
libs/datasource/feature-flags @lawvs

# jwt
libs/datasource/jwt @darkskygit

chore: trigger
  .github/workflows/check.yml
Owners: @darkskygit

feat: block remove event
  libs/datasource/jwt/src/block/abstract.ts
Owners: @darkskygit

fix(whiteboard): select text in whiteboard
  libs/components/board-draw/src/components/zoom-bar/ZoomBar.tsx
  libs/components/board-shapes/src/editor-util/EditorUtil.tsx
Owners: none

fix: ci
  .github/workflows/check.yml
Owners: @darkskygit

fix: ci
  .github/workflows/check.yml
  .github/workflows/nx-cloud-main.yml
Owners: @darkskygit

fix(plugin): left menu item refresh on blockId change
  libs/components/editor-core/src/editor/index.ts
  libs/components/editor-core/src/editor/plugin/hooks.ts
  libs/components/editor-core/src/editor/types.ts
  libs/components/editor-plugins/src/menu/left-menu/LeftMenu.tsx
  libs/components/editor-plugins/src/menu/left-menu/LeftMenuDraggable.tsx
  libs/components/editor-plugins/src/menu/left-menu/LeftMenuPlugin.tsx
Owners: @lawvs

delete params
  libs/components/editor-blocks/src/components/text-manage/TextManage.tsx
Owners: none

fix Cursor move up and down error
  libs/components/editor-blocks/src/components/text-manage/TextManage.tsx
Owners: none

feat(Switcher): change words
  libs/components/layout/src/header/EditorBoardSwitcher/Switcher.tsx
Owners: none

chore: temp disable parallel due to cache issues
  .github/workflows/check.yml
Owners: @darkskygit

Update notify.mjs
  tools/notify.mjs
Owners: none

chore: update cypress element getter
  apps/ligo-virgo-e2e/src/support/app.po.ts
Owners: none

fix page title tranform
  libs/components/editor-blocks/src/blocks/page/PageView.tsx
  libs/components/editor-plugins/src/menu/command-menu/Menu.tsx
  libs/components/editor-plugins/src/menu/inline-menu/Container.tsx
Owners: none

chore: prefer const
  libs/components/editor-plugins/src/menu/command-menu/Menu.tsx
  libs/components/editor-plugins/src/menu/inline-menu/Container.tsx
Owners: none

style: update code style
  libs/components/editor-core/src/editor/clipboard/browser-clipboard.ts
Owners: @lawvs

Update README.md
  README.md
Owners: none

fix: clean ReferenceMenuPlugin side effect
  libs/components/editor-plugins/src/menu/reference-menu/Container.tsx
  libs/components/editor-plugins/src/menu/reference-menu/Plugin.tsx
  libs/components/editor-plugins/src/menu/reference-menu/ReferenceMenu.tsx
  libs/components/editor-plugins/src/menu/reference-menu/index.ts
Owners: none

Update README.md
  README.md
Owners: none

opti: 1.page tree; 2. icon invert; 3.topbar;
  apps/ligo-virgo/src/pages/workspace/docs/components/tabs/Tabs.tsx
  libs/components/layout/src/header/LayoutHeader.tsx
  libs/components/layout/src/settings-sidebar/ContainerTabs/ContainerTabs.tsx
  libs/components/layout/src/settings-sidebar/Settings/SettingsPanel.tsx
  libs/components/layout/src/workspace-sidebar/page-tree/tree-item/TreeItem.tsx
  libs/components/layout/src/workspace-sidebar/page-tree/tree-item/tree-item.module.scss
Owners: none

fix page title tranform
  libs/components/editor-blocks/src/blocks/page/PageView.tsx
Owners: none

feat: add selection function
  libs/components/editor-core/src/editor/selection/selection.ts
Owners: @lawvs

feat: add selection function
  libs/components/editor-core/src/editor/selection/selection.ts
Owners: @lawvs

feat: new grid drop logic
  libs/components/editor-core/src/editor/commands/block-commands.ts
  libs/components/editor-core/src/editor/drag-drop/drag-drop.ts
  libs/components/editor-plugins/src/menu/command-menu/Menu.tsx
  libs/components/editor-plugins/src/menu/left-menu/LeftMenuPlugin.tsx
Owners: @lawvs

fix:lint
  libs/components/editor-core/src/editor/selection/selection.ts
Owners: @lawvs

feat: basic db support
  .vscode/settings.json
  apps/ligo-virgo/webpack.config.js
  libs/datasource/jwt-rpc/package.json
  libs/datasource/jwt-rpc/src/index.ts
  libs/datasource/jwt-rpc/src/indexeddb.ts
  libs/datasource/jwt-rpc/src/sqlite.ts
  libs/datasource/jwt/package.json
  libs/datasource/jwt/src/adapter/yjs/index.ts
  pnpm-lock.yaml
Owners: @darkskygit

feat: tips bar
  libs/components/layout/src/header/LayoutHeader.tsx
Owners: none

feat: migrate to styled
  libs/components/layout/src/workspace-sidebar/page-tree/tree-item/styles.ts
Owners: none

refactor: update component styles
  libs/components/layout/src/workspace-sidebar/page-tree/tree-item/MoreActions.tsx
  libs/components/layout/src/workspace-sidebar/page-tree/tree-item/TreeItem.tsx
Owners: none

chore: remove css
  libs/components/layout/src/workspace-sidebar/page-tree/tree-item/tree-item.module.scss
Owners: none

chore: tweak styles
  libs/components/layout/src/workspace-sidebar/page-tree/tree-item/styles.ts
Owners: none

chore: update collasp page styles
  apps/ligo-virgo/src/pages/workspace/docs/collapsible-page-tree.tsx
Owners: none

feat: binary export
  .vscode/settings.json
  libs/datasource/db-service/src/services/database/index.ts
  libs/datasource/jwt-rpc/src/sqlite.ts
  libs/datasource/jwt/src/adapter/yjs/index.ts
  pnpm-lock.yaml
Owners: @darkskygit

Update Dockerfile-affine
  .github/deployment/Dockerfile-affine
Owners: @darkskygit

fix:lint
  libs/components/editor-plugins/src/menu/command-menu/Menu.tsx
Owners: none

fix:commend-menu postion
  libs/components/editor-plugins/src/menu/command-menu/Menu.tsx
Owners: none

style: update code style
  libs/components/editor-core/src/editor/clipboard/clipboard-populator.ts
Owners: @lawvs

fix: cancel kanban mouse down event
  libs/components/editor-blocks/src/blocks/group/scene-kanban/CardContainer.tsx
Owners: @lawvs

feat: fix review
  libs/components/editor-plugins/src/menu/command-menu/Menu.tsx
Owners: none

feat: fix backspeace
  libs/components/editor-blocks/src/blocks/text/TextView.tsx
  libs/components/editor-plugins/src/menu/command-menu/Menu.tsx
Owners: none

opti: 1.right panel trigger button cannot click#176;
  apps/ligo-virgo/src/pages/workspace/docs/components/tabs/Tabs.tsx
  libs/components/layout/src/header/EditorBoardSwitcher/StatusIcon.tsx
  libs/components/layout/src/header/EditorBoardSwitcher/StatusText.tsx
  libs/components/layout/src/header/EditorBoardSwitcher/StatusTrack.tsx
  libs/components/layout/src/header/EditorBoardSwitcher/Switcher.tsx
  libs/components/layout/src/header/LayoutHeader.tsx
Owners: none
