Repository joypix-mindz/mindz, changes with the owners that .github/CODEOWNERS names for each.
All owners: @darkskygit, @lawvs, @SaikaSakura

.github/CODEOWNERS:

# About code owners

# You can use a CODEOWNERS file to define individuals or teams that are responsible for code in a repository.

# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners


# =================
# configs
# =================

.* @darkskygit
babel.config.json @darkskygit
nx.json @darkskygit
tsconfig.base.json @darkskygit
**/project.json @darkskygit
**/tsconfig.json @darkskygit
**/tsconfig.*.json @darkskygit
**/.babelrc @darkskygit
**/babel.config.js @darkskygit
**/.* @darkskygit

# =================
# components
# =================

# editor-core
libs/components/editor-core @lawvs

# editor-blocks

# group block
libs/components/editor-blocks/src/blocks/group @lawvs
# todo block
libs/components/editor-blocks/src/blocks/todo @lawvs

libs/framework/virgo @SaikaSakura

# =================
# datasource
# =================

# feature flags
libs/datasource/feature-flags @lawvs

# jwt
libs/datasource/jwt @darkskygit

Update Jobs.md
  docs/Jobs.md
Owners: none

feat: sync with keck
  apps/keck/src/utils.ts.bak
  apps/ligo-virgo/proxy.conf.json
  libs/datasource/db-service/src/services/database/index.ts
  libs/datasource/jwt-rpc/src/keckprovider.ts
  libs/datasource/jwt-rpc/src/processor.ts
  libs/datasource/jwt-rpc/src/websocket.ts
  libs/datasource/jwt-rpc/src/wsprovider.ts
  libs/datasource/jwt/src/types/index.ts
  libs/datasource/jwt/src/yjs/index.ts
  libs/datasource/jwt/src/yjs/provider.ts
  package.json
Owners: @darkskygit

feat: sync to keck
  libs/datasource/db-service/src/services/database/index.ts
  libs/datasource/jwt-rpc/src/handler.ts
  libs/datasource/jwt-rpc/src/index.ts
  libs/datasource/jwt/src/yjs/index.ts
  libs/datasource/jwt/src/yjs/provider.ts
Owners: @darkskygit

fix: ci
  .github/workflows/affine-keck.yml
Owners: @darkskygit

fix: keck
  .github/workflows/affine-keck.yml
Owners: @darkskygit

fix: add feature flag token to env
  apps/ligo-virgo/webpack.config.js
Owners: none

Fix/venus spanish (#423)
  apps/venus/src/app/i18n/resources/es.json
Owners: none

Fix/venus spanish (#423) (#425)
  apps/venus/src/app/i18n/resources/es.json
Owners: none

fix: can not convert url text to link after paste
  libs/components/editor-core/src/editor/clipboard/clipboardUtils.ts
  libs/components/editor-core/src/editor/clipboard/utils.ts
Owners: @lawvs

fix: double link icon size error
  libs/components/common/src/lib/text/plugins/DoubleLink.tsx
Owners: none

feat(code): enhance markdown parse code
  libs/components/affine-editor/src/create-editor.ts
  libs/components/editor-blocks/package.json
  libs/components/editor-blocks/src/blocks/code/index.ts
  libs/components/editor-blocks/src/blocks/text/TextBlock.tsx
  libs/components/editor-core/src/editor/clipboard/clipboardUtils.ts
  pnpm-lock.yaml
Owners: @lawvs

fix(code): add robust
  libs/components/editor-blocks/src/blocks/code/index.ts
Owners: none

fix: remove special menu
  libs/components/common/src/lib/list/index.tsx
  libs/components/editor-plugins/src/menu/command-menu/config.ts
Owners: none

chore: clean code
  libs/components/editor-plugins/src/menu/command-menu/CommandMenu.tsx
  libs/components/editor-plugins/src/menu/command-menu/Container.tsx
  libs/components/editor-plugins/src/menu/command-menu/Menu.tsx
  libs/components/editor-plugins/src/menu/command-menu/config.ts
Owners: none

fix: ime with command menu
  libs/components/editor-plugins/src/menu/command-menu/Container.tsx
Owners: none

fix(code): langs[lang] is not a function
  libs/components/editor-blocks/src/blocks/code/CodeView.tsx
Owners: none

fix: can't add image and delete more action button (#430)
  libs/components/editor-blocks/src/blocks/image/ImageView.tsx
  libs/components/editor-blocks/src/blocks/text/TextView.tsx
  libs/components/editor-plugins/src/menu/inline-menu/utils.ts
Owners: none

feat: add zh_Hant for venus (#431)
  apps/venus/src/app/i18n/resources/index.ts
  apps/venus/src/app/i18n/resources/zh-Hant.json
Owners: none

fix: lang select in code block is insanity
  libs/components/editor-blocks/src/blocks/code/CodeView.tsx
  libs/components/ui/src/select/Select.tsx
Owners: none

GitHub Doc Updates (#421)
  README.md
  docs/types-of-contributions.md
Owners: none

fix: inline menu position (#433)
  libs/components/editor-plugins/src/menu/inline-menu/Container.tsx
  libs/components/ui/src/theme/theme.ts
Owners: none

Merge to master (#435)
  README.md
  apps/venus/src/app/i18n/resources/index.ts
  apps/venus/src/app/i18n/resources/zh-Hant.json
  docs/types-of-contributions.md
  libs/components/affine-editor/src/create-editor.ts
  libs/components/common/src/lib/list/index.tsx
  libs/components/common/src/lib/text/plugins/DoubleLink.tsx
  libs/components/editor-blocks/package.json
  libs/components/editor-blocks/src/blocks/code/CodeView.tsx
  libs/components/editor-blocks/src/blocks/code/index.ts
  libs/components/editor-blocks/src/blocks/image/ImageView.tsx
  libs/components/editor-blocks/src/blocks/text/TextBlock.tsx
  libs/components/editor-blocks/src/blocks/text/TextView.tsx
  libs/components/editor-core/src/editor/clipboard/clipboardUtils.ts
  libs/components/editor-core/src/editor/clipboard/utils.ts
  libs/components/editor-plugins/src/menu/command-menu/CommandMenu.tsx
  libs/components/editor-plugins/src/menu/command-menu/Container.tsx
  libs/components/editor-plugins/src/menu/command-menu/Menu.tsx
  libs/components/editor-plugins/src/menu/command-menu/config.ts
  libs/components/editor-plugins/src/menu/inline-menu/Container.tsx
  libs/components/editor-plugins/src/menu/inline-menu/utils.ts
  libs/components/ui/src/select/Select.tsx
  libs/components/ui/src/theme/theme.ts
  pnpm-lock.yaml
Owners: @lawvs

fix: close select popover after mouse leave code block
  libs/components/editor-blocks/src/blocks/code/CodeView.tsx
  libs/components/ui/src/select/Select.tsx
Owners: none

docs: add jobs
  docs/Jobs.md
  docs/affine.pro.md
Owners: none

docs: update job docs structure
  README.md
  docs/jobs/affine.pro.md
  docs/jobs/mysc.app.md
  docs/jobs/summary.md
Owners: none

fix: typo
  docs/jobs/summary.md
Owners: none

Update affine.pro.md
  docs/jobs/affine.pro.md
Owners: none

Update affine.pro.md
  docs/jobs/affine.pro.md
Owners: none

Update affine.pro.md
  docs/jobs/affine.pro.md
Owners: none

feat: add Serbian language to venus (#441)
  apps/venus/src/app/i18n/resources/index.ts
  apps/venus/src/app/i18n/resources/sr.json
Owners: none

refactor: redesign loading workspace db
  libs/datasource/db-service/src/services/database/index.ts
  libs/datasource/jwt/src/index.ts
Owners: @darkskygit

chore: remove unuse site logic
  libs/datasource/jwt/src/types/index.ts
Owners: @darkskygit

feat: affine-embed-header
  .github/deployment/Dockerfile-affine
  .github/workflows/livedemo.yml
  apps/ligo-virgo/src/template.html
  apps/ligo-virgo/webpack.config.js
Owners: @darkskygit

Update affine.pro.md
  docs/jobs/affine.pro.md
Owners: none

feat: add German language to venus (#443)
  apps/venus/src/app/i18n/resources/de.json
  apps/venus/src/app/i18n/resources/index.ts
Owners: none

fix: connection state
  libs/datasource/jwt/src/yjs/provider.ts
Owners: @darkskygit

refactor: jd
  README.md
Owners: none

Merge to master (#445)
  .github/deployment/Dockerfile-affine
  .github/workflows/livedemo.yml
  README.md
  apps/ligo-virgo/src/template.html
  apps/ligo-virgo/webpack.config.js
  apps/venus/src/app/i18n/resources/de.json
  apps/venus/src/app/i18n/resources/index.ts
  apps/venus/src/app/i18n/resources/sr.json
  docs/Jobs.md
  docs/jobs/affine.pro.md
  docs/jobs/mysc.app.md
  docs/jobs/summary.md
  libs/components/editor-blocks/src/blocks/code/CodeView.tsx
  libs/components/ui/src/select/Select.tsx
  libs/datasource/db-service/src/services/database/index.ts
  libs/datasource/jwt/src/index.ts
  libs/datasource/jwt/src/types/index.ts
  libs/datasource/jwt/src/yjs/provider.ts
Owners: @darkskygit

update jd
  docs/jobs/affine.pro.md
Owners: none

fix: format
  docs/jobs/affine.pro.md
Owners: none
