Repository joypix-mindz/mindz, changes with the owners that .github/CODEOWNERS names for each.
All owners: @darkskygit, @lawvs, @SaikaSakura

.github/CODEOWNERS:

# About code owners

# You can use a CODEOWNERS file to define individuals or teams that are responsible for code in a repository.

# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners


# =================
# configs
# =================

.* @darkskygit
babel.config.json @darkskygit
nx.json @darkskygit
tsconfig.base.json @darkskygit
**/project.json @darkskygit
**/tsconfig.json @darkskygit
**/tsconfig.*.json @darkskygit
**/.babelrc @darkskygit
**/babel.config.js @darkskygit
**/.* @darkskygit

# =================
# components
# =================

# editor-core
libs/components/editor-core @lawvs

# editor-blocks

# group block
libs/components/editor-blocks/src/blocks/group @lawvs
# todo block
libs/components/editor-blocks/src/blocks/todo @lawvs

libs/framework/virgo @SaikaSakura

# =================
# datasource
# =================

# feature flags
libs/datasource/feature-flags @lawvs

# jwt
libs/datasource/jwt @darkskygit

chore: disable selection group plugin
  libs/components/editor-plugins/src/index.ts
Owners: none

feat: add kanban card mask
  libs/components/editor-blocks/src/blocks/group/scene-kanban/CardItem.tsx
Owners: @lawvs

fix: add pen background
  libs/components/editor-blocks/src/blocks/group/scene-kanban/CardItem.tsx
Owners: @lawvs

refactor: ref page use AffineEditor
  libs/components/editor-blocks/src/blocks/group/scene-kanban/CardItem.tsx
  libs/components/editor-blocks/src/blocks/group/scene-kanban/RefPage.tsx
  libs/components/editor-core/src/index.ts
  libs/components/editor-core/src/recast-block/Context.tsx
  libs/components/editor-core/src/ref-page/index.ts
Owners: @lawvs

fix: renaming to edgeless
  libs/components/editor-blocks/src/blocks/group/scene-kanban/RefPage.tsx
Owners: @lawvs

chore: set kanban RefPageProvider
  libs/components/editor-blocks/src/blocks/group/scene-kanban/SceneKanban.tsx
Owners: @lawvs

fix: workaround circular dependency editor element
  libs/components/editor-blocks/src/blocks/group/scene-kanban/RefPage.tsx
Owners: @lawvs

refactor: clean anti pattern editor element
  libs/components/editor-blocks/src/blocks/embed-link/EmbedLinkView.tsx
  libs/components/editor-blocks/src/components/source-view/BlockView.tsx
  libs/components/editor-blocks/src/components/source-view/SourceView.tsx
  libs/components/editor-core/src/editor/views/base-view.ts
  libs/components/editor-core/src/render-block/RenderBlock.tsx
Owners: @lawvs

chore: clean card item
  libs/components/editor-blocks/src/blocks/group/scene-kanban/CardItem.tsx
Owners: @lawvs

feat: update logic of copy group block
  libs/components/editor-core/src/editor/clipboard/paste.ts
Owners: @lawvs

fix(whiteboard): only allow pan when middle button is pressed
  libs/components/board-state/src/tldraw-app.ts
Owners: none

fix:shapaes bidings error
  libs/components/affine-board/src/Board.tsx
  libs/components/affine-board/src/hooks/use-shapes.ts
  libs/components/board-draw/src/TlDraw.tsx
  libs/components/board-state/src/tldraw-app.ts
  libs/datasource/db-service/src/services/editor-block/utils/column/default-config.ts
Owners: none

Update libs/components/editor-core/src/editor/clipboard/utils.ts
  libs/components/editor-core/src/editor/clipboard/utils.ts
Owners: @lawvs

fix: prettier code style
  libs/components/editor-core/src/editor/clipboard/copy.ts
  libs/components/editor-core/src/editor/clipboard/utils.ts
Owners: @lawvs

feat: Intra-line double link interaction
  libs/components/common/src/lib/list/index.tsx
  libs/components/editor-plugins/src/menu/double-link-menu/Container.tsx
  libs/components/editor-plugins/src/menu/double-link-menu/DoubleLinkMenu.tsx
Owners: none

feat: Intra-line double link interaction
  libs/components/common/src/lib/text/EditableText.tsx
  libs/components/editor-plugins/src/menu/double-link-menu/Container.tsx
  libs/components/editor-plugins/src/menu/double-link-menu/DoubleLinkMenu.tsx
  libs/components/editor-plugins/src/search/Search.tsx
Owners: none

feat: Intra-line double link interaction
  libs/components/common/src/lib/text/plugins/DoubleLink.tsx
  libs/components/common/src/lib/text/slate-utils.ts
  libs/components/editor-plugins/src/menu/double-link-menu/DoubleLinkMenu.tsx
Owners: none

feat: Intra-line double link interaction
  libs/components/common/src/lib/index.ts
  libs/components/common/src/lib/text/plugins/DoubleLink.tsx
Owners: none

fix:shapaes bidings error
  libs/components/affine-board/src/Board.tsx
  libs/components/affine-board/src/hooks/use-shapes.ts
Owners: none

feat: Intra-line double link interaction
  libs/components/common/src/lib/text/slate-utils.ts
  libs/components/editor-core/src/editor/block/async-block.ts
  libs/components/editor-plugins/src/menu/double-link-menu/DoubleLinkMenu.tsx
Owners: @lawvs

feat: Intra-line double link interaction
  libs/components/editor-plugins/src/menu/double-link-menu/Container.tsx
Owners: none

feat: Intra-line double link interaction
  libs/components/editor-plugins/src/menu/double-link-menu/Container.tsx
Owners: none

feat: Intra-line double link interaction
  libs/components/editor-plugins/src/menu/double-link-menu/Container.tsx
Owners: none

fix: remove unused executor svgOptimize (#296)
  tools/executors/svgOptimize/executor.json
  tools/executors/svgOptimize/package.json
  tools/executors/svgOptimize/schema.json
  tools/executors/svgOptimize/svgo.js
Owners: none

fix:shapaes
  libs/components/affine-board/src/Board.tsx
  libs/components/affine-board/src/hooks/use-shapes.ts
Owners: none

feat: Intra-line double link interaction
  libs/components/common/src/lib/text/plugins/DoubleLink.tsx
  libs/components/editor-core/src/editor/block/async-block.ts
  libs/components/editor-plugins/src/menu/double-link-menu/Container.tsx
  libs/components/editor-plugins/src/menu/double-link-menu/DoubleLinkMenu.tsx
Owners: @lawvs

feat: Intra-line double link interaction
  libs/components/editor-core/src/editor/block/async-block.ts
Owners: @lawvs

feat: Intra-line double link interaction
  libs/components/common/src/lib/text/slate-utils.ts
Owners: none

docs: update contributors (#300)
  .all-contributorsrc
  README.md
Owners: @darkskygit

feat add jump shapes
  libs/components/affine-board/src/Board.tsx
  libs/components/board-draw/src/components/command-panel/ArrowTo.tsx
  libs/components/board-draw/src/components/command-panel/CommandPanel.tsx
  libs/components/board-draw/src/components/command-panel/FontSizeConfig.tsx
  libs/components/board-state/src/tldraw-app.ts
Owners: none

refactor: change activatable to editable in BaseVeiw
  libs/components/editor-blocks/src/blocks/code/index.ts
  libs/components/editor-blocks/src/blocks/embed-link/index.ts
  libs/components/editor-blocks/src/blocks/figma/index.ts
  libs/components/editor-blocks/src/blocks/file/index.ts
  libs/components/editor-blocks/src/blocks/grid-item/index.ts
  libs/components/editor-blocks/src/blocks/grid/index.ts
  libs/components/editor-blocks/src/blocks/group/Group.tsx
  libs/components/editor-blocks/src/blocks/image/index.ts
  libs/components/editor-blocks/src/blocks/youtube/index.ts
  libs/components/editor-core/src/editor/selection/selection.ts
  libs/components/editor-core/src/editor/views/base-view.ts
Owners: @lawvs

chore: update dependencies
  apps/venus/package.json
  pnpm-lock.yaml
Owners: none

feat: add i18n
  apps/venus/src/app/i18n/index.ts
  apps/venus/src/app/i18n/resources/en.json
  apps/venus/src/app/i18n/resources/zh.json
  apps/venus/src/app/index.tsx
  apps/venus/src/index.tsx
Owners: none

update i18n
  apps/venus/src/app/index.tsx
Owners: none

Uploaded roadmap
  README.md
Owners: none

Update README.md
  README.md
Owners: none

Update README.md
  README.md
Owners: none

Update README.md
  README.md
Owners: none

refactor: refactor clipboard
  libs/components/common/src/lib/text/slate-utils.ts
  libs/components/editor-blocks/src/blocks/bullet/index.ts
  libs/components/editor-blocks/src/blocks/code/index.ts
  libs/components/editor-blocks/src/blocks/numbered/index.ts
  libs/components/editor-blocks/src/blocks/page/index.ts
  libs/components/editor-blocks/src/blocks/text/QuoteBlock.tsx
  libs/components/editor-blocks/src/blocks/text/TextBlock.tsx
  libs/components/editor-blocks/src/blocks/todo/index.ts
  libs/components/editor-blocks/src/blocks/youtube/index.ts
  libs/components/editor-core/src/editor/block/block-helper.ts
  libs/components/editor-core/src/editor/clipboard/browser-clipboard.ts
  libs/components/editor-core/src/editor/clipboard/clipboard-populator.ts
  libs/components/editor-core/src/editor/clipboard/clipboard.ts
  libs/components/editor-core/src/editor/clipboard/clipboardEventDispatcher.ts
  libs/components/editor-core/src/editor/clipboard/clipboardUtils.ts
  libs/components/editor-core/src/editor/clipboard/copy.ts
  libs/components/editor-core/src/editor/clipboard/index.ts
  libs/components/editor-core/src/editor/clipboard/paste.ts
  libs/components/editor-core/src/editor/clipboard/utils.ts
  libs/components/editor-core/src/editor/editor.ts
  libs/components/editor-core/src/editor/index.ts
  libs/components/editor-core/src/editor/plugin/hooks.ts
  libs/components/editor-core/src/editor/types.ts
  libs/components/editor-core/src/editor/views/base-view.ts
Owners: @lawvs

refactor: remove clipboard utils to ClipboardUtils
  libs/components/editor-core/src/editor/clipboard/clipboard.ts
  libs/components/editor-core/src/editor/clipboard/clipboardEventDispatcher.ts
  libs/components/editor-core/src/editor/clipboard/clipboardUtils.ts
  libs/components/editor-core/src/editor/clipboard/copy.ts
  libs/components/editor-core/src/editor/clipboard/index.ts
  libs/components/editor-core/src/editor/clipboard/paste.ts
  libs/components/editor-core/src/editor/clipboard/utils.ts
  libs/components/editor-core/src/editor/editor.ts
  libs/components/editor-core/src/editor/index.ts
Owners: @lawvs
