Repository joypix-mindz/mindz, changes with the owners that .github/CODEOWNERS names for each.
All owners: @darkskygit, @lawvs, @SaikaSakura

.github/CODEOWNERS:

# About code owners

# You can use a CODEOWNERS file to define individuals or teams that are responsible for code in a repository.

# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners


# =================
# configs
# =================

.* @darkskygit
babel.config.json @darkskygit
nx.json @darkskygit
tsconfig.base.json @darkskygit
**/project.json @darkskygit
**/tsconfig.json @darkskygit
**/tsconfig.*.json @darkskygit
**/.babelrc @darkskygit
**/babel.config.js @darkskygit
**/.* @darkskygit

# =================
# components
# =================

# editor-core
libs/components/editor-core @lawvs

# editor-blocks

# group block
libs/components/editor-blocks/src/blocks/group @lawvs
# todo block
libs/components/editor-blocks/src/blocks/todo @lawvs

libs/framework/virgo @SaikaSakura

# =================
# datasource
# =================

# feature flags
libs/datasource/feature-flags @lawvs

# jwt
libs/datasource/jwt @darkskygit

fix: whiteboard -> edgeless e2e
  apps/ligo-virgo-e2e/src/integration/app.spec.ts
Owners: none

chore: cleanup e2e useless code
  apps/ligo-virgo-e2e/src/support/commands.ts
Owners: none

add move coverage
  libs/components/board-draw/src/components/command-panel/CommandPanel.tsx
  libs/components/board-draw/src/components/command-panel/MoveCoverage.tsx
Owners: none

chore: cleanup deps
  .vscode/settings.json
  apps/ligo-virgo-e2e/package.json
  libs/components/editor-blocks/src/components/source-view/format-url/affine.ts
  package.json
  pnpm-lock.yaml
Owners: @darkskygit

feat(weakSql): deal with Incomplete string escaping or encoding
  libs/components/editor-blocks/src/blocks/group/utils/weak-sql/weakSqlCreator.ts
Owners: @lawvs

fix(youtube): Incomplete URL substring sanitization
  libs/components/editor-blocks/src/components/source-view/format-url/youtube.ts
  ！
Owners: none

fix(youtube): Incomplete URL substring sanitization
  libs/components/editor-blocks/src/blocks/youtube/index.ts
Owners: none

fix(youtube): Incomplete URL substring sanitization
  libs/components/editor-blocks/src/blocks/youtube/index.ts
  libs/components/editor-blocks/src/components/source-view/format-url/youtube.ts
Owners: none

fix(figma): Incomplete URL substring sanitization
  libs/components/editor-blocks/src/blocks/figma/index.ts
Owners: none

chore: remove unused file
  ！
Owners: none

fix: fix not being able to paste a block with children in it
  libs/components/editor-core/src/editor/clipboard/paste.ts
Owners: @lawvs

feat: add align center
  libs/components/board-draw/src/components/align-panel/index.tsx
  libs/components/board-draw/src/components/command-panel/AlignOperation.tsx
  libs/components/board-draw/src/components/command-panel/CommandPanel.tsx
Owners: none

chore: cleanup deps
  .vscode/settings.json
  apps/ligo-virgo-e2e/package.json
  libs/components/account/package.json
  libs/datasource/state/package.json
  package.json
  pnpm-lock.yaml
Owners: @darkskygit

fix delete Regex
  libs/components/board-state/src/tldraw-app.ts
Owners: none

fix delete Regex
  libs/components/board-state/src/tldraw-app.ts
Owners: none

chore: improve deps install
  .github/deployment/Dockerfile-affine
  .github/deployment/Dockerfile-lisa
Owners: @darkskygit

chore: cleanup deps
  .github/deployment/Dockerfile-affine
  .github/deployment/Dockerfile-lisa
Owners: @darkskygit

chore: one less div
  apps/ligo-virgo/src/pages/AppContainer.tsx
Owners: none

refactor: clean text enter
  libs/components/editor-blocks/src/blocks/text/TextView.tsx
  libs/components/editor-blocks/src/utils/indent.ts
Owners: none

chore: add empty text assert
  libs/components/editor-core/src/editor/views/base-view.ts
Owners: @lawvs

fix: workaround dom not found
  libs/components/editor-core/src/editor/drag-drop/drag-drop.ts
  libs/components/editor-core/src/editor/selection/selection.ts
  libs/components/editor-plugins/src/menu/left-menu/LeftMenuPlugin.tsx
Owners: @lawvs

refactor: clean icon button
  libs/components/ui/src/button/IconButton.tsx
  libs/components/ui/src/button/constants.ts
Owners: none

refactor: refactor clip board
  libs/components/editor-core/src/editor/clipboard/browser-clipboard.ts
  libs/components/editor-core/src/editor/clipboard/clipboard-populator.ts
  libs/components/editor-core/src/editor/clipboard/copy.ts
Owners: @lawvs

fix: workaround weird type error
  libs/components/ui/src/button/IconButton.tsx
Owners: none

fix add align icon
  .env
  libs/components/board-draw/src/components/align-panel/index.tsx
  libs/components/board-draw/src/components/command-panel/AlignOperation.tsx
  libs/components/icons/src/auto-icons/align-horizontal-center/align-horizontal-center.svg
  libs/components/icons/src/auto-icons/align-horizontal-center/align-horizontal-center.tsx
  libs/components/icons/src/auto-icons/align-to-bottom/align-to-bottom.svg
  libs/components/icons/src/auto-icons/align-to-bottom/align-to-bottom.tsx
  libs/components/icons/src/auto-icons/align-to-left/align-to-left.svg
  libs/components/icons/src/auto-icons/align-to-left/align-to-left.tsx
  libs/components/icons/src/auto-icons/align-to-right/align-to-right.svg
  libs/components/icons/src/auto-icons/align-to-right/align-to-right.tsx
  libs/components/icons/src/auto-icons/align-to-top/align-to-top.svg
  libs/components/icons/src/auto-icons/align-to-top/align-to-top.tsx
  libs/components/icons/src/auto-icons/align-vertical-center/align-vertical-center.svg
  libs/components/icons/src/auto-icons/align-vertical-center/align-vertical-center.tsx
  libs/components/icons/src/auto-icons/align/align.svg
  libs/components/icons/src/auto-icons/align/align.tsx
  libs/components/icons/src/auto-icons/bring-forward/bring-forward.svg
  libs/components/icons/src/auto-icons/bring-forward/bring-forward.tsx
  libs/components/icons/src/auto-icons/bring-to-front/bring-to-front.svg
  libs/components/icons/src/auto-icons/bring-to-front/bring-to-front.tsx
  libs/components/icons/src/auto-icons/distribute-horizontal/distribute-horizontal.svg
  libs/components/icons/src/auto-icons/distribute-horizontal/distribute-horizontal.tsx
  libs/components/icons/src/auto-icons/distribute-vertical/distribute-vertical.svg
  libs/components/icons/src/auto-icons/distribute-vertical/distribute-vertical.tsx
  libs/components/icons/src/auto-icons/index.ts
  libs/components/icons/src/auto-icons/layers/layers.svg
  libs/components/icons/src/auto-icons/layers/layers.tsx
  libs/components/icons/src/auto-icons/send-backward/send-backward.svg
  libs/components/icons/src/auto-icons/send-backward/send-backward.tsx
  libs/components/icons/src/auto-icons/send-to-back/send-to-back.svg
  libs/components/icons/src/auto-icons/send-to-back/send-to-back.tsx
Owners: @darkskygit

fix(libs): remove line after drop
  libs/components/editor-plugins/src/menu/group-menu/GropuMenu.tsx
Owners: none

feat layers and align
  libs/components/board-draw/src/components/align-panel/index.tsx
  libs/components/board-draw/src/components/command-panel/AlignOperation.tsx
  libs/components/board-draw/src/components/command-panel/MoveCoverage.tsx
Owners: none

delete token
  .env
Owners: @darkskygit

fix: convert sleep to raf
  libs/components/editor-plugins/src/menu/group-menu/GropuMenu.tsx
Owners: none

fix command-menu create block after can remove block
  libs/components/editor-plugins/src/menu/command-menu/Menu.tsx
Owners: none

fix: can not copy from white board and paste in editor
  libs/components/affine-board/src/Board.tsx
  libs/components/board-state/src/tldraw-app.ts
  libs/components/editor-core/src/editor/clipboard/utils.ts
  libs/components/editor-core/src/editor/index.ts
Owners: @lawvs

fix: filter lock shape in frame
  libs/components/board-sessions/src/translate-session.ts
Owners: none

feat remove stretch add add distribute (#284)
  libs/components/board-draw/src/components/align-panel/index.tsx
  libs/components/board-draw/src/components/command-panel/AlignOperation.tsx
  libs/components/editor-plugins/src/menu/inline-menu/utils.ts
  libs/components/icons/src/auto-icons/align-horizontal-center/align-horizontal-center.tsx
  libs/components/icons/src/auto-icons/align-left/align-left.tsx
  libs/components/icons/src/auto-icons/index.ts
  libs/components/icons/src/auto-icons/shapes-align-bottom/shapes-align-bottom.svg
  libs/components/icons/src/auto-icons/shapes-align-bottom/shapes-align-bottom.tsx
  libs/components/icons/src/auto-icons/shapes-align-horizontal-center/shapes-align-horizontal-center.svg
  libs/components/icons/src/auto-icons/shapes-align-horizontal-center/shapes-align-horizontal-center.tsx
  libs/components/icons/src/auto-icons/shapes-align-left/shapes-align-left.svg
  libs/components/icons/src/auto-icons/shapes-align-left/shapes-align-left.tsx
  libs/components/icons/src/auto-icons/shapes-align-right/shapes-align-right.svg
  libs/components/icons/src/auto-icons/shapes-align-right/shapes-align-right.tsx
  libs/components/icons/src/auto-icons/shapes-align-top/shapes-align-top.svg
  libs/components/icons/src/auto-icons/shapes-align-top/shapes-align-top.tsx
  libs/components/icons/src/auto-icons/shapes-align-vertical-center/shapes-align-vertical-center.svg
  libs/components/icons/src/auto-icons/shapes-align-vertical-center/shapes-align-vertical-center.tsx
  libs/components/icons/src/auto-icons/shapes-distribute-horizontal/shapes-distribute-horizontal.svg
  libs/components/icons/src/auto-icons/shapes-distribute-horizontal/shapes-distribute-horizontal.tsx
  libs/components/icons/src/auto-icons/shapes-distribute-vertical/shapes-distribute-vertical.svg
  libs/components/icons/src/auto-icons/shapes-distribute-vertical/shapes-distribute-vertical.tsx
  libs/components/icons/src/auto-icons/text-align-center/text-align-center.svg
  libs/components/icons/src/auto-icons/text-align-center/text-align-center.tsx
  libs/components/icons/src/auto-icons/text-align-justify/text-align-justify.svg
  libs/components/icons/src/auto-icons/text-align-justify/text-align-justify.tsx
  libs/components/icons/src/auto-icons/text-align-left/text-align-left.svg
  libs/components/icons/src/auto-icons/text-align-left/text-align-left.tsx
  libs/components/icons/src/auto-icons/text-align-right/text-align-right.svg
  libs/components/icons/src/auto-icons/text-align-right/text-align-right.tsx
Owners: none

fix: remove asyncBlock cache
  libs/components/editor-core/src/editor/editor.ts
Owners: @lawvs

refactor: code of copy
  libs/components/affine-board/src/Board.tsx
  libs/components/editor-core/src/editor/clipboard/copy.ts
  libs/components/editor-core/src/editor/clipboard/utils.ts
Owners: @lawvs

fix: if delete block, clear cache
  libs/components/editor-core/src/editor/editor.ts
Owners: @lawvs

fix: autofocus when create group in board
  libs/components/board-shapes/src/editor-util/EditorUtil.tsx
Owners: none

feat: Intra-line double link interaction
  libs/components/common/src/lib/list/index.tsx
  libs/components/common/src/lib/text/EditableText.tsx
  libs/components/common/src/lib/text/plugins/DoubleLink.tsx
  libs/components/common/src/lib/text/slate-utils.ts
  libs/components/editor-core/src/editor/block/async-block.ts
  libs/components/editor-core/src/editor/block/block-helper.ts
  libs/components/editor-core/src/editor/editor.ts
  libs/components/editor-plugins/src/index.ts
  libs/components/editor-plugins/src/menu/double-link-menu/Container.tsx
  libs/components/editor-plugins/src/menu/double-link-menu/DoubleLinkMenu.tsx
  libs/components/editor-plugins/src/menu/double-link-menu/Plugin.tsx
  libs/components/editor-plugins/src/menu/double-link-menu/index.ts
  libs/components/editor-plugins/src/menu/index.ts
  libs/components/editor-plugins/src/menu/reference-menu/Container.tsx
  libs/components/editor-plugins/src/menu/reference-menu/ReferenceMenu.tsx
  libs/components/editor-plugins/src/menu/reference-menu/index.ts
  libs/components/ui/src/button/ListButton.tsx
  libs/datasource/jwt/src/index.ts
Owners: @lawvs, @darkskygit

feat(whiteboard): activate text on dblclick
  libs/components/board-shapes/src/editor-util/EditorUtil.tsx
Owners: none

fix: wrong block order when pasting multiple blocks
  libs/components/editor-core/src/editor/clipboard/paste.ts
Owners: @lawvs
