Repository joypix-mindz/mindz, changes with the owners that .github/CODEOWNERS names for each.
All owners: @darkskygit, @lawvs, @SaikaSakura

.github/CODEOWNERS:

# About code owners

# You can use a CODEOWNERS file to define individuals or teams that are responsible for code in a repository.

# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners


# =================
# configs
# =================

.* @darkskygit
babel.config.json @darkskygit
nx.json @darkskygit
tsconfig.base.json @darkskygit
**/project.json @darkskygit
**/tsconfig.json @darkskygit
**/tsconfig.*.json @darkskygit
**/.babelrc @darkskygit
**/babel.config.js @darkskygit
**/.* @darkskygit

# =================
# components
# =================

# editor-core
libs/components/editor-core @lawvs

# editor-blocks

# group block
libs/components/editor-blocks/src/blocks/group @lawvs
# todo block
libs/components/editor-blocks/src/blocks/todo @lawvs

libs/framework/virgo @SaikaSakura

# =================
# datasource
# =================

# feature flags
libs/datasource/feature-flags @lawvs

# jwt
libs/datasource/jwt @darkskygit

feat: add get-started template (#309)
  libs/datasource/db-service/src/services/editor-block/templates/template-factory.ts
Owners: none

refactor: refactor block2html in clipboard
  libs/components/affine-board/src/Board.tsx
  libs/components/common/src/lib/text/slate-utils.ts
  libs/components/editor-blocks/src/blocks/bullet/index.ts
  libs/components/editor-blocks/src/blocks/code/index.ts
  libs/components/editor-blocks/src/blocks/divider/index.ts
  libs/components/editor-blocks/src/blocks/embed-link/index.ts
  libs/components/editor-blocks/src/blocks/figma/index.ts
  libs/components/editor-blocks/src/blocks/file/index.ts
  libs/components/editor-blocks/src/blocks/group/Group.tsx
  libs/components/editor-blocks/src/blocks/groupDvider/index.ts
  libs/components/editor-blocks/src/blocks/image/index.ts
  libs/components/editor-blocks/src/blocks/numbered/index.ts
  libs/components/editor-blocks/src/blocks/page/index.ts
  libs/components/editor-blocks/src/blocks/text/QuoteBlock.tsx
  libs/components/editor-blocks/src/blocks/text/TextBlock.tsx
  libs/components/editor-blocks/src/blocks/todo/index.ts
  libs/components/editor-blocks/src/blocks/youtube/index.ts
  libs/components/editor-blocks/src/utils/commonBlockClip.ts
  libs/components/editor-core/src/editor/block/block-helper.ts
  libs/components/editor-core/src/editor/clipboard/clipboard-parse.ts
  libs/components/editor-core/src/editor/clipboard/clipboardUtils.ts
  libs/components/editor-core/src/editor/clipboard/copy.ts
  libs/components/editor-core/src/editor/editor.ts
  libs/components/editor-core/src/editor/index.ts
  libs/components/editor-core/src/editor/views/base-view.ts
  libs/components/layout/src/header/PageSettingPortal.tsx
  libs/components/layout/src/settings-sidebar/Settings/util/handle-export.ts
Owners: @lawvs

hided my personal email
  README.md
Owners: none

feat: Inlinemenu double link interaction
  README.md
  libs/components/common/src/lib/text/plugins/DoubleLink.tsx
  libs/components/editor-plugins/src/menu/double-link-menu/DoubleLinkMenu.tsx
  libs/components/editor-plugins/src/menu/inline-menu/menu-item/IconItem.tsx
  libs/components/editor-plugins/src/menu/inline-menu/types.ts
  libs/components/editor-plugins/src/menu/inline-menu/utils.ts
Owners: none

feat: 1. add toc;
  README.md
  apps/ligo-virgo/src/pages/workspace/docs/Page.tsx
  apps/ligo-virgo/src/pages/workspace/docs/components/tabs/Tabs.tsx
  apps/ligo-virgo/src/pages/workspace/docs/components/toc/TOC.tsx
  apps/ligo-virgo/src/pages/workspace/docs/components/toc/index.ts
  apps/ligo-virgo/src/pages/workspace/docs/utils/getPageContentById.ts
  libs/components/editor-core/src/editor/editor.ts
  libs/datasource/db-service/src/services/index.ts
  libs/datasource/db-service/src/services/workspace/toc.ts
Owners: @lawvs

docs(readme): update readme.md
  README.md
Owners: none

mod(whiteboard): close tool panel when select tool
  README.md
  libs/components/affine-board/src/Board.tsx
  libs/components/board-draw/src/components/tools-panel/LineTools.tsx
  libs/components/board-draw/src/components/tools-panel/ShapeTools.tsx
  libs/components/board-draw/src/components/tools-panel/ToolsPanel.tsx
  libs/components/board-draw/src/components/tools-panel/pen-tools/PenTools.tsx
  libs/components/ui/src/cascader/Cascader.tsx
  libs/components/ui/src/popper/Popper.tsx
  libs/components/ui/src/popper/interface.ts
Owners: none

refactor: jwt internal version migration
  libs/datasource/jwt/package.json
  libs/datasource/jwt/src/block/abstract.ts
  libs/datasource/jwt/src/block/base.ts
  libs/datasource/jwt/src/block/indexer.ts
  libs/datasource/jwt/src/index.ts
  libs/datasource/jwt/src/types/block.ts
  libs/datasource/jwt/src/utils/event-bus.ts
  libs/datasource/jwt/src/utils/index.ts
  libs/datasource/jwt/src/yjs/binary.ts
  libs/datasource/jwt/src/yjs/block.ts
  libs/datasource/jwt/src/yjs/gatekeeper.ts
  libs/datasource/jwt/src/yjs/history.ts
  libs/datasource/jwt/src/yjs/index.ts
  libs/datasource/jwt/src/yjs/listener.ts
  libs/datasource/jwt/src/yjs/operation.ts
  libs/datasource/jwt/src/yjs/provider.ts
  libs/datasource/jwt/src/yjs/types.ts
  pnpm-lock.yaml
Owners: @darkskygit

Update README and documentation (#314)
  README.md
  docs/CODE_OF_CONDUCT.md
  docs/CONTRIBUTING.md
  docs/types-of-contributions.md
Owners: none

opti: 1.adjust eventlistener;
  apps/ligo-virgo/src/pages/workspace/docs/Page.tsx
  apps/ligo-virgo/src/pages/workspace/docs/components/toc/TOC.tsx
  apps/ligo-virgo/src/pages/workspace/docs/components/toc/index.ts
  apps/ligo-virgo/src/pages/workspace/docs/utils/toc.ts
  libs/datasource/db-service/src/services/index.ts
  libs/datasource/db-service/src/services/workspace/toc.ts
Owners: none

Update CONTRIBUTING.md
  docs/CONTRIBUTING.md
Owners: none

Update CONTRIBUTING.md (#316)
  docs/CONTRIBUTING.md
Owners: none

feat: about us
  .vscode/settings.json
  apps/venus/package.json
  apps/venus/src/app/AboutUs.tsx
  apps/venus/src/app/App.tsx
  apps/venus/src/app/Common.tsx
  apps/venus/src/app/Icons.tsx
  apps/venus/src/app/MdxMarks.tsx
  apps/venus/src/app/about.mdx
  apps/venus/src/app/index.tsx
  apps/venus/src/app/keeupdate.png
  apps/venus/src/index.tsx
  apps/venus/src/mdx.d.ts
  apps/venus/tsconfig.app.json
  apps/venus/webpack.config.js
  pnpm-lock.yaml
Owners: @darkskygit

opti: 1.adjust eventlistener;
  apps/ligo-virgo/src/pages/workspace/docs/components/toc/TOC.tsx
  apps/ligo-virgo/src/pages/workspace/docs/utils/toc.ts
Owners: none

opti: 1.adjust eventlistener;
  apps/ligo-virgo/src/pages/workspace/docs/components/toc/TOC.tsx
  apps/ligo-virgo/src/pages/workspace/docs/utils/toc.ts
Owners: none

Correct a typo in README (#317)
  README.md
Owners: none

feat: new useBlockRender API
  libs/components/editor-core/src/render-block/Context.tsx
  libs/components/editor-core/src/render-block/RenderBlock.tsx
  libs/components/editor-core/src/render-block/RenderBlockChildren.tsx
  libs/components/editor-core/src/render-block/RenderKanbanBlock.tsx
  libs/components/editor-core/src/render-block/WithTreeViewChildren.tsx
  libs/components/editor-core/src/render-block/index.ts
Owners: @lawvs

refactor: update block
  libs/components/editor-blocks/src/blocks/bullet/BulletView.tsx
  libs/components/editor-blocks/src/blocks/bullet/index.ts
  libs/components/editor-blocks/src/blocks/grid-item/GridItemRender.tsx
  libs/components/editor-blocks/src/blocks/grid/Grid.tsx
  libs/components/editor-blocks/src/blocks/group/ScenePage.tsx
  libs/components/editor-blocks/src/blocks/group/scene-kanban/CardItem.tsx
  libs/components/editor-blocks/src/blocks/numbered/NumberedView.tsx
  libs/components/editor-blocks/src/blocks/numbered/index.ts
  libs/components/editor-blocks/src/blocks/text/TextView.tsx
  libs/components/editor-blocks/src/blocks/todo/TodoView.tsx
  libs/components/editor-blocks/src/blocks/todo/index.ts
  libs/components/editor-blocks/src/components/BlockContainer/BlockContainer.tsx
  libs/components/editor-blocks/src/components/IndentWrapper/IndentWrapper.tsx
  libs/components/editor-blocks/src/components/IndentWrapper/index.ts
  libs/components/editor-blocks/src/components/source-view/format-url/youtube.ts
  libs/components/editor-blocks/src/utils/WithTreeViewChildren.tsx
  libs/components/editor-core/src/render-block/RenderBlock.tsx
Owners: @lawvs

chore: add warn comment
  libs/components/editor-core/src/render-block/Context.tsx
Owners: @lawvs

refactor: update editor
  libs/components/affine-editor/src/Editor.tsx
  libs/components/editor-core/src/Contexts.tsx
  libs/components/editor-core/src/RenderRoot.tsx
  libs/components/editor-core/src/index.ts
  libs/components/editor-core/src/kanban/Context.tsx
Owners: @lawvs

chore: ci fix & module split
  apps/ligo-virgo/webpack.config.js
  apps/venus/webpack.config.js
  libs/datasource/jwt/src/adapter/yjs/binary.ts
Owners: @darkskygit

opti: 1.adjust eventlistener;
  apps/ligo-virgo/src/pages/workspace/docs/utils/toc.ts
Owners: none

opti: 1.adjust eventlistener;
  apps/ligo-virgo/src/pages/workspace/docs/Page.tsx
  apps/ligo-virgo/src/pages/workspace/docs/components/toc/TOC.tsx
  apps/ligo-virgo/src/pages/workspace/docs/components/toc/index.ts
Owners: none

Bugfix/delete log (#315)
  libs/components/affine-board/src/Board.tsx
  libs/components/affine-board/src/hooks/use-shapes.ts
  libs/components/board-draw/src/components/command-panel/ArrowTo.tsx
  libs/components/board-state/src/tldraw-app.ts
  libs/components/common/src/lib/text/EditableText.tsx
Owners: none

refactor: recode html2block
  libs/components/editor-blocks/src/blocks/bullet/index.ts
  libs/components/editor-blocks/src/blocks/code/index.ts
  libs/components/editor-blocks/src/blocks/divider/index.ts
  libs/components/editor-blocks/src/blocks/embed-link/index.ts
  libs/components/editor-blocks/src/blocks/figma/index.ts
  libs/components/editor-blocks/src/blocks/groupDvider/index.ts
  libs/components/editor-blocks/src/blocks/image/index.ts
  libs/components/editor-blocks/src/blocks/numbered/index.ts
  libs/components/editor-blocks/src/blocks/text/QuoteBlock.tsx
  libs/components/editor-blocks/src/blocks/text/TextBlock.tsx
  libs/components/editor-blocks/src/blocks/todo/index.ts
  libs/components/editor-blocks/src/blocks/youtube/index.ts
  libs/components/editor-blocks/src/utils/commonBlockClip.ts
  libs/components/editor-core/package.json
  libs/components/editor-core/src/editor/clipboard/clipboard-parse.ts
  libs/components/editor-core/src/editor/clipboard/clipboard.ts
  libs/components/editor-core/src/editor/clipboard/clipboardUtils.ts
  libs/components/editor-core/src/editor/clipboard/copy.ts
  libs/components/editor-core/src/editor/clipboard/paste.ts
  libs/components/editor-core/src/editor/clipboard/types.ts
  libs/components/editor-core/src/editor/clipboard/utils.ts
  libs/components/editor-core/src/editor/editor.ts
  libs/components/editor-core/src/editor/index.ts
  libs/components/editor-core/src/editor/views/base-view.ts
  pnpm-lock.yaml
Owners: @lawvs

fix: copy in white board will thorw error
  libs/components/editor-core/src/editor/clipboard/clipboard.ts
  libs/components/editor-core/src/editor/clipboard/clipboardEventDispatcher.ts
  libs/components/editor-core/src/editor/editor.ts
Owners: @lawvs

fix: update sidebar shadow (#323)
  apps/ligo-virgo/src/pages/workspace/docs/Page.tsx
  libs/components/ui/src/theme/theme.ts
Owners: none

feat: add clipboardEvent2Blocks for white board to paste
  libs/components/editor-core/src/editor/clipboard/clipboard.ts
  libs/components/editor-core/src/editor/clipboard/clipboardUtils.ts
  libs/components/editor-core/src/editor/clipboard/paste.ts
Owners: @lawvs

Bugfix/board style (#321)
  libs/components/affine-board/src/Board.tsx
  libs/components/affine-board/src/hooks/use-shapes.ts
  libs/components/board-draw/src/TlDraw.tsx
  libs/components/board-draw/src/components/align-panel/index.tsx
  libs/components/board-draw/src/components/command-panel/CommandPanel.tsx
  libs/components/board-shapes/src/arrow-util/arrow-util.tsx
  libs/components/board-shapes/src/rectangle-util/components/DashedRectangle.tsx
  libs/components/board-state/src/tldraw-app.ts
  libs/components/editor-blocks/src/blocks/code/CodeView.tsx
Owners: none

feat: cascading events
  libs/datasource/jwt/src/block/abstract.ts
  libs/datasource/jwt/src/block/indexer.ts
  libs/datasource/jwt/src/index.ts
Owners: @darkskygit

feat: filter
  libs/datasource/jwt/src/block/abstract.ts
Owners: @darkskygit

feat: services
  libs/datasource/db-service/src/services/database/index.ts
  libs/datasource/jwt/src/block/abstract.ts
Owners: @darkskygit

feat: Double-link: Search interaction
  apps/ligo-virgo/src/pages/workspace/WorkspaceContainer.tsx
  libs/components/common/src/lib/text/slate-utils.ts
  libs/components/editor-core/src/editor/types.ts
  libs/components/editor-plugins/src/menu/double-link-menu/DoubleLinkMenu.tsx
  libs/components/editor-plugins/src/search/Search.tsx
  libs/components/editor-plugins/src/search/index.tsx
  libs/components/layout/src/header/LayoutHeader.tsx
Owners: @lawvs

fix: replace activatable to editable
  libs/components/editor-core/src/editor/block/block-helper.ts
  libs/components/editor-core/src/editor/editor.ts
  pnpm-lock.yaml
Owners: @lawvs

feature: 1. add TOC;
  apps/ligo-virgo/src/pages/workspace/docs/components/toc/TOC.tsx
  apps/ligo-virgo/src/pages/workspace/docs/components/toc/toc-enum.ts
  apps/ligo-virgo/src/pages/workspace/docs/components/toc/toc-util.ts
  apps/ligo-virgo/src/pages/workspace/docs/components/toc/types.ts
Owners: none

Update README.md
  README.md
Owners: none

fix: lint error
  libs/components/common/src/lib/text/slate-utils.ts
  libs/components/editor-blocks/src/blocks/bullet/index.ts
  libs/components/editor-blocks/src/blocks/code/index.ts
  libs/components/editor-blocks/src/blocks/divider/index.ts
  libs/components/editor-blocks/src/blocks/image/index.ts
  libs/components/editor-blocks/src/blocks/numbered/index.ts
  libs/components/editor-blocks/src/blocks/text/QuoteBlock.tsx
  libs/components/editor-blocks/src/blocks/text/TextBlock.tsx
  libs/components/editor-blocks/src/blocks/todo/index.ts
  libs/components/editor-core/src/editor/block/block-helper.ts
  libs/components/editor-core/src/editor/clipboard/clipboard.ts
  libs/components/editor-core/src/editor/clipboard/clipboardUtils.ts
  libs/components/editor-core/src/editor/clipboard/index.ts
  libs/components/editor-core/src/editor/clipboard/paste.ts
  libs/components/editor-core/src/editor/clipboard/types.ts
  libs/components/editor-core/src/editor/clipboard/utils.ts
  libs/components/editor-core/src/editor/editor.ts
  libs/components/editor-core/src/editor/index.ts
  libs/components/editor-core/src/editor/views/base-view.ts
Owners: @lawvs

feature: 1. add TOC & adjust get eidtor style;
  apps/ligo-virgo/src/pages/workspace/docs/Page.tsx
  apps/ligo-virgo/src/pages/workspace/docs/components/toc/TOC.tsx
  apps/ligo-virgo/src/pages/workspace/docs/components/toc/types.ts
  libs/components/editor-core/src/editor/types.ts
  libs/datasource/state/src/page.ts
Owners: @lawvs

feature: 1. add TOC & adjust get eidtor style;
  apps/ligo-virgo/src/pages/workspace/docs/components/toc/TOC.tsx
Owners: none

refactor: kanban block render
  libs/components/editor-core/src/render-block/RenderKanbanBlock.tsx
Owners: @lawvs
