Repository joypix-mindz/mindz, changes with the owners that .github/CODEOWNERS names for each.
All owners: @darkskygit, @lawvs, @SaikaSakura

.github/CODEOWNERS:

# About code owners

# You can use a CODEOWNERS file to define individuals or teams that are responsible for code in a repository.

# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners


# =================
# configs
# =================

.* @darkskygit
babel.config.json @darkskygit
nx.json @darkskygit
tsconfig.base.json @darkskygit
**/project.json @darkskygit
**/tsconfig.json @darkskygit
**/tsconfig.*.json @darkskygit
**/.babelrc @darkskygit
**/babel.config.js @darkskygit
**/.* @darkskygit

# =================
# components
# =================

# editor-core
libs/components/editor-core @lawvs

# editor-blocks

# group block
libs/components/editor-blocks/src/blocks/group @lawvs
# todo block
libs/components/editor-blocks/src/blocks/todo @lawvs

libs/framework/virgo @SaikaSakura

# =================
# datasource
# =================

# feature flags
libs/datasource/feature-flags @lawvs

# jwt
libs/datasource/jwt @darkskygit

chore: clean code
  libs/components/editor-core/src/recast-block/view.ts
Owners: @lawvs

feat: merge keck
  .github/workflows/keck.yml
  Dockerfile-keck
  README.md
  apps/keck/.eslintrc.json
  apps/keck/jest.config.ts
  apps/keck/package.json
  apps/keck/package.prod.json
  apps/keck/project.json
  apps/keck/src/environments/environment.prod.ts
  apps/keck/src/environments/environment.ts
  apps/keck/src/index.ts
  apps/keck/src/utils.ts
  apps/keck/tsconfig.app.json
  apps/keck/tsconfig.json
  apps/keck/tsconfig.spec.json
  libs/datasource/remote-kv/src/aws/aws-attachment.ts
  package.json
  pnpm-lock.yaml
  workspace.json
Owners: @darkskygit

feat: local command
  .env.local
  .free.env
  libs/components/common/src/lib/block-preview/StyledBlockPreview.tsx
  libs/components/editor-blocks/src/components/source-view/SourceView.tsx
  libs/components/editor-blocks/src/components/source-view/format-url/affine.ts
  libs/datasource/db-service/src/services/database/index.ts
  libs/datasource/jwt/src/adapter/yjs/index.ts
  libs/datasource/state/src/user.ts
  package.json
Owners: @darkskygit

feat(comming-soon): add comming-soon
  .eslintrc.json
  libs/components/common/src/lib/comming-soon/CommingSoon.tsx
  libs/components/common/src/lib/index.ts
  libs/components/editor-blocks/src/blocks/group/GroupMenu.tsx
Owners: @darkskygit, @lawvs

fix(selection): iframe slow selection
  libs/components/editor-blocks/src/components/source-view/SourceView.tsx
Owners: none

feat(figma): can click
  libs/components/editor-blocks/src/components/source-view/SourceView.tsx
Owners: none

feat(template): remove default
  libs/datasource/db-service/src/services/editor-block/templates/group-templates.ts
Owners: none

fix(style): group selecting styles
  libs/components/editor-blocks/src/blocks/group/GroupView.tsx
Owners: @lawvs

feat: router & block preview
  .env.local-dev
  libs/components/account/src/login/firebase.tsx
  libs/components/editor-blocks/package.json
  libs/components/editor-blocks/src/components/source-view/BlockView.tsx
  libs/components/editor-blocks/src/components/source-view/SourceView.tsx
  libs/datasource/state/src/user.ts
  package.json
  pnpm-lock.yaml
Owners: @darkskygit

fix(style) iframe
  libs/components/editor-blocks/src/blocks/group/GroupView.tsx
  libs/components/editor-blocks/src/components/source-view/SourceView.tsx
  libs/components/editor-blocks/src/components/style-container/index.tsx
  libs/components/editor-blocks/src/components/upload/upload.tsx
Owners: @lawvs

fix(select): select rect position
  libs/components/editor-core/src/RenderRoot.tsx
  libs/components/editor-core/src/Selection.tsx
  libs/components/editor-core/src/editor/editor.ts
  libs/components/editor-plugins/src/menu/left-menu/LeftMenuPlugin.tsx
  libs/components/layout/src/workspace-sidebar/page-tree/PageTree.tsx
  libs/components/layout/src/workspace-sidebar/page-tree/index.ts
  libs/components/layout/src/workspace-sidebar/page-tree/page-tree.tsx
Owners: @lawvs

feat(workspace): add debug clear button
  libs/components/layout/src/settings-sidebar/Settings/use-setting-flags.ts
  libs/components/layout/src/settings-sidebar/Settings/use-settings.ts
  libs/components/layout/src/settings-sidebar/Settings/util/handle-export.ts
  libs/components/layout/src/settings-sidebar/Settings/util/index.ts
Owners: none

feat(workspace): add debug clear button
  libs/components/layout/src/settings-sidebar/Settings/util/handle-export.ts
Owners: none

fix: kanban tag click not work (#494)
  libs/components/editor-blocks/src/blocks/group/scene-kanban/CardContainer.tsx
Owners: @lawvs

fix(kanban): move kanban card at same group (#524)
  libs/components/editor-core/src/kanban/kanban.ts
Owners: @lawvs

fix: typo
  libs/components/editor-core/src/recast-block/types/view.ts
Owners: @lawvs

feat(view): view support group menu
  libs/components/editor-blocks/src/blocks/group/GroupMenu.tsx
Owners: @lawvs

feat: add shortcut in select like pendant, resolved #528
  libs/components/editor-core/src/block-pendant/pendant-modify-panel/Select.tsx
Owners: @lawvs

feat: add animate in trigger, resolved #529
  libs/components/editor-core/src/block-pendant/BlockPendantProvider.tsx
  libs/components/editor-core/src/block-pendant/pendant-popover/PendantPopover.tsx
  libs/components/ui/src/popper/Popper.tsx
  libs/components/ui/src/popper/interface.ts
Owners: @lawvs

feat(more-actions): hidde undefined function
  libs/components/layout/src/workspace-sidebar/page-tree/tree-item/MoreActions.tsx
Owners: none

opti: top-bar issue: 4;
  libs/components/layout/src/header/LayoutHeader.tsx
Owners: none

fix: fix pendant color error, fixed #537
  libs/components/editor-core/src/block-pendant/PendantTag.tsx
  libs/components/editor-core/src/block-pendant/config.ts
  libs/components/editor-core/src/block-pendant/pendant-modify-panel/Mention.tsx
  libs/components/editor-core/src/block-pendant/pendant-modify-panel/Select.tsx
  libs/components/editor-core/src/block-pendant/pendant-modify-panel/Text.tsx
  libs/components/editor-core/src/block-pendant/pendant-modify-panel/types.ts
  libs/components/editor-core/src/block-pendant/pendant-operation-panel/CreatePendantPanel.tsx
  libs/components/editor-core/src/block-pendant/pendant-operation-panel/UpdatePendantPanel.tsx
  libs/components/editor-core/src/block-pendant/pendant-render/PandentRender.tsx
  libs/components/editor-core/src/block-pendant/types.ts
  libs/components/editor-core/src/block-pendant/utils.ts
Owners: @lawvs

feat(view): support save current view
  libs/components/editor-core/src/recast-block/types/constant.ts
  libs/components/editor-core/src/recast-block/types/recast-property.ts
  libs/components/editor-core/src/recast-block/view.ts
Owners: @lawvs

refactor(view): migrate group by
  libs/components/editor-core/src/kanban/kanban.ts
  libs/components/editor-core/src/recast-block/view.ts
Owners: @lawvs

refactor(view): migrate group menu
  libs/components/editor-blocks/src/blocks/group/GroupMenu.tsx
  libs/components/editor-blocks/src/blocks/group/GroupView.tsx
Owners: @lawvs

feat: add button only show on hover, resolved #526
  libs/components/editor-core/src/block-pendant/pendant-render/PandentRender.tsx
  libs/components/ui/src/mui.ts
Owners: @lawvs

chore: clean source view style
  libs/components/editor-blocks/src/components/source-view/SourceView.tsx
Owners: none

feat: jwt performance
  libs/datasource/db-service/src/services/base.ts
  libs/datasource/db-service/src/services/database/index.ts
  libs/datasource/jwt-rpc/src/broadcast.ts
  libs/datasource/jwt-rpc/src/processor.ts
  libs/datasource/jwt-rpc/src/provider.ts
  libs/datasource/jwt-rpc/src/websocket.ts
  libs/datasource/jwt/src/adapter/yjs/index.ts
  libs/datasource/jwt/src/utils/index.ts
  libs/utils/src/utils.ts
Owners: @darkskygit

fix: replace pin button
  apps/ligo-virgo/src/pages/workspace/docs/workspace-name.tsx
Owners: none

refactor(view): migrate to new view api
  libs/components/editor-blocks/src/blocks/group/GroupView.tsx
  libs/components/editor-blocks/src/blocks/group/config.ts
  libs/components/editor-blocks/src/blocks/image/ImageView.tsx
  libs/components/editor-blocks/src/utils/WithTreeViewChildren.tsx
  libs/components/editor-core/src/recast-block/Scene.tsx
  libs/components/editor-core/src/recast-block/types/view.ts
Owners: @lawvs

fix(editor): remove rootRect and modify layout
  apps/ligo-virgo/src/pages/AppContainer.tsx
  apps/ligo-virgo/src/pages/workspace/docs/index.tsx
  libs/components/editor-core/src/RenderRoot.tsx
  libs/components/editor-core/src/drag-drop-wrapper/DragDropWrapper.tsx
  libs/components/editor-core/src/editor/plugin/hooks.ts
  libs/components/editor-core/src/editor/types.ts
  libs/components/editor-plugins/src/base-plugin.ts
  libs/components/editor-plugins/src/block-property/index.tsx
  libs/components/editor-plugins/src/comment/Plugin.tsx
  libs/components/editor-plugins/src/menu/command-menu/CommandMenu.tsx
  libs/components/editor-plugins/src/menu/group-menu/GropuMenu.tsx
  libs/components/editor-plugins/src/menu/group-menu/Line.tsx
  libs/components/editor-plugins/src/menu/group-menu/Plugin.tsx
  libs/components/editor-plugins/src/menu/inline-menu/Plugin.tsx
  libs/components/editor-plugins/src/menu/left-menu/LeftMenuDraggable.tsx
  libs/components/editor-plugins/src/menu/left-menu/LeftMenuPlugin.tsx
  libs/components/editor-plugins/src/menu/reference-menu/index.tsx
  libs/components/editor-plugins/src/menu/selection-group-menu/SelectionGroupPlugin.tsx
  libs/components/editor-plugins/src/placeholder/Placeholder.tsx
  libs/components/ui/src/PatchElements.tsx
  libs/components/ui/src/index.ts
Owners: @lawvs

chore: clean api
  libs/components/editor-core/src/recast-block/view.ts
Owners: @lawvs

chore(view): hide add new view temp
  libs/components/editor-blocks/src/blocks/group/GroupMenu.tsx
Owners: @lawvs

feat: support editing title when editing tag, resolved #538
  libs/components/editor-core/src/block-pendant/pendant-history-panel/PendantHistoryPanel.tsx
  libs/components/editor-core/src/block-pendant/pendant-operation-panel/UpdatePendantPanel.tsx
  libs/components/editor-core/src/block-pendant/pendant-render/PandentRender.tsx
Owners: @lawvs

fix: temp fix broadcast storm
  libs/datasource/jwt/src/adapter/yjs/index.ts
Owners: @darkskygit

feat: change cursor when drag
  libs/components/editor-core/src/RenderRoot.tsx
  libs/components/editor-core/src/drag-drop-wrapper/DragDropWrapper.tsx
  libs/components/editor-core/src/editor/drag-drop/drag-drop.ts
  libs/components/editor-core/src/editor/types.ts
  libs/components/editor-core/src/hooks.ts
  libs/components/editor-plugins/src/menu/group-menu/DragItem.tsx
  libs/components/editor-plugins/src/menu/group-menu/GropuMenu.tsx
  libs/components/editor-plugins/src/menu/group-menu/Plugin.tsx
  libs/components/editor-plugins/src/menu/left-menu/LeftMenuDraggable.tsx
  libs/components/editor-plugins/src/menu/left-menu/LeftMenuPlugin.tsx
Owners: @lawvs

chore: optimisation code
  libs/components/editor-core/src/block-pendant/pendant-history-panel/PendantHistoryPanel.tsx
  libs/components/editor-core/src/block-pendant/pendant-operation-panel/CreatePendantPanel.tsx
  libs/components/editor-core/src/block-pendant/pendant-render/PandentRender.tsx
Owners: @lawvs

fix: #517 codeeditor style
  libs/components/editor-blocks/src/blocks/code/CodeView.tsx
  libs/components/editor-blocks/src/blocks/code/use-code-mirror.ts
Owners: none

fix: #547
  libs/components/editor-blocks/src/blocks/bullet/BulletView.tsx
Owners: none

feat: add onScroll hook in editor, resolved #561
  libs/components/editor-core/src/RenderRoot.tsx
  libs/components/editor-core/src/editor/plugin/hooks.ts
  libs/components/editor-core/src/editor/types.ts
Owners: @lawvs
