Repository joypix-mindz/mindz, changes with the owners that .github/CODEOWNERS names for each.
All owners: @darkskygit, @lawvs, @SaikaSakura

.github/CODEOWNERS:

# About code owners

# You can use a CODEOWNERS file to define individuals or teams that are responsible for code in a repository.

# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners


# =================
# configs
# =================

.* @darkskygit
babel.config.json @darkskygit
nx.json @darkskygit
tsconfig.base.json @darkskygit
**/project.json @darkskygit
**/tsconfig.json @darkskygit
**/tsconfig.*.json @darkskygit
**/.babelrc @darkskygit
**/babel.config.js @darkskygit
**/.* @darkskygit

# =================
# components
# =================

# editor-core
libs/components/editor-core @lawvs

# editor-blocks

# group block
libs/components/editor-blocks/src/blocks/group @lawvs
# todo block
libs/components/editor-blocks/src/blocks/todo @lawvs

libs/framework/virgo @SaikaSakura

# =================
# datasource
# =================

# feature flags
libs/datasource/feature-flags @lawvs

# jwt
libs/datasource/jwt @darkskygit

fix: ci
  .github/deployment/Dockerfile-affine
  .github/deployment/Dockerfile-keck
  .github/deployment/Dockerfile-lisa
  .github/deployment/Dockerfile-venus
Owners: @darkskygit

fix: ci
  .github/deployment/Dockerfile-affine
Owners: @darkskygit

fix: ci
  .github/deployment/Dockerfile-affine
  .github/deployment/Dockerfile-keck
  .github/deployment/Dockerfile-lisa
  .github/deployment/Dockerfile-venus
  .github/workflows/keck.yml
  .github/workflows/venus.yml
Owners: @darkskygit

chore: local port
  .github/deployment/Caddyfile-affine
  .github/deployment/Dockerfile-affine
Owners: @darkskygit

opti: 1.adjust layout style;
  apps/ligo-virgo/src/pages/workspace/docs/Page.tsx
  apps/ligo-virgo/src/pages/workspace/docs/collapsible-page-tree.tsx
  libs/components/common/src/lib/collapsible-title/index.tsx
  libs/components/layout/src/workspace-sidebar/activities/activities.tsx
  libs/components/layout/src/workspace-sidebar/page-tree/DndTree.tsx
  libs/components/layout/src/workspace-sidebar/page-tree/tree-item/TreeItem.tsx
  libs/components/layout/src/workspace-sidebar/page-tree/tree-item/tree-item.module.scss
Owners: none

fix: lighter box shadow
  apps/ligo-virgo/src/pages/workspace/docs/Page.tsx
  libs/components/common/src/lib/text/plugins/link.tsx
  libs/components/editor-blocks/src/blocks/group/GroupView.tsx
  libs/components/editor-blocks/src/blocks/group/components/Panel.tsx
  libs/components/editor-plugins/src/menu/command-menu/Container.tsx
  libs/components/editor-plugins/src/menu/inline-menu/Container.tsx
  libs/components/editor-plugins/src/menu/reference-menu/Container.tsx
  libs/components/editor-plugins/src/search/Search.tsx
  libs/components/layout/src/header/EditorBoardSwitcher/StatusIcon.tsx
  libs/components/ui/src/cascader/Cascader.tsx
  libs/components/ui/src/theme/theme.ts
Owners: @lawvs

chore: file copy
  .github/deployment/Dockerfile-affine
  .github/deployment/Dockerfile-lisa
Owners: @darkskygit

fix: rename shadowSxDownLg -> shadow1
  apps/ligo-virgo/src/pages/workspace/docs/Page.tsx
  libs/components/common/src/lib/text/plugins/link.tsx
  libs/components/editor-blocks/src/blocks/group/GroupView.tsx
  libs/components/editor-blocks/src/blocks/group/components/Panel.tsx
  libs/components/editor-plugins/src/comment/Container.tsx
  libs/components/editor-plugins/src/menu/command-menu/Container.tsx
  libs/components/editor-plugins/src/menu/inline-menu/Container.tsx
  libs/components/editor-plugins/src/menu/reference-menu/Container.tsx
  libs/components/editor-plugins/src/search/Search.tsx
  libs/components/layout/src/header/EditorBoardSwitcher/StatusIcon.tsx
  libs/components/layout/src/settings-sidebar/Comments/CommentItem.tsx
  libs/components/ui/src/cascader/Cascader.tsx
  libs/components/ui/src/popover/Container.tsx
  libs/components/ui/src/select/Select.tsx
  libs/components/ui/src/theme/theme.ts
Owners: @lawvs

fix(whiteboard): disable editor rotation
  libs/components/board-sessions/src/rotate-session.ts
Owners: none

feat: query blocks
  libs/datasource/jwt/src/index.ts
Owners: @darkskygit

fix bacakspace in group first block
  libs/components/editor-blocks/src/blocks/image/ImageView.tsx
  libs/components/editor-blocks/src/blocks/text/TextView.tsx
Owners: none

refact(hook): remove afterOnNodeDragOver
  libs/components/editor-blocks/src/blocks/bullet/BulletView.tsx
  libs/components/editor-blocks/src/blocks/code/CodeView.tsx
  libs/components/editor-blocks/src/blocks/embed-link/EmbedLinkView.tsx
  libs/components/editor-blocks/src/blocks/figma/FigmaView.tsx
  libs/components/editor-blocks/src/blocks/image/ImageView.tsx
  libs/components/editor-blocks/src/blocks/numbered/NumberedView.tsx
  libs/components/editor-blocks/src/blocks/text/TextView.tsx
  libs/components/editor-blocks/src/utils/WithTreeViewChildren.tsx
  libs/components/editor-core/src/block-content-wrapper/BlockContentWrapper.tsx
  libs/components/editor-core/src/block-content-wrapper/index.ts
  libs/components/editor-core/src/drag-drop-wrapper/DragDropWrapper.tsx
  libs/components/editor-core/src/drag-drop-wrapper/index.ts
  libs/components/editor-core/src/editor/plugin/hooks.ts
  libs/components/editor-core/src/editor/types.ts
  libs/components/editor-core/src/index.ts
  libs/components/editor-plugins/src/menu/left-menu/LeftMenuPlugin.tsx
Owners: @lawvs

fixbug: [issue76]when click activities button, throw error;
  apps/ligo-virgo/src/pages/workspace/docs/Page.tsx
  libs/components/layout/src/workspace-sidebar/activities/activities.tsx
  libs/datasource/db-service/src/services/workspace/user-config.ts
Owners: none

fixbug: [issue76]when click activities button, throw error;
  libs/components/layout/src/workspace-sidebar/activities/activities.tsx
  libs/datasource/db-service/src/services/workspace/user-config.ts
Owners: none

fixbug: [issue76]when click activities button, throw error;
  libs/components/layout/src/workspace-sidebar/activities/activities.tsx
Owners: none

feat: fix private prefix
  libs/datasource/jwt/src/adapter/yjs/binary.ts
  libs/datasource/jwt/src/adapter/yjs/block.ts
  libs/datasource/jwt/src/adapter/yjs/gatekeeper.ts
  libs/datasource/jwt/src/adapter/yjs/history.ts
  libs/datasource/jwt/src/adapter/yjs/index.ts
  libs/datasource/jwt/src/adapter/yjs/operation.ts
  libs/datasource/jwt/src/block/abstract.ts
  libs/datasource/jwt/src/block/base.ts
  libs/datasource/jwt/src/block/indexer.ts
  libs/datasource/jwt/src/index.ts
  libs/datasource/jwt/src/utils/event-bus.ts
Owners: @darkskygit

add loding style
  libs/components/editor-blocks/src/components/source-view/SourceView.tsx
Owners: none

fix lint
  libs/components/editor-blocks/src/blocks/text/TextView.tsx
Owners: none

fix lint
  libs/components/editor-blocks/src/components/source-view/SourceView.tsx
Owners: none

feat: improved clipboard event determination conditions
  libs/components/editor-core/src/editor/clipboard/browser-clipboard.ts
  libs/components/editor-core/src/editor/clipboard/clipboard-parse.ts
Owners: @lawvs

ADD mention to desktop build by LEE
  README.md
Owners: none

updated section "stay up-to-date"
  README.md
Owners: none

fix: toc
  README.md
Owners: none

fix: disable reading mode
  libs/components/layout/src/settings-sidebar/Settings/use-settings.ts
Owners: none

fix: fixed can not add new card in kanban
  libs/components/editor-core/src/kanban/atom.ts
Owners: @lawvs

minor fix on typos
  README.md
Owners: none

Updates Documentation
  README.md
Owners: none

chore: clean code
  libs/components/editor-core/src/index.ts
  libs/components/editor-core/src/recast-block/Context.tsx
  libs/components/ui/src/mui.ts
Owners: @lawvs

chore: update modal
  libs/components/editor-core/src/ref-page/ModalPage.tsx
Owners: @lawvs

refactor: switch to useEditor
  libs/components/editor-core/src/RenderRoot.tsx
  libs/components/editor-core/src/contexts.tsx
  libs/components/editor-core/src/hooks.ts
  libs/components/editor-core/src/index.ts
  libs/components/editor-core/src/kanban/kanban.ts
  libs/components/editor-core/src/render-block/RenderBlock.tsx
Owners: @lawvs

fix: feature flag offline mode
  libs/datasource/feature-flags/README.md
  libs/datasource/feature-flags/src/config.ts
Owners: @lawvs

chore: add kanban card ref page flag
  libs/components/editor-blocks/src/blocks/group/scene-kanban/CardItem.tsx
Owners: @lawvs

feat: add sub page
  libs/components/editor-core/src/sub-page/ModalPage.tsx
  libs/components/editor-core/src/sub-page/index.ts
Owners: @lawvs

fix: import path
  libs/components/editor-core/src/sub-page/ModalPage.tsx
Owners: @lawvs

fix: ci
  libs/components/editor-core/src/Contexts.tsx
  libs/components/editor-core/src/hooks.ts
Owners: @lawvs

chore: tweak style
  libs/components/editor-core/src/ref-page/ModalPage.tsx
Owners: @lawvs

feat: kanban card open sub page
  libs/components/editor-blocks/src/blocks/group/scene-kanban/CardContext.tsx
  libs/components/editor-blocks/src/blocks/group/scene-kanban/CardItem.tsx
Owners: @lawvs

chore: add overflow scroll
  libs/components/editor-core/src/ref-page/ModalPage.tsx
Owners: @lawvs

chore: add example feature flag bootstrap
  libs/datasource/feature-flags/src/config.ts
Owners: @lawvs

chore: clean code
  libs/components/editor-core/src/recast-block/README.md
  libs/components/editor-core/src/recast-block/group.ts
Owners: @lawvs
