Repository joypix-mindz/mindz, changes with the owners that .github/CODEOWNERS names for each.
All owners: @darkskygit, @lawvs, @SaikaSakura

.github/CODEOWNERS:

# About code owners

# You can use a CODEOWNERS file to define individuals or teams that are responsible for code in a repository.

# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners


# =================
# configs
# =================

.* @darkskygit
babel.config.json @darkskygit
nx.json @darkskygit
tsconfig.base.json @darkskygit
**/project.json @darkskygit
**/tsconfig.json @darkskygit
**/tsconfig.*.json @darkskygit
**/.babelrc @darkskygit
**/babel.config.js @darkskygit
**/.* @darkskygit

# =================
# components
# =================

# editor-core
libs/components/editor-core @lawvs

# editor-blocks

# group block
libs/components/editor-blocks/src/blocks/group @lawvs
# todo block
libs/components/editor-blocks/src/blocks/todo @lawvs

libs/framework/virgo @SaikaSakura

# =================
# datasource
# =================

# feature flags
libs/datasource/feature-flags @lawvs

# jwt
libs/datasource/jwt @darkskygit

fixbug There is a bug in the rename workspace name function in doc mode #15
  apps/ligo-virgo/src/pages/workspace/docs/workspace-name.tsx
  libs/datasource/db-service/src/services/workspace/user-config.ts
Owners: none

fixbug When opening multiple left sidebar "three-dot" menus in doc mode, the menu boxes will block each other. #16
  libs/components/layout/src/workspace-sidebar/page-tree/tree-item/MoreActions.tsx
Owners: none

chore: abstracting callback functions to reduce the complexity of the jsx
  libs/components/editor-core/src/block-pendant/pendant-operation-panel/CreatePendantPanel.tsx
  libs/components/editor-core/src/block-pendant/pendant-operation-panel/UpdatePendantPanel.tsx
  libs/components/editor-core/src/block-pendant/pendant-operation-panel/hooks.ts
Owners: @lawvs

feat(whiteboard): keep editing state when crossing editor
  libs/components/board-shapes/src/editor-util/EditorUtil.tsx
  libs/components/board-state/src/tldraw-app.ts
  libs/components/board-types/src/types.ts
Owners: none

fix iframe will take away the focus
  libs/components/editor-blocks/src/components/source-view/SourceView.tsx
  libs/components/editor-core/src/recast-block/view.ts
Owners: @lawvs

feat: grid optimise
  libs/components/editor-blocks/src/blocks/grid/GirdHandle.tsx
  libs/components/editor-blocks/src/blocks/grid/Grid.tsx
  libs/components/editor-core/src/editor/drag-drop/drag-drop.ts
  libs/components/editor-core/src/editor/editor.ts
Owners: @lawvs

fix iframe will take away the focus
  libs/components/editor-core/src/recast-block/view.ts
Owners: @lawvs

fix iframe will take away the focus
  libs/components/editor-core/src/recast-block/view.ts
Owners: @lawvs

chore: build issue template
  .github/ISSUE_TEMPLATE/---bug-report.md
  .github/ISSUE_TEMPLATE/---feature-request.md
  .github/ISSUE_TEMPLATE/---improvement-request.md
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/ISSUE_TEMPLATE/improvement-request.yml
Owners: @darkskygit

feat: change left menu icon style
  libs/components/editor-plugins/src/menu/group-menu/DragItem.tsx
  libs/components/editor-plugins/src/menu/left-menu/LeftMenuDraggable.tsx
Owners: none

chore: Temporarily use the old issue template
  .github/ISSUE_TEMPLATE/temp-bug-report.md
  .github/ISSUE_TEMPLATE/temp-feature-request.md
  .github/ISSUE_TEMPLATE/temp-improvement-request.md
Owners: @darkskygit

opti: 1.adjust padding of page-tree item; 2. fetch new icon from figma;
  apps/ligo-virgo/src/pages/workspace/docs/Page.tsx
  libs/components/icons/src/auto-icons/add/add.svg
  libs/components/icons/src/auto-icons/add/add.tsx
  libs/components/icons/src/auto-icons/index.ts
  libs/components/icons/src/auto-icons/more-tags-an-subblocks/more-tags-an-subblocks.svg
  libs/components/icons/src/auto-icons/more-tags-an-subblocks/more-tags-an-subblocks.tsx
  libs/components/icons/src/auto-icons/page-in-page-tree/page-in-page-tree.svg
  libs/components/icons/src/auto-icons/page-in-page-tree/page-in-page-tree.tsx
  libs/components/icons/src/auto-icons/pin/pin.svg
  libs/components/icons/src/auto-icons/pin/pin.tsx
  libs/components/layout/src/header/LayoutHeader.tsx
  libs/components/layout/src/workspace-sidebar/activities/activities.tsx
  libs/components/layout/src/workspace-sidebar/page-tree/DndTree.tsx
  libs/components/layout/src/workspace-sidebar/page-tree/tree-item/MoreActions.tsx
  libs/components/layout/src/workspace-sidebar/page-tree/tree-item/TreeItem.tsx
  libs/components/layout/src/workspace-sidebar/page-tree/tree-item/tree-item.module.scss
  libs/components/ui/src/button/IconButton.tsx
Owners: none

opti: 1.adjust padding of page-tree item; 2. fetch new icon from figma;
  libs/components/layout/src/workspace-sidebar/page-tree/tree-item/tree-item.module.scss
Owners: none

opti: 1.adjust padding of page-tree item; 2. fetch new icon from figma;
  libs/components/ui/src/button/IconButton.tsx
Owners: none

feat(draw): when first time transfer to board mode, use page width as editor shape's width
  apps/ligo-virgo/src/pages/workspace/docs/Page.tsx
  apps/ligo-virgo/src/pages/workspace/whiteboard/index.bak.tsx
  libs/components/affine-board/src/hooks/use-shapes.ts
  libs/datasource/state/src/page.ts
Owners: none

Update README.MD title
  README.md
Owners: none

fix(editor-core): scrollController not exist in Board mode
  libs/components/editor-core/src/editor/scroll/scroll.ts
Owners: @lawvs

feat: support group by status in kanban mode, resolved #40
  libs/components/editor-blocks/src/blocks/group/scene-kanban/CardContainer.tsx
  libs/components/editor-core/src/block-pendant/pendant-modify-panel/Information.tsx
  libs/components/editor-core/src/block-pendant/pendant-modify-panel/Select.tsx
  libs/components/editor-core/src/block-pendant/pendant-operation-panel/CreatePendantPanel.tsx
  libs/components/editor-core/src/block-pendant/utils.ts
  libs/components/editor-core/src/kanban/atom.ts
  libs/components/editor-core/src/kanban/group.ts
  libs/components/editor-core/src/kanban/kanban.ts
  libs/components/editor-core/src/kanban/types.ts
  libs/components/editor-core/src/recast-block/property.ts
Owners: @lawvs

Add affine manual
  README.md
Owners: none

fix: The status history in kanban mode cannot be synced to text mode, fixed #43
  libs/components/editor-core/src/block-pendant/use-pendant.ts
  libs/components/editor-core/src/block-pendant/utils.ts
  libs/components/editor-core/src/kanban/atom.ts
  libs/components/editor-core/src/kanban/kanban.ts
Owners: @lawvs

Refactor: whole README remastered
  README.md
Owners: none

Remove wordy descriptions in the 'philosophy' part
  README.md
Owners: none

Create README.md
  README.md
Owners: none

Update README.md
  README.md
Owners: none

Update README.md
  README.md
Owners: none

Update README.md
  README.md
Owners: none

Update README.md
  README.md
Owners: none

chore: format
  README.md
Owners: none

chore: add new badge
  README.md
Owners: none

docs: update README
  README.md
Owners: none

docs: update README add Table of contents
  README.md
Owners: none

docs: update README
  README.md
Owners: none

refactor: split page template
  libs/datasource/db-service/src/services/editor-block/templates/blog.json
  libs/datasource/db-service/src/services/editor-block/templates/empty.json
  libs/datasource/db-service/src/services/editor-block/templates/grid.json
  libs/datasource/db-service/src/services/editor-block/templates/group-templates.ts
  libs/datasource/db-service/src/services/editor-block/templates/template-factory.ts
  libs/datasource/db-service/src/services/editor-block/templates/todo.json
  libs/datasource/db-service/src/services/editor-block/templates/types.ts
Owners: none

feat: enable resolveJsonModule
  tsconfig.base.json
Owners: @darkskygit

feat: venus for affine
  .github/workflows/venus.yml
  Caddyfile-venus
  Dockerfile-venus
  apps/ligo-virgo/src/index.tsx
  apps/venus/.babelrc
  apps/venus/.browserslistrc
  apps/venus/.eslintrc.json
  apps/venus/package.json
  apps/venus/project.json
  apps/venus/src/app/index.tsx
  apps/venus/src/assets/.gitkeep
  apps/venus/src/assets/collaboration.png
  apps/venus/src/assets/discord.svg
  apps/venus/src/assets/images/favicon.ico
  apps/venus/src/assets/logo.png
  apps/venus/src/assets/page.png
  apps/venus/src/assets/shape.png
  apps/venus/src/assets/task.png
  apps/venus/src/environments/environment.prod.ts
  apps/venus/src/environments/environment.ts
  apps/venus/src/favicon.ico
  apps/venus/src/index.html
  apps/venus/src/index.tsx
  apps/venus/src/polyfills.ts
  apps/venus/src/template.html
  apps/venus/tsconfig.app.json
  apps/venus/tsconfig.json
  apps/venus/tsconfig.spec.json
  apps/venus/webpack.config.js
  package.json
  pnpm-lock.yaml
  workspace.json
Owners: @darkskygit

chore: update badge
  README.md
Owners: none

chore: remove temporarily issue template
  .github/ISSUE_TEMPLATE/temp-bug-report.md
  .github/ISSUE_TEMPLATE/temp-feature-request.md
  .github/ISSUE_TEMPLATE/temp-improvement-request.md
  gh-md-toc
Owners: @darkskygit

feat: jwst comming soon
  libs/datasource/jwst/Cargo.toml
  libs/datasource/jwst/src/lib.rs
Owners: none

chore: remove gh-md-toc
  gh-md-toc
Owners: none

docs(contributorsrc): update contributorsrc
  .all-contributorsrc
  README.md
  libs/components/editor-plugins/src/placeholder/PlaceholderPanel.tsx
Owners: @darkskygit
