Repository joypix-mindz/mindz, changes with the owners that .github/CODEOWNERS names for each.
All owners: @darkskygit, @lawvs, @SaikaSakura

.github/CODEOWNERS:

# About code owners

# You can use a CODEOWNERS file to define individuals or teams that are responsible for code in a repository.

# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners


# =================
# configs
# =================

.* @darkskygit
babel.config.json @darkskygit
nx.json @darkskygit
tsconfig.base.json @darkskygit
**/project.json @darkskygit
**/tsconfig.json @darkskygit
**/tsconfig.*.json @darkskygit
**/.babelrc @darkskygit
**/babel.config.js @darkskygit
**/.* @darkskygit

# =================
# components
# =================

# editor-core
libs/components/editor-core @lawvs

# editor-blocks

# group block
libs/components/editor-blocks/src/blocks/group @lawvs
# todo block
libs/components/editor-blocks/src/blocks/todo @lawvs

libs/framework/virgo @SaikaSakura

# =================
# datasource
# =================

# feature flags
libs/datasource/feature-flags @lawvs

# jwt
libs/datasource/jwt @darkskygit

chore: rename to ref page
  libs/components/editor-blocks/src/blocks/group/scene-kanban/CardItem.tsx
  libs/components/editor-core/src/index.ts
  libs/components/editor-core/src/recast-block/Context.tsx
  libs/components/editor-core/src/ref-page/ModalPage.tsx
  libs/components/editor-core/src/ref-page/index.ts
  libs/components/editor-core/src/sub-page/index.ts
Owners: @lawvs

chore: update text
  libs/components/editor-blocks/src/blocks/group/scene-kanban/CardItem.tsx
Owners: @lawvs

fix(editor): behavior when clicking in blank page and backspacing on last group
  libs/components/editor-blocks/src/blocks/text/TextView.tsx
  libs/components/editor-core/src/RenderRoot.tsx
  libs/components/editor-core/src/editor/editor.ts
  libs/components/editor-core/src/recast-block/group.ts
Owners: @lawvs

feat: outer drag 、fix new page selection
  apps/ligo-virgo/src/pages/workspace/docs/Page.tsx
  libs/components/editor-blocks/src/blocks/grid-item/GridItem.tsx
  libs/components/editor-blocks/src/blocks/grid/Grid.tsx
  libs/components/editor-blocks/src/blocks/grid/index.ts
  libs/components/editor-core/src/Selection.tsx
  libs/components/editor-core/src/editor/commands/block-commands.ts
  libs/components/editor-core/src/editor/config/grid.ts
  libs/components/editor-core/src/editor/config/index.ts
  libs/components/editor-core/src/editor/drag-drop/drag-drop.ts
  libs/components/editor-core/src/editor/drag-drop/types.ts
  libs/components/editor-core/src/editor/editor.ts
  libs/components/editor-core/src/editor/scroll/scroll.ts
  libs/components/editor-core/src/editor/types.ts
  libs/components/editor-plugins/src/menu/left-menu/LeftMenuDraggable.tsx
  libs/components/editor-plugins/src/menu/left-menu/LeftMenuPlugin.tsx
  libs/utils/src/rect.ts
Owners: @lawvs

Revert "Merge pull request #42 from toeverything/feat/sub-page"
  libs/components/editor-blocks/src/blocks/group/scene-kanban/CardContext.tsx
  libs/components/editor-blocks/src/blocks/group/scene-kanban/CardItem.tsx
  libs/components/editor-core/src/RenderRoot.tsx
  libs/components/editor-core/src/contexts.tsx
  libs/components/editor-core/src/hooks.ts
  libs/components/editor-core/src/index.ts
  libs/components/editor-core/src/kanban/kanban.ts
  libs/components/editor-core/src/recast-block/Context.tsx
  libs/components/editor-core/src/recast-block/README.md
  libs/components/editor-core/src/recast-block/group.ts
  libs/components/editor-core/src/ref-page/ModalPage.tsx
  libs/components/editor-core/src/ref-page/index.ts
  libs/components/editor-core/src/render-block/RenderBlock.tsx
  libs/components/ui/src/mui.ts
  libs/datasource/feature-flags/README.md
  libs/datasource/feature-flags/src/config.ts
Owners: @lawvs

Revert "Revert "Merge pull request #42 from toeverything/feat/sub-page""
  libs/components/editor-blocks/src/blocks/group/scene-kanban/CardContext.tsx
  libs/components/editor-blocks/src/blocks/group/scene-kanban/CardItem.tsx
  libs/components/editor-core/src/Contexts.tsx
  libs/components/editor-core/src/RenderRoot.tsx
  libs/components/editor-core/src/hooks.ts
  libs/components/editor-core/src/index.ts
  libs/components/editor-core/src/kanban/kanban.ts
  libs/components/editor-core/src/recast-block/Context.tsx
  libs/components/editor-core/src/recast-block/README.md
  libs/components/editor-core/src/recast-block/group.ts
  libs/components/editor-core/src/ref-page/ModalPage.tsx
  libs/components/editor-core/src/ref-page/index.ts
  libs/components/editor-core/src/render-block/RenderBlock.tsx
  libs/components/ui/src/mui.ts
  libs/datasource/feature-flags/README.md
  libs/datasource/feature-flags/src/config.ts
Owners: @lawvs

fix: context not found
  libs/components/editor-core/src/ref-page/ModalPage.tsx
Owners: @lawvs

feat: page-tree code style
  libs/datasource/db-service/src/services/workspace/page-tree.ts
Owners: none

feat: pageTreeName
  libs/datasource/db-service/src/services/workspace/page-tree.ts
Owners: none

fix: scrollManager can not get scrollcontainer after create new page
  apps/ligo-virgo/src/pages/workspace/docs/Page.tsx
  libs/components/affine-editor/src/Editor.tsx
Owners: none

feat(component): add support for elixir highlighting in code block
  libs/components/editor-blocks/package.json
  libs/components/editor-blocks/src/blocks/code/CodeView.tsx
  pnpm-lock.yaml
Owners: none

fix: forward isActive prop in tab
  apps/ligo-virgo/src/pages/workspace/docs/components/tabs/Tabs.tsx
Owners: none

fix: changed prop format to camelCase
  apps/ligo-virgo/src/pages/workspace/docs/components/logo/Logo.tsx
Owners: none

Beautify the header style
  apps/venus/src/app/index.tsx
Owners: none

feat: add underscore
  libs/datasource/db-service/src/services/workspace/page-tree.ts
Owners: none

refactor : remove redundant if
  apps/ligo-virgo/webpack.config.js
  apps/venus/webpack.config.js
Owners: none

refactor : improving code clarity and removing unnecessary else
  apps/keck/src/index.ts
Owners: none

fix : broken magic number
  apps/keck/src/index.ts
Owners: none

fix(component): fixes codeblock so lang selection persists across refresh
  libs/components/editor-blocks/src/blocks/code/CodeView.tsx
Owners: none

refactor : improved performance, independent running promise in parallel
  apps/ligo-virgo/src/pages/workspace/Home.tsx
  apps/ligo-virgo/src/pages/workspace/docs/workspace-name.tsx
Owners: none

refactor(component): clean up code block component
  libs/components/editor-blocks/src/blocks/code/CodeView.tsx
Owners: none

chore: try lighter ci
  .github/workflows/affine.yml
  .github/workflows/check.yml
  .github/workflows/keck.yml
  .github/workflows/lint.yml
  .github/workflows/lisa.yml
  .github/workflows/venus.yml
Owners: @darkskygit

Update check.yml
  .github/workflows/check.yml
Owners: @darkskygit

fix(Reference): add robust judgment
  libs/components/editor-plugins/src/menu/reference-menu/ReferenceMenu.tsx
Owners: none

Update check.yml
  .github/workflows/check.yml
Owners: @darkskygit

feat(html): update default title
  apps/ligo-virgo/src/index.html
Owners: none

Update check.yml
  .github/workflows/check.yml
Owners: @darkskygit

Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Owners: @darkskygit

Create sonarcloud.yml
  .github/workflows/sonarcloud.yml
Owners: @darkskygit

chore: update deps
  apps/keck/package.json
  apps/ligo-virgo/package.json
  apps/ligo-virgo/src/index.html
  apps/venus/src/index.html
  libs/components/account/package.json
  libs/components/editor-blocks/package.json
  libs/datasource/jwt-rpc/package.json
  libs/datasource/jwt/package.json
  libs/datasource/remote-kv/package.json
  libs/datasource/state/package.json
Owners: @darkskygit

fix: typos in README
  README.md
Owners: none

feat: basic e2e
  .github/env/.env.e2e
  .github/env/.env.local-dev
  .github/workflows/check.yml
  apps/ligo-virgo-e2e/.eslintrc.json
  apps/ligo-virgo-e2e/cypress.config.ts
  apps/ligo-virgo-e2e/project.json
  apps/ligo-virgo-e2e/src/fixtures/example.json
  apps/ligo-virgo-e2e/src/integration/app.spec.ts
  apps/ligo-virgo-e2e/src/support/app.po.ts
  apps/ligo-virgo-e2e/src/support/commands.ts
  apps/ligo-virgo-e2e/src/support/index.ts
  apps/ligo-virgo-e2e/tsconfig.json
  apps/ligo-virgo/project.json
  apps/ligo-virgo/webpack.config.js
  package.json
  pnpm-lock.yaml
  workspace.json
Owners: @darkskygit

fix: ci
  .github/workflows/check.yml
Owners: @darkskygit

Delete sonarcloud.yml
  .github/workflows/sonarcloud.yml
Owners: @darkskygit

fix: more typos in documentation
  README.md
Owners: none

chore: update styles
  apps/venus/src/app/index.tsx
Owners: none

chore:modify styles
  apps/venus/src/app/index.tsx
Owners: none

fix(sidebar): use a tag for link
  libs/components/layout/src/workspace-sidebar/page-tree/tree-item/TreeItem.tsx
  libs/components/layout/src/workspace-sidebar/page-tree/tree-item/tree-item.module.scss
Owners: none

fix(plugin): use rxjs throttle
  libs/components/editor-plugins/src/menu/left-menu/LeftMenuPlugin.tsx
Owners: none

chore: e2e record
  .github/workflows/check.yml
  apps/ligo-virgo-e2e/cypress.config.ts
Owners: @darkskygit
