Repository joypix-mindz/mindz, changes with the owners that .github/CODEOWNERS names for each.
All owners: @darkskygit, @lawvs, @SaikaSakura

.github/CODEOWNERS:

# About code owners

# You can use a CODEOWNERS file to define individuals or teams that are responsible for code in a repository.

# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners


# =================
# configs
# =================

.* @darkskygit
babel.config.json @darkskygit
nx.json @darkskygit
tsconfig.base.json @darkskygit
**/project.json @darkskygit
**/tsconfig.json @darkskygit
**/tsconfig.*.json @darkskygit
**/.babelrc @darkskygit
**/babel.config.js @darkskygit
**/.* @darkskygit

# =================
# components
# =================

# editor-core
libs/components/editor-core @lawvs

# editor-blocks

# group block
libs/components/editor-blocks/src/blocks/group @lawvs
# todo block
libs/components/editor-blocks/src/blocks/todo @lawvs

libs/framework/virgo @SaikaSakura

# =================
# datasource
# =================

# feature flags
libs/datasource/feature-flags @lawvs

# jwt
libs/datasource/jwt @darkskygit

🐛 fix: wrong href of colaborator (#479)
  .all-contributorsrc
  README.md
Owners: @darkskygit

feat(i18n): new translations
  libs/datasource/i18n/src/resources/bn.json
  libs/datasource/i18n/src/resources/index.ts
Owners: none

Update affine.pro.md
  docs/jobs/affine.pro.md
Owners: none

Create affine.pro-remote.md
  docs/jobs/affine.pro-remote.md
Owners: none

Update affine.pro.md
  docs/jobs/affine.pro.md
Owners: none

Update affine.pro-remote.md
  docs/jobs/affine.pro-remote.md
Owners: none

Update affine.pro.md
  docs/jobs/affine.pro.md
Owners: none

Update affine.pro-remote.md
  docs/jobs/affine.pro-remote.md
Owners: none

Update affine.pro.md
  docs/jobs/affine.pro.md
Owners: none

Update affine.pro-remote.md
  docs/jobs/affine.pro-remote.md
Owners: none

fix: console warning
  libs/components/ui/src/model/index.tsx
  libs/components/ui/src/popover/Popover.tsx
Owners: none

fix: edgeless pencil color
  libs/components/affine-board/src/hooks/use-shapes.ts
  libs/components/board-draw/src/components/command-panel/BorderColorConfig.tsx
Owners: none

fix: mixed Chinese and English
  apps/venus/src/app/i18n/resources/zh.json
Owners: none

fix: hide the mode switcher in small screen
  libs/components/layout/src/header/LayoutHeader.tsx
Owners: none

fix: remove console
  libs/components/affine-board/src/hooks/use-shapes.ts
  libs/components/board-draw/src/components/command-panel/BorderColorConfig.tsx
Owners: none

Update affine.pro-remote.md
  docs/jobs/affine.pro-remote.md
Owners: none

fix: shortcut for cut
  libs/components/common/src/lib/text/slate-utils.ts
  libs/components/editor-core/src/editor/block/block-helper.ts
  libs/components/editor-core/src/editor/clipboard/clipboard.ts
  libs/components/editor-core/src/editor/clipboard/cut.ts
Owners: @lawvs

fix: consistent return
  libs/components/layout/src/header/LayoutHeader.tsx
Owners: none

feat: change layout
  src/components/Header/index.tsx
  src/pages/_app.tsx
  src/pages/index.tsx
Owners: none

chore: add block suite
  package.json
  pnpm-lock.yaml
Owners: none

feat: add block suite editor sample
  src/components/editor.tsx
  src/pages/index.tsx
Owners: none

Fix/update copyright (#491)
  apps/venus/src/app/common/Footer.tsx
  libs/components/editor-core/src/editor/editor.ts
  libs/components/layout/src/header/Logo/InfoModal.tsx
Owners: @lawvs

fix: update copyright info
  apps/venus/src/app/common/Footer.tsx
  libs/components/editor-core/src/editor/editor.ts
  libs/components/layout/src/header/Logo/InfoModal.tsx
Owners: @lawvs

feat: add blocksuit
  package.json
  pnpm-lock.yaml
  public/globals.css
  public/variable.css
  src/components/Header/icons.tsx
  src/components/Header/index.tsx
  src/components/editor.tsx
  src/pages/_app.tsx
  src/pages/index.tsx
  src/pages/temporary.css
Owners: none

feat: modify style
  src/pages/temporary.css
Owners: none

feat: modify ci
  .github/workflows/build.yml
Owners: @darkskygit

feat: update blocksuit & adpat it
  next.config.js
  package.json
  pnpm-lock.yaml
  src/components/Header/index.tsx
  src/components/editor.tsx
Owners: none

docs/jobs patch (#494)
  docs/jobs/affine.pro-remote.md
  docs/jobs/affine.pro.md
  docs/jobs/mysc.app.md
Owners: none

feat: update blocksuit & adpat it
  next.config.js
  package.json
  pnpm-lock.yaml
  src/components/Header/index.tsx
  src/components/editor.tsx
Owners: none

feat: add dark mode switch & export
  public/globals.css
  public/variable.css
  src/components/Header/icons.tsx
  src/components/Header/index.tsx
  src/components/Header/styles.ts
  src/components/editor-provider.tsx
  src/components/editor.tsx
  src/components/popover/index.tsx
  src/pages/_app.tsx
  src/pages/index.tsx
  src/styles/theme.ts
  src/styles/themeProvider.tsx
Owners: none

fix: lint error
  src/components/editor.tsx
Owners: none

chore: tweak title config
  src/components/editor.tsx
Owners: none

chore: change to monorepo
  .vscode/settings.json
  README.md
  package.json
  packages/app/.eslintrc.js
  packages/app/README.md
  packages/app/next-env.d.ts
  packages/app/next.config.js
  packages/app/package.json
  packages/app/public/favicon.ico
  packages/app/public/globals.css
  packages/app/public/variable.css
  packages/app/src/components/Header/icons.tsx
  packages/app/src/components/Header/index.tsx
  packages/app/src/components/Header/styles.ts
  packages/app/src/components/editor-provider.tsx
  packages/app/src/components/editor.tsx
  packages/app/src/components/popover/index.tsx
  packages/app/src/components/simple-counter/index.ts
  packages/app/src/pages/_app.tsx
  packages/app/src/pages/_document.tsx
  packages/app/src/pages/affine.tsx
  packages/app/src/pages/index.tsx
  packages/app/src/pages/temporary.css
  packages/app/src/styles/hooks.ts
  packages/app/src/styles/index.ts
  packages/app/src/styles/styled.ts
  packages/app/src/styles/theme.ts
  packages/app/src/styles/themeProvider.tsx
  packages/app/src/styles/types.ts
  packages/app/src/styles/utils/index.ts
  packages/app/src/styles/utils/localStorageThemeHelper.ts
  packages/app/src/styles/utils/systemThemeHelper.ts
  packages/app/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Owners: @darkskygit

chore: update workflow (#17)
  .github/workflows/build.yml
Owners: @darkskygit

chore: update dockerfile
  .github/deployment/Dockerfile
Owners: @darkskygit

feat: update blocksuite version
  packages/app/package.json
  pnpm-lock.yaml
Owners: none

feat: update blocksuite version
  packages/app/package.json
  packages/app/src/components/editor.tsx
  pnpm-lock.yaml
Owners: none

fix: lint
  packages/app/src/pages/affine.tsx
Owners: none

feat: update blocksuite version
  packages/app/package.json
  pnpm-lock.yaml
Owners: none

fix: minify incorrect (#23)
  package.json
  packages/app/next.config.js
  packages/app/tsconfig.json
Owners: @darkskygit
