Repository joypix-mindz/mindz, changes with the owners that .github/CODEOWNERS names for each.
All owners: @darkskygit, @lawvs, @SaikaSakura

.github/CODEOWNERS:

# About code owners

# You can use a CODEOWNERS file to define individuals or teams that are responsible for code in a repository.

# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners


# =================
# configs
# =================

.* @darkskygit
babel.config.json @darkskygit
nx.json @darkskygit
tsconfig.base.json @darkskygit
**/project.json @darkskygit
**/tsconfig.json @darkskygit
**/tsconfig.*.json @darkskygit
**/.babelrc @darkskygit
**/babel.config.js @darkskygit
**/.* @darkskygit

# =================
# components
# =================

# editor-core
libs/components/editor-core @lawvs

# editor-blocks

# group block
libs/components/editor-blocks/src/blocks/group @lawvs
# todo block
libs/components/editor-blocks/src/blocks/todo @lawvs

libs/framework/virgo @SaikaSakura

# =================
# datasource
# =================

# feature flags
libs/datasource/feature-flags @lawvs

# jwt
libs/datasource/jwt @darkskygit

docs(readme): remove unused contributors info
  README.md
Owners: none

fix clickaway error in page
  libs/components/editor-plugins/src/menu/command-menu/Menu.tsx
Owners: none

feat: modify the type of animation that appears for the pendant Add button
  libs/components/editor-core/src/block-pendant/pendant-render/PandentRender.tsx
  libs/components/ui/src/mui.ts
Owners: @lawvs

fix: fix mui select throw wraning when pendant select change
  libs/components/editor-core/src/block-pendant/pendant-operation-panel/CreatePendantPanel.tsx
Owners: @lawvs

feat: fix code review
  libs/components/editor-blocks/src/blocks/grid/GirdHandle.tsx
  libs/components/editor-plugins/src/menu/group-menu/DragItem.tsx
  libs/components/editor-plugins/src/menu/left-menu/LeftMenuDraggable.tsx
Owners: none

fix: replace readme image
  README.md
Owners: none

fix: update readme
  README.md
Owners: none

feat: grid optimise
  libs/components/editor-blocks/src/blocks/grid/GirdHandle.tsx
  libs/components/editor-blocks/src/blocks/grid/Grid.tsx
  libs/components/editor-core/src/editor/drag-drop/drag-drop.ts
  libs/components/editor-core/src/editor/editor.ts
Owners: @lawvs

feat: change left menu icon style
  libs/components/editor-plugins/src/menu/group-menu/DragItem.tsx
  libs/components/editor-plugins/src/menu/left-menu/LeftMenuDraggable.tsx
Owners: none

feat: fix code review
  libs/components/editor-blocks/src/blocks/grid/GirdHandle.tsx
  libs/components/editor-plugins/src/menu/group-menu/DragItem.tsx
  libs/components/editor-plugins/src/menu/left-menu/LeftMenuDraggable.tsx
Owners: none

fix: check error
  libs/components/editor-plugins/src/placeholder/PlaceholderPanel.tsx
  libs/datasource/db-service/src/services/editor-block/templates/template-factory.ts
Owners: none

opti: 1.adjust page-tree header;
  apps/ligo-virgo/src/assets/images/logo.svg
  apps/ligo-virgo/src/pages/workspace/docs/Page.tsx
  apps/ligo-virgo/src/pages/workspace/docs/components/tabs/Tabs.tsx
  apps/ligo-virgo/src/pages/workspace/docs/components/tabs/index.ts
  apps/ligo-virgo/src/pages/workspace/docs/workspace-name.tsx
Owners: none

feat: support set frame background color
  libs/components/board-draw/src/components/command-panel/CommandPanel.tsx
  libs/components/board-draw/src/components/command-panel/FrameFillColorConfig.tsx
  libs/components/board-draw/src/components/command-panel/utils/use-config.ts
  libs/components/board-shapes/src/frame-util/FrameUtil.tsx
  libs/components/board-shapes/src/frame-util/components/Frame.tsx
  libs/components/board-shapes/src/frame-util/components/draw-frame.tsx
  libs/components/board-shapes/src/frame-util/index.ts
  libs/components/board-tools/src/select-tool/select-tool.ts
Owners: none

feat: venus style adjust
  apps/venus/src/app/index.tsx
  apps/venus/src/assets/collaboration.png
  apps/venus/src/assets/page.png
  apps/venus/src/assets/shape.png
  apps/venus/src/assets/task.png
Owners: none

opti: 1.adjust page-tree header;
  apps/ligo-virgo/src/assets/images/logo.svg
  apps/ligo-virgo/src/pages/workspace/docs/components/logo/Logo.tsx
  apps/ligo-virgo/src/pages/workspace/docs/components/logo/index.ts
  apps/ligo-virgo/src/pages/workspace/docs/workspace-name.tsx
Owners: none

feat: venus style adjust
  apps/venus/src/app/index.tsx
  apps/venus/src/assets/collaboration.png
  apps/venus/src/assets/discord.svg
  apps/venus/src/assets/task.png
Owners: none

refactor: abstract the logic of the value history to the recastBlock
  libs/components/editor-core/src/block-pendant/pendant-history-panel/PendantHistoryPanel.tsx
  libs/components/editor-core/src/block-pendant/pendant-modify-panel/Mention.tsx
  libs/components/editor-core/src/block-pendant/pendant-operation-panel/UpdatePendantPanel.tsx
  libs/components/editor-core/src/block-pendant/pendant-operation-panel/hooks.ts
  libs/components/editor-core/src/block-pendant/use-pendant.ts
  libs/components/editor-core/src/block-pendant/utils.ts
  libs/components/editor-core/src/kanban/atom.ts
  libs/components/editor-core/src/recast-block/history.ts
  libs/components/editor-core/src/recast-block/property.ts
Owners: @lawvs

fix: fixed #19
  libs/components/editor-core/src/editor/keyboard/keyboard.ts
Owners: @lawvs

refactor: improves readability
  libs/components/editor-core/src/kanban/atom.ts
  libs/components/editor-core/src/recast-block/property.ts
Owners: @lawvs

fix: set draw color & width
  libs/components/board-draw/src/components/command-panel/utils/use-config.ts
Owners: none

fix(plugin): left menu postion and size
  libs/components/editor-blocks/src/blocks/group/GroupView.tsx
  libs/components/editor-core/src/block-content-wrapper/BlockContentWrapper.tsx
  libs/components/editor-core/src/block-pendant/BlockPendantProvider.tsx
  libs/components/editor-core/src/block-pendant/pendant-popover/PendantPopover.tsx
  libs/components/editor-plugins/src/menu/left-menu/LeftMenuDraggable.tsx
  libs/components/editor-plugins/src/menu/left-menu/LeftMenuPlugin.tsx
  libs/components/ui/src/popover/Container.tsx
  libs/components/ui/src/popover/Popover.tsx
  libs/components/ui/src/popover/index.ts
Owners: @lawvs

feat(all-contributorsrc): update project name
  .all-contributorsrc
Owners: @darkskygit

feat: insert page into workspace block
  libs/datasource/jwt/src/index.ts
Owners: @darkskygit

refactor(user-config): refactor snake_case to lowerUpperCase
  libs/datasource/db-service/src/services/workspace/user-config.ts
Owners: none

refactor: remove useless params in setValue method
  libs/components/editor-core/src/block-pendant/pendant-operation-panel/hooks.ts
  libs/components/editor-core/src/kanban/atom.ts
  libs/components/editor-core/src/recast-block/property.ts
Owners: @lawvs

refactor: refactor logic of value history
  libs/components/editor-core/src/block-pendant/pendant-history-panel/PendantHistoryPanel.tsx
  libs/components/editor-core/src/recast-block/history.ts
  libs/components/editor-core/src/recast-block/property.ts
Owners: @lawvs

Update on acknowledgement to make it proper
  README.md
Owners: none

merged the section of acknowledgement
  README.md
Owners: none

fix: remove unused console
  libs/components/board-tools/src/select-tool/select-tool.ts
Owners: none

feat(build-local): add config env file
  package.json
Owners: none

fix: variable naming
  libs/datasource/jwt/src/adapter/yjs/binary.ts
  libs/datasource/jwt/src/adapter/yjs/block.ts
  libs/datasource/jwt/src/adapter/yjs/gatekeeper.ts
  libs/datasource/jwt/src/adapter/yjs/history.ts
  libs/datasource/jwt/src/adapter/yjs/index.ts
  libs/datasource/jwt/src/adapter/yjs/operation.ts
  libs/datasource/jwt/src/block/abstract.ts
  libs/datasource/jwt/src/block/base.ts
  libs/datasource/jwt/src/block/indexer.ts
  libs/datasource/jwt/src/index.ts
  libs/datasource/jwt/src/utils/event-bus.ts
Owners: @darkskygit

fix: fixed #81
  apps/ligo-virgo/src/pages/workspace/docs/Page.tsx
  libs/components/editor-core/src/editor/scroll/scroll.ts
Owners: @lawvs

fix(whiteboard): editor init size when creating new editor
  apps/ligo-virgo/src/pages/workspace/docs/Page.tsx
  libs/components/board-draw/src/TlDraw.tsx
  libs/components/board-state/src/tldraw-app.ts
  libs/components/board-tools/src/editor-tool/editor-tool.ts
Owners: none

feat: sort & limit for jwt query
  libs/datasource/jwt/package.json
  libs/datasource/jwt/src/block/indexer.ts
  pnpm-lock.yaml
Owners: @darkskygit

fix iframe
  libs/components/editor-blocks/src/components/source-view/SourceView.tsx
Owners: none

chore: ci adjust
  .github/deployment/Caddyfile-venus
  .github/deployment/Dockerfile-keck
  .github/deployment/Dockerfile-venus
  .github/workflows/keck.yml
  .github/workflows/venus.yml
Owners: @darkskygit

fix(component): children line style in whiteboard
  libs/components/editor-blocks/src/utils/WithTreeViewChildren.tsx
Owners: none

chore: readme
  README.md
Owners: none

chore: lisa ci
  .github/deployment/Caddyfile-lisa
  .github/deployment/Dockerfile-lisa
  .github/workflows/lisa.yml
Owners: @darkskygit

feat: venus adjust
  .github/deployment/Dockerfile-affine
  .github/workflows/affine.yml
  apps/venus/package.json
  apps/venus/src/app/collaboration.png
  apps/venus/src/app/index.tsx
  apps/venus/src/app/logo.png
  apps/venus/src/app/page.png
  apps/venus/src/app/shape.png
  apps/venus/src/app/task.png
  apps/venus/src/assets/shape.png
  apps/venus/src/favicon.ico
  apps/venus/webpack.config.js
  pnpm-lock.yaml
Owners: @darkskygit
