Repository joypix-mindz/mindz, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, test, mod:dev, mod:plugin, plugin:copilot, mod:infra, mod:sdk, mod:plugin-cli, mod:workspace, mod:i18n, mod:env, mod:hooks, mod:component, mod:storage, mod:native, mod:store, rust, package:y-indexeddb, app:core, app:electron, app:server

fix(electron): use tree-kill for electron dev (#5252)
  packages/frontend/electron/package.json
  packages/frontend/electron/scripts/dev.ts
  yarn.lock
Labels: app:electron

fix(component): revert theme flickering (#5238) (#5256)
  packages/frontend/component/src/theme/theme.css.ts
  packages/frontend/core/.webpack/template.html
Labels: mod:component, app:core

feat(core): adjust empty collection style (#5239)
  packages/frontend/core/src/components/affine/share-page-modal/share-menu/share-menu.tsx
  packages/frontend/core/src/components/pure/workspace-slider-bar/collections/add-collection-button.tsx
  packages/frontend/core/src/components/pure/workspace-slider-bar/collections/collections-list.tsx
  packages/frontend/core/src/components/pure/workspace-slider-bar/collections/styles.css.ts
  packages/frontend/core/src/components/pure/workspace-slider-bar/index.tsx
  packages/frontend/core/src/components/root-app-sidebar/index.tsx
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:core

chore: bump up vite-plugin-static-copy version to v1 (#5205)
  package.json
  yarn.lock
Labels: none

chore: bump up marked version to v11 (#5200)
  packages/plugins/copilot/package.json
  packages/plugins/copilot/src/core/components/conversation/index.tsx
  yarn.lock
Labels: mod:plugin, plugin:copilot

chore: upgrade to yarn@4.0.2 (#5245)
  .prettierignore
  .yarn/releases/yarn-4.0.1.cjs
  .yarn/releases/yarn-4.0.2.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Labels: none

chore: upgrade rustup toolchain (#5246)
  README.md
  rust-toolchain.toml
Labels: docs, rust

chore: bump up @electron-forge/maker-base version to v7.2.0 (#5191)
  package.json
  packages/frontend/electron/package.json
  yarn.lock
Labels: app:electron

fix(cli): fix storybook build error (#5257)
  tests/storybook/.storybook/main.ts
Labels: test

fix(server): avoid updates persist forever (#5258)
  packages/backend/server/src/modules/doc/manager.ts
Labels: app:server

fix(server): avoid updates persist forever (#5258)
  packages/backend/server/src/modules/doc/manager.ts
Labels: app:server

fix(core): adjust share edgeless display error (#5263)
  packages/frontend/core/src/components/page-detail-editor.css.ts
  packages/frontend/core/src/components/pure/header/index.tsx
  packages/frontend/core/src/components/pure/header/style.css.tsx
  packages/frontend/core/src/pages/share/share-header.tsx
Labels: app:core

fix(core): fix editor sidebar open on resize (#5262)
  packages/frontend/core/src/pages/workspace/detail-page/detail-page.tsx
Labels: app:core

fix(server): use last update creating time as snasphot update timestamp (#5266)
  packages/backend/server/src/modules/doc/manager.ts
Labels: app:server

feat: bump blocksuite (#5267)
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/common/sdk/package.json
  packages/common/y-indexeddb/package.json
  packages/common/y-provider/package.json
  packages/frontend/component/package.json
  packages/frontend/component/src/components/block-suite-editor/index.tsx
  packages/frontend/component/src/components/block-suite-editor/specs.ts
  packages/frontend/core/package.json
  packages/frontend/electron/package.json
  packages/frontend/hooks/package.json
  tests/affine-legacy/0.6.1-beta.1/package.json
  tests/affine-legacy/0.7.0-canary.18/package.json
  tests/affine-legacy/0.8.0-canary.7/package.json
  tests/affine-legacy/0.8.4/package.json
  tests/affine-local/e2e/all-page.spec.ts
  tests/affine-migration/package.json
  tests/storybook/package.json
  yarn.lock
Labels: test, mod:infra, mod:sdk, mod:env, mod:hooks, mod:component, package:y-indexeddb, app:core, app:electron

fix(core): polling to search in cmdk (#5274)
  packages/frontend/core/src/components/pure/cmdk/data.tsx
  packages/frontend/core/src/components/pure/cmdk/main.tsx
  tests/affine-local/e2e/quick-search.spec.ts
Labels: test, app:core

feat(core): support sidebar page item dnd (#5132)
  packages/frontend/component/src/components/app-sidebar/menu-item/index.css.ts
  packages/frontend/component/src/components/page-list/page-list-item.css.ts
  packages/frontend/component/src/components/page-list/page-list-item.tsx
  packages/frontend/component/src/components/page-list/use-collection-manager.ts
  packages/frontend/component/src/components/page-list/view/collection-operations.tsx
  packages/frontend/component/src/components/page-list/view/edit-collection/edit-collection.tsx
  packages/frontend/component/src/components/rename-modal/index.tsx
  packages/frontend/component/src/ui/input/input.tsx
  packages/frontend/core/src/components/affine/create-workspace-modal/index.tsx
  packages/frontend/core/src/components/affine/new-workspace-setting-detail/delete-leave-workspace/delete/index.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-page-list/utils.tsx
  packages/frontend/core/src/components/pure/workspace-slider-bar/collections/collections-list.tsx
  packages/frontend/core/src/components/pure/workspace-slider-bar/collections/index.tsx
  packages/frontend/core/src/components/pure/workspace-slider-bar/collections/page.tsx
  packages/frontend/core/src/components/pure/workspace-slider-bar/collections/styles.css.ts
  packages/frontend/core/src/components/pure/workspace-slider-bar/components/drag-menu-item-overlay.tsx
  packages/frontend/core/src/components/pure/workspace-slider-bar/components/operation-item.tsx
  packages/frontend/core/src/components/pure/workspace-slider-bar/components/operation-menu-button.tsx
  packages/frontend/core/src/components/pure/workspace-slider-bar/components/postfix-item.tsx
  packages/frontend/core/src/components/pure/workspace-slider-bar/favorite/add-favourite-button.tsx
  packages/frontend/core/src/components/pure/workspace-slider-bar/favorite/favorite-list.tsx
  packages/frontend/core/src/components/pure/workspace-slider-bar/favorite/favourite-page.tsx
  packages/frontend/core/src/components/pure/workspace-slider-bar/favorite/styles.css.ts
  packages/frontend/core/src/components/root-app-sidebar/index.tsx
  packages/frontend/core/src/hooks/affine/use-sidebar-drag.ts
  packages/frontend/core/src/layouts/workspace-layout.tsx
  packages/frontend/core/src/pages/workspace/trash-page.tsx
  packages/frontend/i18n/src/resources/en.json
  tests/affine-local/e2e/drag-page-to-trash-folder.spec.ts
  tests/affine-local/e2e/drag-page.spec.ts
  tests/affine-local/e2e/local-first-collections-items.spec.ts
  tests/affine-local/e2e/local-first-favorites-items.spec.ts
  tests/storybook/src/stories/quick-search/quick-search-main.stories.tsx
Labels: test, mod:i18n, mod:component, app:core

fix(server): avoid repeatly register providers (#5265)
  packages/backend/server/src/config/def.ts
  packages/backend/server/src/config/default.ts
  packages/backend/server/src/config/index.ts
  packages/backend/server/src/event/index.ts
  packages/backend/server/src/modules/config.ts
  packages/backend/server/src/modules/doc/index.ts
  packages/backend/server/src/modules/doc/manager.ts
  packages/backend/server/src/modules/index.ts
  packages/backend/server/src/modules/sync/events/events.module.ts
  packages/backend/server/src/modules/workspaces/index.ts
  packages/backend/server/src/throttler.ts
  packages/backend/server/tests/doc.spec.ts
Labels: test, app:server

fix(edgeless): remove stale template (#5275)
  packages/common/infra/src/blocksuite/initialization/index.ts
  packages/frontend/templates/v1/personal-home.json
  packages/frontend/templates/v1/travel-note.json
  packages/frontend/templates/v1/travel-plan.json
  tests/affine-local/e2e/local-first-workspace-list.spec.ts
Labels: docs, test, mod:infra

fix(core): page header style changes (#5279)
  packages/frontend/core/src/components/blocksuite/block-suite-header-title/index.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-header-title/operation-menu.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-header-title/styles.css.ts
  packages/frontend/core/src/components/pure/header-drop-down-button/index.tsx
  packages/frontend/core/src/components/pure/header-drop-down-button/styles.css.ts
  tests/kit/utils/cloud.ts
Labels: test, app:core

fix(electron): use dynamic load for exposed meta (#5251)
  packages/frontend/electron/src/main/deep-link.ts
  packages/frontend/electron/src/main/index.ts
  packages/frontend/electron/src/main/main-window.ts
  packages/frontend/electron/src/main/ui/handlers.ts
Labels: app:electron

fix(core): fix window cannot be dragged on the collection page (#5269)
  packages/frontend/core/src/pages/workspace/collection.tsx
Labels: app:core

fix(core): bg color issues in transparent mode (#5278)
  packages/frontend/component/src/components/workspace/index.css.ts
  packages/frontend/component/src/components/workspace/index.tsx
  packages/frontend/core/src/layouts/workspace-layout.tsx
Labels: mod:component, app:core

chore: bump up @endo/static-module-record version to v1 (#5281)
  tools/plugin-cli/package.json
  yarn.lock
Labels: mod:plugin-cli

fix(core): simple history entry position (#5290)
  packages/frontend/core/src/components/blocksuite/block-suite-header-title/operation-menu.tsx
Labels: app:core

test(core): rewrite some flaky assertions (#5287)
  tests/affine-desktop/e2e/basic.spec.ts
  tests/affine-local/e2e/drag-page.spec.ts
  tests/affine-local/e2e/duplicate-page.spec.ts
  tests/affine-local/e2e/image-preview.spec.ts
  tests/affine-local/e2e/local-first-collections-items.spec.ts
  tests/affine-local/e2e/shortcuts.spec.ts
  tests/kit/utils/cloud.ts
Labels: test

refactor(core): side bar resizing (#5280)
  packages/frontend/component/src/components/app-sidebar/index.css.ts
  packages/frontend/component/src/components/app-sidebar/index.tsx
  packages/frontend/component/src/components/app-sidebar/resize-indicator/index.css.ts
  packages/frontend/component/src/components/app-sidebar/resize-indicator/index.tsx
  packages/frontend/component/src/components/resize-panel/index.tsx
  packages/frontend/component/src/components/resize-panel/resize-panel.css.ts
  packages/frontend/component/src/components/resize-panel/resize-panel.tsx
  packages/frontend/component/src/components/workspace/index.css.ts
  packages/frontend/core/src/commands/affine-settings.tsx
  packages/frontend/core/src/pages/workspace/detail-page/detail-page.css.ts
  packages/frontend/core/src/pages/workspace/detail-page/detail-page.tsx
  packages/frontend/core/src/pages/workspace/detail-page/editor-sidebar/atoms.ts
  packages/frontend/core/src/pages/workspace/detail-page/editor-sidebar/editor-sidebar.tsx
  packages/frontend/core/src/pages/workspace/detail-page/editor-sidebar/extensions/extensions.css.ts
  tests/affine-local/e2e/layout.spec.ts
  tests/affine-local/e2e/quick-search.spec.ts
Labels: test, mod:component, app:core

chore: remove react-resizable-panels (#5284)
  packages/frontend/core/package.json
  yarn.lock
Labels: app:core

fix(core): collection modal position after modal style changes (#5289)
  packages/frontend/component/src/components/page-list/view/edit-collection/hooks.tsx
Labels: mod:component

feat: user usage init (#5074)
  packages/backend/server/migrations/20231030104009_user_features/migration.sql
  packages/backend/server/schema.prisma
  packages/backend/server/src/data/commands/run.ts
  packages/backend/server/src/data/migrations/1698652531198-user-features-init.ts
  packages/backend/server/src/modules/features/configure.ts
  packages/backend/server/src/modules/features/feature.ts
  packages/backend/server/src/modules/features/index.ts
  packages/backend/server/src/modules/features/types.ts
  packages/backend/server/src/modules/quota/index.ts
  packages/backend/server/src/modules/quota/quota.ts
  packages/backend/server/src/modules/quota/storage.ts
  packages/backend/server/src/modules/quota/types.ts
  packages/backend/server/src/modules/users/users.ts
  packages/backend/server/src/modules/workspaces/permission.ts
Labels: app:server

feat(server): independent websocket room for block and awareness (#5285)
  packages/backend/server/src/modules/sync/events/events.gateway.ts
Labels: app:server

feat: only follow `serverUrlPrefix` at redirect to client (#5295)
  packages/frontend/core/src/components/affine/page-history-modal/data.ts
  packages/frontend/core/src/components/affine/share-page-modal/share-menu/share-page.tsx
  packages/frontend/core/src/components/affine/share-page-modal/share-menu/use-share-url.ts
  packages/frontend/workspace/src/affine/download.ts
  packages/frontend/workspace/src/affine/gql.ts
  packages/frontend/workspace/src/blob/storage/affine-cloud.ts
  packages/frontend/workspace/src/providers/utils/affine-io.ts
Labels: mod:workspace, app:core

fix: use secure websocket (#5297)
  packages/frontend/workspace/src/providers/utils/affine-io.ts
Labels: mod:workspace

feat: only follow `serverUrlPrefix` at redirect to client (#5295)
  packages/frontend/core/src/components/affine/share-page-modal/share-menu/share-page.tsx
  packages/frontend/core/src/components/affine/share-page-modal/share-menu/use-share-url.ts
  packages/frontend/workspace/src/affine/download.ts
  packages/frontend/workspace/src/affine/gql.ts
  packages/frontend/workspace/src/blob/storage/affine-cloud.ts
  packages/frontend/workspace/src/providers/utils/affine-io.ts
Labels: mod:workspace, app:core

fix: use secure websocket (#5297)
  packages/frontend/workspace/src/providers/utils/affine-io.ts
Labels: mod:workspace

fix: page title too long style (#5302)
  packages/frontend/core/src/components/blocksuite/block-suite-header-title/styles.css.ts
  packages/frontend/core/src/pages/workspace/detail-page/detail-page-header.css.ts
Labels: app:core

fix: detail page missing background (#5303)
  packages/frontend/core/src/pages/workspace/detail-page/detail-page.css.ts
Labels: app:core

fix: add sidebar toggle and windows controls for empty collections page (#5304)
  packages/frontend/core/src/pages/workspace/collection.tsx
Labels: app:core

feat(core): add useQueryImmutable (#5299)
  packages/frontend/core/src/hooks/affine/use-is-workspace-owner.ts
  packages/frontend/core/src/hooks/affine/use-server-flavor.ts
  packages/frontend/workspace/src/affine/gql.ts
Labels: mod:workspace, app:core

fix: width blink in side bar (#5291)
  packages/frontend/component/src/components/resize-panel/resize-panel.tsx
Labels: mod:component

.github/labeler.yml:

docs:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**/*'
          - '**/README.md'
          - 'packages/frontend/templates/**/*'

test:
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**/*'
          - '**/tests/**/*'
          - '**/__tests__/**/*'

mod:dev:
  - changed-files:
      - any-glob-to-any-file:
          - 'scripts/**/*'
          - 'tools/cli/**/*'
          - 'packages/common/debug/**/*'

mod:plugin:
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/plugins/**/*'

plugin:copilot:
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/plugins/copilot/**/*'

mod:infra:
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/common/infra/**/*'

mod:sdk:
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/common/sdk/**/*'

mod:plugin-cli:
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/plugin-cli/**/*'

mod:workspace:
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/frontend/workspace/**/*'

mod:i18n:
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/frontend/i18n/**/*'

mod:env:
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/common/env/**/*'

mod:hooks:
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/frontend/hooks/**/*'

mod:component:
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/frontend/component/**/*'

mod:storage:
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/backend/storage/**/*'

mod:native:
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/frontend/native/**/*'

mod:store:
  - changed-files:
      - any-glob-to-any-file:
          - '**/atoms/**/*'

rust:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.rs'
          - '**/Cargo.toml'
          - '**/Cargo.lock'
          - '**/rust-toolchain'
          - '**/rust-toolchain.toml'
          - '**/rustfmt.toml'

package:y-indexeddb:
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/common/y-indexeddb/**/*'

app:core:
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/frontend/core/**/*'

app:electron:
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/frontend/electron/**/*'

app:server:
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/backend/server/**/*'
