Repository joypix-mindz/mindz, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, tests, mod:workspace, mod:i18n, mod:env, mod:hooks, mod:components, app:web, app:electron

fix: indexeddb provider (#1827)
  apps/electron/yarn.lock
  apps/web/package.json
  packages/workspace/package.json
  packages/workspace/src/providers/index.ts
  yarn.lock
Labels: mod:workspace, app:web, app:electron

ci: use `cloud-self-hosted:nightly-latest` (#1828)
  .github/workflows/build-master.yml
  .github/workflows/build.yml
Labels: none

chore: bump version (#1829)
  apps/electron/yarn.lock
  apps/web/package.json
  packages/component/package.json
  packages/env/package.json
  packages/workspace/package.json
  packages/y-indexeddb/package.json
  yarn.lock
Labels: mod:workspace, mod:env, app:web, app:electron

docs: update badge in README.md
  README.md
Labels: docs

chore: bump version (#1830)
  apps/electron/yarn.lock
  apps/web/package.json
  packages/component/package.json
  packages/env/package.json
  packages/workspace/package.json
  packages/y-indexeddb/package.json
  yarn.lock
Labels: mod:workspace, mod:env, app:web, app:electron

chore: update change log style (#1832)
  apps/electron/yarn.lock
  apps/web/package.json
  apps/web/src/components/pure/help-island/index.tsx
  apps/web/src/components/pure/help-island/style.ts
  apps/web/src/components/pure/workspace-slider-bar/changeLog/index.tsx
  apps/web/src/components/pure/workspace-slider-bar/shared-styles.ts
  apps/web/src/components/pure/workspace-slider-bar/style.ts
  packages/component/package.json
  yarn.lock
Labels: app:web, app:electron

feat: modify pivot operation menu (#1786)
  apps/web/public/imgs/no-result.svg
  apps/web/src/components/__tests__/PinBoard.spec.tsx
  apps/web/src/components/affine/operation-menu-items/CopyLink.tsx
  apps/web/src/components/affine/operation-menu-items/Export.tsx
  apps/web/src/components/affine/operation-menu-items/MoveTo.tsx
  apps/web/src/components/affine/operation-menu-items/MoveToTrash.tsx
  apps/web/src/components/affine/operation-menu-items/types.ts
  apps/web/src/components/affine/pivots/OperationButton.tsx
  apps/web/src/components/affine/pivots/OperationMenu.tsx
  apps/web/src/components/affine/pivots/PivotsMenu/Pivots.tsx
  apps/web/src/components/affine/pivots/PivotsMenu/PivotsMenu.tsx
  apps/web/src/components/affine/pivots/PivotsMenu/SearchContent.tsx
  apps/web/src/components/affine/pivots/index.ts
  apps/web/src/components/affine/pivots/pivot-render/OperationButton.tsx
  apps/web/src/components/affine/pivots/pivot-render/PivotRender.tsx
  apps/web/src/components/affine/pivots/styles.ts
  apps/web/src/components/blocksuite/header/header-right-items/EditorOptionMenu.tsx
  apps/web/src/components/pure/create-workspace-modal/index.tsx
  apps/web/src/components/pure/quick-search-modal/NoResultSVG.tsx
  apps/web/src/components/pure/quick-search-modal/PublishedResults.tsx
  apps/web/src/components/pure/quick-search-modal/Results.tsx
  apps/web/src/components/pure/quick-search-modal/style.ts
  apps/web/src/components/pure/workspace-slider-bar/Pivots.tsx
  apps/web/src/components/pure/workspace-slider-bar/index.tsx
  apps/web/src/components/pure/workspace-slider-bar/style.ts
  packages/component/src/ui/confirm/Confirm.tsx
  packages/component/src/ui/toast/toast.ts
  tests/parallels/pin-board.spec.ts
Labels: tests, app:web

test: compare public page json (#1793)
  packages/workspace/src/affine/__tests__/api.spec.ts
Labels: tests, mod:workspace

feat: single page API in public workspace (#1794)
  apps/web/src/atoms/public-workspace/index.ts
  apps/web/src/pages/public-workspace/[workspaceId]/[pageId].tsx
  packages/component/src/components/block-suite-editor/index.tsx
  tests/libs/utils.ts
  tests/parallels/affine/affine-public-workspace.spec.ts
  tests/parallels/affine/affine-workspace.spec.ts
Labels: tests, app:web

.github/labeler.yml:

docs:
  - 'docs/**/*'
  - '**/README.md'
tests:
  - 'tests/**/*'
  - '**/tests/**/*'
  - '**/__tests__/**/*'

mod:workspace: 'packages/workspace/**/*'
mod:i18n: 'packages/i18n/**/*'
mod:env: 'packages/env/**/*'
mod:hooks: 'packages/hooks/**/*'
mod:components: 'packages/components/**/*'

app:web: 'apps/web/**/*'
app:electron: 'apps/electron/**/*'
