Repository joypix-mindz/mindz, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, test, mod:dev, mod:plugin, plugin:copilot, mod:infra, mod:sdk, mod:plugin-cli, mod:workspace, mod:i18n, mod:env, mod:hooks, mod:component, mod:storage, mod:native, mod:store, rust, package:y-indexeddb, app:core, app:electron, app:server

.github/labeler.yml:

docs:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**/*'
          - '**/README.md'
          - 'packages/frontend/templates/**/*'

test:
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**/*'
          - '**/tests/**/*'
          - '**/__tests__/**/*'

mod:dev:
  - changed-files:
      - any-glob-to-any-file:
          - 'scripts/**/*'
          - 'tools/cli/**/*'
          - 'packages/common/debug/**/*'

mod:plugin:
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/plugins/**/*'

plugin:copilot:
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/plugins/copilot/**/*'

mod:infra:
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/common/infra/**/*'

mod:sdk:
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/common/sdk/**/*'

mod:plugin-cli:
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/plugin-cli/**/*'

mod:workspace:
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/frontend/workspace/**/*'

mod:i18n:
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/frontend/i18n/**/*'

mod:env:
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/common/env/**/*'

mod:hooks:
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/frontend/hooks/**/*'

mod:component:
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/frontend/component/**/*'

mod:storage:
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/backend/storage/**/*'

mod:native:
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/frontend/native/**/*'

mod:store:
  - changed-files:
      - any-glob-to-any-file:
          - '**/atoms/**/*'

rust:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.rs'
          - '**/Cargo.toml'
          - '**/Cargo.lock'
          - '**/rust-toolchain'
          - '**/rust-toolchain.toml'
          - '**/rustfmt.toml'

package:y-indexeddb:
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/common/y-indexeddb/**/*'

app:core:
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/frontend/core/**/*'

app:electron:
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/frontend/electron/**/*'

app:server:
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/backend/server/**/*'

feat: integrate user usage into apis (#5075)
  .github/workflows/build-test.yml
  packages/backend/server/package.json
  packages/backend/server/schema.prisma
  packages/backend/server/src/config/def.ts
  packages/backend/server/src/config/default.ts
  packages/backend/server/src/data/migrations/1698652531198-user-features-init.ts
  packages/backend/server/src/modules/auth/next-auth-options.ts
  packages/backend/server/src/modules/auth/service.ts
  packages/backend/server/src/modules/features/index.ts
  packages/backend/server/src/modules/index.ts
  packages/backend/server/src/modules/payment/index.ts
  packages/backend/server/src/modules/payment/service.ts
  packages/backend/server/src/modules/users/gates.ts
  packages/backend/server/src/modules/users/index.ts
  packages/backend/server/src/modules/users/resolver.ts
  packages/backend/server/src/modules/users/types.ts
  packages/backend/server/src/modules/users/users.ts
  packages/backend/server/src/modules/users/utils.ts
  packages/backend/server/src/modules/workspaces/index.ts
  packages/backend/server/src/modules/workspaces/resolver.ts
  packages/backend/server/src/schema.gql
  packages/backend/server/tests/app.e2e.ts
  packages/backend/server/tests/auth.e2e.ts
  packages/backend/server/tests/auth.spec.ts
  packages/backend/server/tests/mailer.e2e.ts
  packages/backend/server/tests/quota.spec.ts
  packages/backend/server/tests/utils.ts
  packages/backend/server/tests/workspace-blobs.spec.ts
  packages/backend/server/tests/workspace-invite.e2e.ts
  packages/backend/server/tests/workspace-usage.spec.ts
  packages/backend/server/tests/workspace.e2e.ts
  packages/frontend/graphql/src/graphql/blob-size.gql
  packages/frontend/graphql/src/graphql/index.ts
  packages/frontend/graphql/src/schema.ts
  tests/kit/utils/cloud.ts
  yarn.lock
Labels: test, app:server

feat: user usage gql & test case improve (#5076)
  packages/backend/server/schema.prisma
  packages/backend/server/src/data/commands/run.ts
  packages/backend/server/src/graphql.module.ts
  packages/backend/server/src/modules/payment/resolver.ts
  packages/backend/server/src/modules/quota/index.ts
  packages/backend/server/src/modules/users/resolver.ts
  packages/backend/server/src/schema.gql
  packages/backend/server/tests/app.e2e.ts
  packages/backend/server/tests/auth.e2e.ts
  packages/backend/server/tests/auth.spec.ts
  packages/backend/server/tests/feature.spec.ts
  packages/backend/server/tests/mailer.e2e.ts
  packages/backend/server/tests/quota.spec.ts
  packages/backend/server/tests/utils.ts
  packages/backend/server/tests/workspace-blobs.spec.ts
  packages/backend/server/tests/workspace-invite.e2e.ts
  packages/backend/server/tests/workspace.e2e.ts
  packages/frontend/graphql/src/graphql/early-access-add.gql
  packages/frontend/graphql/src/graphql/early-access-list.gql
  packages/frontend/graphql/src/graphql/early-access-remove.gql
  packages/frontend/graphql/src/graphql/index.ts
  packages/frontend/graphql/src/schema.ts
Labels: test, app:server

feat: integrate new modules (#5087)
  packages/backend/server/scripts/init-db.ts
  packages/backend/server/src/data/migrations/1698652531198-user-features-init.ts
  packages/backend/server/src/modules/auth/resolver.ts
  packages/backend/server/src/modules/doc/history.ts
  packages/backend/server/src/modules/doc/index.ts
  packages/backend/server/src/modules/features/feature.ts
  packages/backend/server/src/modules/payment/index.ts
  packages/backend/server/src/modules/payment/service.ts
  packages/backend/server/src/modules/quota/quota.ts
  packages/backend/server/src/modules/quota/types.ts
  packages/backend/server/src/modules/users/index.ts
  packages/backend/server/src/modules/users/resolver.ts
  packages/backend/server/src/modules/users/types.ts
  packages/backend/server/src/modules/workspaces/resolver.ts
  packages/backend/server/src/schema.gql
  packages/backend/server/tests/doc.spec.ts
  packages/backend/server/tests/feature.spec.ts
  packages/backend/server/tests/history.spec.ts
  packages/backend/server/tests/quota.spec.ts
  packages/backend/server/tests/user.e2e.ts
  packages/backend/server/tests/utils.ts
  packages/frontend/core/src/components/affine/new-workspace-setting-detail/members.tsx
  packages/frontend/core/src/hooks/use-quota.ts
  packages/frontend/graphql/src/graphql/index.ts
  packages/frontend/graphql/src/graphql/quota.gql
  packages/frontend/graphql/src/schema.ts
Labels: test, app:core, app:server

feat: struct type feature config (#5142)
  packages/backend/server/package.json
  packages/backend/server/src/data/migrations/1698652531198-user-features-init.ts
  packages/backend/server/src/modules/doc/history.ts
  packages/backend/server/src/modules/features/feature.ts
  packages/backend/server/src/modules/features/index.ts
  packages/backend/server/src/modules/features/management.ts
  packages/backend/server/src/modules/features/service.ts
  packages/backend/server/src/modules/features/types.ts
  packages/backend/server/src/modules/payment/service.ts
  packages/backend/server/src/modules/quota/constant.ts
  packages/backend/server/src/modules/quota/index.ts
  packages/backend/server/src/modules/quota/quota.ts
  packages/backend/server/src/modules/quota/schema.ts
  packages/backend/server/src/modules/quota/service.ts
  packages/backend/server/src/modules/quota/storage.ts
  packages/backend/server/src/modules/quota/types.ts
  packages/backend/server/src/modules/users/resolver.ts
  packages/backend/server/tests/app.e2e.ts
  packages/backend/server/tests/exception-logger.e2e.ts
  packages/backend/server/tests/feature.spec.ts
  packages/backend/server/tests/mailer.spec.ts
  packages/backend/server/tests/quota.spec.ts
  packages/backend/server/tests/utils.ts
  packages/backend/server/tests/utils/blobs.ts
  packages/backend/server/tests/utils/common.ts
  packages/backend/server/tests/utils/index.ts
  packages/backend/server/tests/utils/invite.ts
  packages/backend/server/tests/utils/user.ts
  packages/backend/server/tests/utils/utils.ts
  packages/backend/server/tests/utils/workspace.ts
  packages/backend/server/tests/workspace-blobs.spec.ts
  packages/backend/server/tests/workspace-usage.spec.ts
  yarn.lock
Labels: test, app:server

feat: add cache for blob query (#5178)
  packages/backend/server/src/app.ts
  packages/backend/server/src/cache/index.ts
  packages/backend/server/src/cache/interceptor.ts
  packages/backend/server/src/modules/workspaces/resolver.ts
Labels: app:server

chore: bump up github/codeql-action action to v3 (#5298)
  .github/workflows/build-test.yml
Labels: none

feat: bump blocksuite (#5286)
  packages/common/env/package.json
  packages/common/env/src/global.ts
  packages/common/infra/package.json
  packages/common/sdk/package.json
  packages/common/sdk/src/entry.ts
  packages/common/y-indexeddb/package.json
  packages/common/y-provider/package.json
  packages/frontend/component/package.json
  packages/frontend/component/src/components/block-suite-editor/index.jotai.ts
  packages/frontend/component/src/components/block-suite-editor/index.tsx
  packages/frontend/core/.webpack/config.ts
  packages/frontend/core/.webpack/runtime-config.ts
  packages/frontend/core/package.json
  packages/frontend/core/src/bootstrap/plugins/setup.ts
  packages/frontend/core/src/bootstrap/register-blocksuite-components.ts
  packages/frontend/core/src/components/cloud/share-header-right-item/present.tsx
  packages/frontend/core/src/components/page-detail-editor.tsx
  packages/frontend/core/src/hooks/affine/use-export-page.ts
  packages/frontend/core/src/pages/workspace/detail-page/detail-page.tsx
  packages/frontend/core/src/pages/workspace/detail-page/editor-sidebar/atoms.ts
  packages/frontend/core/src/pages/workspace/detail-page/editor-sidebar/editor-sidebar.css.ts
  packages/frontend/core/src/pages/workspace/detail-page/editor-sidebar/extensions/frame.tsx
  packages/frontend/core/src/pages/workspace/detail-page/editor-sidebar/extensions/outline.tsx
  packages/frontend/electron/package.json
  packages/frontend/hooks/package.json
  packages/plugins/image-preview/src/component/index.tsx
  packages/plugins/outline/src/atom.ts
  scripts/bump-blocksuite.sh
  scripts/setup/lottie-web.ts
  tests/affine-legacy/0.6.1-beta.1/package.json
  tests/affine-legacy/0.7.0-canary.18/package.json
  tests/affine-legacy/0.8.0-canary.7/package.json
  tests/affine-legacy/0.8.4/package.json
  tests/affine-local/e2e/quick-search.spec.ts
  tests/affine-migration/package.json
  tests/storybook/package.json
  yarn.lock
Labels: test, mod:dev, mod:plugin, mod:infra, mod:sdk, mod:env, mod:hooks, mod:component, package:y-indexeddb, app:core, app:electron

fix(core): page mode switch sometimes not working (#5306)
  packages/frontend/core/src/components/blocksuite/block-suite-mode-switch/switch-items.tsx
  packages/frontend/core/src/pages/workspace/detail-page/detail-page.tsx
Labels: app:core

chore(server): split gcloud sql proxy into a separate deployment (#5101)
  .github/actions/deploy/deploy.mjs
  .github/helm/affine/charts/gcloud-sql-proxy/.helmignore
  .github/helm/affine/charts/gcloud-sql-proxy/Chart.yaml
  .github/helm/affine/charts/gcloud-sql-proxy/templates/NOTES.txt
  .github/helm/affine/charts/gcloud-sql-proxy/templates/_helpers.tpl
  .github/helm/affine/charts/gcloud-sql-proxy/templates/deployment.yaml
  .github/helm/affine/charts/gcloud-sql-proxy/templates/service.yaml
  .github/helm/affine/charts/gcloud-sql-proxy/templates/serviceaccount.yaml
  .github/helm/affine/charts/gcloud-sql-proxy/templates/tests/test-connection.yaml
  .github/helm/affine/charts/gcloud-sql-proxy/values.yaml
  .github/helm/affine/charts/graphql/Chart.yaml
  .github/helm/affine/charts/graphql/templates/deployment.yaml
  .github/helm/affine/charts/sync/Chart.yaml
  .github/helm/affine/charts/sync/templates/deployment.yaml
  .github/helm/affine/values.yaml
  .github/workflows/deploy.yml
  .github/workflows/workers.yml
Labels: test

ci: fix oxlint version (#5328)
  .github/workflows/build-test.yml
  package.json
  yarn.lock
Labels: none

ci: fix e2e (#5329)
  tests/affine-desktop/e2e/basic.spec.ts
Labels: test

fix(storybook): fix test (#5325)
  packages/frontend/component/src/components/app-sidebar/add-page-button/index.tsx
  packages/frontend/component/src/components/page-list/components/new-page-buttton.tsx
  packages/frontend/core/src/pages/workspace/all-page/all-page.tsx
  tests/affine-desktop/e2e/basic.spec.ts
  tests/affine-local/e2e/all-page.spec.ts
  tests/kit/utils/page-logic.ts
  tests/kit/utils/sidebar.ts
  tests/storybook/.storybook/preview.tsx
  tests/storybook/src/stories/core.stories.tsx
Labels: test, mod:component, app:core

chore: bump up vitest monorepo to v1 (major) (#5217)
  package.json
  packages/common/debug/package.json
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/common/y-indexeddb/package.json
  packages/common/y-provider/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/electron/package.json
  packages/frontend/electron/vitest.config.ts
  packages/frontend/graphql/package.json
  packages/frontend/graphql/src/__tests__/fetcher.spec.ts
  packages/frontend/hooks/package.json
  packages/frontend/workspace/package.json
  packages/frontend/workspace/src/engine/sync/__tests__/engine.spec.ts
  vitest.config.ts
  yarn.lock
Labels: test, mod:dev, mod:infra, mod:workspace, mod:env, mod:hooks, mod:component, package:y-indexeddb, app:core, app:electron

fix(storybook): disable cloud for storybook (#5330)
  tests/storybook/.storybook/main.ts
Labels: test

feat(core): ai poc (#5317)
  packages/common/env/src/global.ts
  packages/frontend/core/.webpack/runtime-config.ts
  packages/frontend/core/src/bootstrap/register-blocksuite-components.ts
  packages/frontend/core/src/pages/workspace/detail-page/detail-page.tsx
  packages/frontend/core/src/pages/workspace/detail-page/editor-sidebar/atoms.ts
  packages/frontend/core/src/pages/workspace/detail-page/editor-sidebar/editor-sidebar.tsx
  packages/frontend/core/src/pages/workspace/detail-page/editor-sidebar/extensions/copilot.css.ts
  packages/frontend/core/src/pages/workspace/detail-page/editor-sidebar/extensions/copilot.tsx
  packages/frontend/core/src/pages/workspace/detail-page/editor-sidebar/types.ts
Labels: mod:env, app:core

chore(server): remove early access tips from invitation emails (#5314)
  packages/backend/server/src/modules/auth/mailer/mail.service.ts
Labels: app:server

feat: add quota for old users (#5318)
  packages/backend/server/src/data/migrations/1702620653283-old-user-feature.ts
  packages/backend/server/src/modules/quota/service.ts
Labels: app:server

feat(electron): onboarding at first launch logic for client and web (#5183)
  packages/common/infra/package.json
  packages/common/infra/src/app-config-storage.ts
  packages/common/infra/src/handler.ts
  packages/common/infra/src/type.ts
  packages/common/infra/vite.config.ts
  packages/frontend/core/src/bootstrap/setup.ts
  packages/frontend/core/src/hooks/use-app-config-storage.ts
  packages/frontend/core/src/pages/index.tsx
  packages/frontend/core/src/pages/onboarding.tsx
  packages/frontend/core/src/router.ts
  packages/frontend/electron/src/main/config-storage/handlers.ts
  packages/frontend/electron/src/main/config-storage/index.ts
  packages/frontend/electron/src/main/config-storage/persist.ts
  packages/frontend/electron/src/main/constants.ts
  packages/frontend/electron/src/main/deep-link.ts
  packages/frontend/electron/src/main/events.ts
  packages/frontend/electron/src/main/handlers.ts
  packages/frontend/electron/src/main/index.ts
  packages/frontend/electron/src/main/main-window.ts
  packages/frontend/electron/src/main/onboarding.ts
  packages/frontend/electron/src/main/ui/handlers.ts
  packages/frontend/electron/src/main/windows-manager/launcher.ts
  packages/frontend/electron/src/main/windows-manager/stage.ts
  packages/frontend/electron/src/main/windows-manager/types.ts
  packages/frontend/electron/src/main/windows-manager/windows.ts
  tests/affine-cloud/e2e/collaboration.spec.ts
  tests/affine-local/e2e/image-preview.spec.ts
  tests/affine-local/e2e/theme.spec.ts
  tests/affine-migration/e2e/basic.spec.ts
  tests/kit/electron.ts
  tests/kit/playwright.ts
  tools/@types/env/__all.d.ts
Labels: test, mod:infra, app:core, app:electron

feat(core): onboarding paper enter animation (#5248)
  packages/frontend/core/package.json
  packages/frontend/core/src/components/affine/onboarding/articles/index.tsx
  packages/frontend/core/src/components/affine/onboarding/curve-paper/paper.css.ts
  packages/frontend/core/src/components/affine/onboarding/curve-paper/paper.tsx
  packages/frontend/core/src/components/affine/onboarding/curve-paper/segment.tsx
  packages/frontend/core/src/components/affine/onboarding/curve-paper/segments.tsx
  packages/frontend/core/src/components/affine/onboarding/onboarding.tsx
  packages/frontend/core/src/components/affine/onboarding/paper-steps.tsx
  packages/frontend/core/src/components/affine/onboarding/steps/animate-in.css.ts
  packages/frontend/core/src/components/affine/onboarding/steps/animate-in.tsx
  packages/frontend/core/src/components/affine/onboarding/style.css.ts
  packages/frontend/core/src/components/affine/onboarding/types.ts
  packages/frontend/core/src/pages/onboarding.tsx
  packages/frontend/electron/src/main/onboarding.ts
  yarn.lock
Labels: app:core, app:electron

feat(core): onboarding paper unfolding animation (#5264)
  packages/frontend/core/src/components/affine/onboarding/onboarding.tsx
  packages/frontend/core/src/components/affine/onboarding/paper-steps.tsx
  packages/frontend/core/src/components/affine/onboarding/steps/unfolding.css.ts
  packages/frontend/core/src/components/affine/onboarding/steps/unfolding.tsx
  packages/frontend/core/src/components/affine/onboarding/style.css.ts
Labels: app:core

fix(component): fix incorrect input component width and height styling (#5292)
  packages/frontend/component/src/components/auth-components/auth-input.tsx
  packages/frontend/component/src/components/auth-components/change-email-page.tsx
  packages/frontend/component/src/components/member-components/invite-modal.tsx
  packages/frontend/component/src/components/rename-modal/index.css.ts
  packages/frontend/component/src/components/rename-modal/index.tsx
  packages/frontend/component/src/ui/input/input.tsx
  packages/frontend/component/src/ui/input/style.css.ts
  packages/frontend/core/src/components/affine/new-workspace-setting-detail/profile.tsx
  packages/frontend/core/src/components/affine/new-workspace-setting-detail/style.css.ts
  packages/frontend/core/src/components/affine/setting-modal/account-setting/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/account-setting/style.css.ts
  packages/plugins/copilot/src/UI/debug-content.tsx
  packages/plugins/copilot/src/UI/index.css.ts
  tests/storybook/src/stories/input.stories.tsx
Labels: test, mod:plugin, plugin:copilot, mod:component, app:core

feat(core): adjust empty favourites style (#5323)
  packages/frontend/core/src/components/pure/workspace-slider-bar/favorite/empty-item.tsx
  packages/frontend/core/src/components/pure/workspace-slider-bar/favorite/styles.css.ts
  packages/frontend/i18n/src/resources/en.json
Labels: mod:i18n, app:core

fix(core): collections initialized logic (#5310)
  packages/frontend/core/src/atoms/collections.ts
  packages/frontend/core/src/utils/workspace-setting.ts
Labels: mod:store, app:core

feat(core): add toggle workspace dialog (#5312)
  packages/common/infra/src/app-config-storage.ts
  packages/frontend/core/src/components/affine/onboarding/assets/thumb.tsx
  packages/frontend/core/src/components/affine/onboarding/workspace-guide-modal.css.tsx
  packages/frontend/core/src/components/affine/onboarding/workspace-guide-modal.tsx
  packages/frontend/core/src/providers/modal-provider.tsx
  packages/frontend/electron/src/main/index.ts
  packages/frontend/i18n/src/resources/en.json
  tests/kit/playwright.ts
Labels: test, mod:infra, mod:i18n, app:core, app:electron

fix(electron): main window should be opened first before destroying onboard window (#5319)
  packages/common/env/src/constant.ts
  packages/common/infra/src/preload/electron.ts
  packages/frontend/core/src/index.tsx
  packages/frontend/electron/src/main/index.ts
  packages/frontend/electron/src/main/main-window.ts
  packages/frontend/electron/src/main/onboarding.ts
  packages/frontend/electron/src/main/ui/handlers.ts
  packages/frontend/electron/src/main/windows-manager/launcher.ts
Labels: mod:infra, mod:env, app:core, app:electron

fix(electron): onboarding display issue on Windows (#5320)
  packages/frontend/electron/src/main/onboarding.ts
Labels: app:electron

chore: bump up ses version to v1 (#5282)
  packages/frontend/core/package.json
  yarn.lock
Labels: app:core

fix: cargo deps security alert (#5340)
  Cargo.lock
Labels: rust

feat(core): adjust ui for new design (#5322)
  packages/frontend/core/src/components/affine/onboarding/animate-in-tooltip.css.tsx
  packages/frontend/core/src/components/affine/onboarding/articles/article-0.tsx
  packages/frontend/core/src/components/affine/onboarding/articles/article-1.tsx
  packages/frontend/core/src/components/affine/onboarding/articles/article-2.tsx
  packages/frontend/core/src/components/affine/onboarding/articles/article-3.tsx
  packages/frontend/core/src/components/affine/onboarding/articles/article-4.tsx
  packages/frontend/core/src/components/affine/onboarding/articles/blog-link.tsx
  packages/frontend/core/src/components/affine/onboarding/articles/index.tsx
  packages/frontend/core/src/components/affine/onboarding/assets/logo.tsx
  packages/frontend/core/src/components/affine/onboarding/onboarding.tsx
  packages/frontend/core/src/components/affine/onboarding/paper-steps.tsx
  packages/frontend/core/src/components/affine/onboarding/steps/animate-in.tsx
  packages/frontend/core/src/components/affine/onboarding/steps/edgeless-switch.css.ts
  packages/frontend/core/src/components/affine/onboarding/steps/edgeless-switch.tsx
  packages/frontend/core/src/components/affine/onboarding/steps/unfolding.css.ts
  packages/frontend/core/src/components/affine/onboarding/style.css.ts
  packages/frontend/core/src/components/affine/onboarding/switch-widgets/block.tsx
  packages/frontend/core/src/components/affine/onboarding/switch-widgets/style.css.tsx
  packages/frontend/core/src/components/affine/onboarding/types.ts
Labels: app:core

fix(core): dedupe ses versions (#5342)
  tests/storybook/package.json
  yarn.lock
Labels: test

feat: bump blocksuite (#5343)
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/common/sdk/package.json
  packages/common/y-indexeddb/package.json
  packages/common/y-provider/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/electron/package.json
  packages/frontend/hooks/package.json
  tests/affine-legacy/0.6.1-beta.1/package.json
  tests/affine-legacy/0.7.0-canary.18/package.json
  tests/affine-legacy/0.8.0-canary.7/package.json
  tests/affine-legacy/0.8.4/package.json
  tests/affine-migration/package.json
  tests/storybook/package.json
  yarn.lock
Labels: test, mod:infra, mod:sdk, mod:env, mod:hooks, mod:component, package:y-indexeddb, app:core, app:electron

feat: onboarding page (#5277)
  packages/backend/server/src/modules/auth/next-auth-options.ts
  packages/frontend/component/package.json
  packages/frontend/component/src/components/auth-components/index.tsx
  packages/frontend/component/src/components/auth-components/onboarding-page.css.ts
  packages/frontend/component/src/components/auth-components/onboarding-page.tsx
  packages/frontend/component/src/ui/checkbox/checkbox.tsx
  packages/frontend/component/src/ui/checkbox/icons.tsx
  packages/frontend/component/src/ui/checkbox/index.css.ts
  packages/frontend/component/src/ui/scrollbar/index.css.ts
  packages/frontend/core/.webpack/config.ts
  packages/frontend/core/src/pages/auth.tsx
  yarn.lock
Labels: mod:component, app:core, app:server

feat: onboarding electron redirect (#5327)
  packages/frontend/component/src/components/auth-components/onboarding-page.tsx
  packages/frontend/core/src/pages/open-app.tsx
  packages/frontend/electron/src/main/deep-link.ts
Labels: mod:component, app:core, app:electron

fix(core): downgrade ses (#5347)
  packages/frontend/core/package.json
  tests/storybook/package.json
  tools/plugin-cli/package.json
  yarn.lock
Labels: test, mod:plugin-cli, app:core

feat: bump bs (#5346)
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/common/sdk/package.json
  packages/common/y-indexeddb/package.json
  packages/common/y-provider/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/electron/package.json
  packages/frontend/hooks/package.json
  tests/affine-legacy/0.6.1-beta.1/package.json
  tests/affine-legacy/0.7.0-canary.18/package.json
  tests/affine-legacy/0.8.0-canary.7/package.json
  tests/affine-legacy/0.8.4/package.json
  tests/affine-migration/package.json
  tests/storybook/package.json
  yarn.lock
Labels: test, mod:infra, mod:sdk, mod:env, mod:hooks, mod:component, package:y-indexeddb, app:core, app:electron

fix(core): remove ses lockdown (#5350)
  packages/frontend/core/package.json
  packages/frontend/core/src/_plugin/index.test.tsx
  packages/frontend/core/src/index.tsx
  packages/frontend/core/src/polyfill/ses-lockdown.ts
  tests/storybook/package.json
  tools/plugin-cli/package.json
  yarn.lock
Labels: test, mod:plugin-cli, app:core

feat: only follow `serverUrlPrefix` at redirect to client (#5295) (#5354)
  packages/frontend/core/src/components/affine/page-history-modal/data.ts
  packages/frontend/core/src/components/affine/share-page-modal/share-menu/share-page.tsx
  packages/frontend/core/src/components/affine/share-page-modal/share-menu/use-share-url.ts
  packages/frontend/core/src/pages/share/share-detail-page.tsx
  packages/frontend/workspace/src/affine/gql.ts
  packages/frontend/workspace/src/impl/cloud/blob.ts
  packages/frontend/workspace/src/utils/affine-io.ts
Labels: mod:workspace, app:core

fix(core): escape special characters for cmdk item values (#5353)
  packages/frontend/core/src/components/pure/cmdk/data.tsx
Labels: app:core

feat(core): add syncing progress (#5356)
  packages/frontend/component/src/ui/loading/loading.tsx
  packages/frontend/component/src/ui/loading/styles.css.ts
  packages/frontend/core/src/components/pure/workspace-slider-bar/workspace-card/index.tsx
Labels: mod:component, app:core

ci: use setup version action to init version
  .github/actions/setup-version/action.yml
  .github/workflows/deploy.yml
Labels: none
