Repository joypix-mindz/mindz, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, test, mod:dev, mod:plugin, plugin:copilot, mod:infra, mod:sdk, mod:plugin-cli, mod:workspace, mod:i18n, mod:env, mod:hooks, mod:component, mod:storage, mod:native, mod:store, rust, package:y-indexeddb, app:core, app:electron, app:server

fix(electron): set stable base url to app.affine.pro (#5401)
  packages/frontend/electron/src/main/config.ts
Labels: app:electron

fix(core): trash page footer display issue (#5402)
  packages/frontend/core/src/components/pure/trash-page-footer/styles.css.ts
Labels: app:core

chore: bump up @types/supertest version to v6 (#5376)
  packages/backend/server/package.json
  yarn.lock
Labels: app:server

chore: bump up react-i18next version to v14 (#5375)
  packages/frontend/i18n/package.json
  packages/frontend/i18n/src/index.ts
  yarn.lock
Labels: mod:i18n

fix(core): avatars are not aligned (#5404)
  packages/frontend/core/src/components/pure/file-upload/index.tsx
Labels: app:core

fix(infra): workaround for self-referencing in storybook (#5406)
  tests/storybook/.storybook/main.ts
Labels: test

ci: update actions/upload-artifact and actions/download-artifact (#5408)
  .github/actions/download-core/action.yml
  .github/workflows/build-test.yml
  .github/workflows/deploy.yml
  .github/workflows/publish-storybook.yml
  .github/workflows/release-desktop.yml
  .github/workflows/windows-signer.yml
Labels: none

feat: bump blocksuite (#5386)
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/common/sdk/package.json
  packages/common/y-indexeddb/package.json
  packages/common/y-provider/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/electron/package.json
  packages/frontend/hooks/package.json
  tests/affine-legacy/0.6.1-beta.1/package.json
  tests/affine-legacy/0.7.0-canary.18/package.json
  tests/affine-legacy/0.8.0-canary.7/package.json
  tests/affine-legacy/0.8.4/package.json
  tests/affine-migration/package.json
  tests/storybook/package.json
  yarn.lock
Labels: test, mod:infra, mod:sdk, mod:env, mod:hooks, mod:component, package:y-indexeddb, app:core, app:electron

fix(workspace): fix svg file with xml header (#5388)
  packages/frontend/workspace/src/utils/__tests__/buffer-to-blob.spec.ts
  packages/frontend/workspace/src/utils/buffer-to-blob.ts
Labels: test, mod:workspace

fix(core): fix flickering workspace list (#5391)
  packages/frontend/core/src/pages/index.tsx
Labels: app:core

fix: use prefix in electron to prevent formdata bug (#5395)
  packages/frontend/workspace/src/impl/cloud/blob.ts
Labels: mod:workspace

fix(core): correct title of onboarding article-2 (#5387)
  packages/frontend/core/src/components/affine/onboarding/articles/article-2.tsx
  packages/frontend/core/src/components/affine/onboarding/articles/index.tsx
Labels: app:core

chore(core): add background color to questionnaire (#5396)
  packages/frontend/component/src/components/auth-components/onboarding-page.css.ts
Labels: mod:component

fix(core): workpace list blink issue on open (#5400)
  packages/frontend/core/src/components/root-app-sidebar/index.tsx
Labels: app:core

fix(core): about setting blink issue (#5399)
  packages/frontend/core/src/components/affine/setting-modal/index.tsx
Labels: app:core

fix(electron): set stable base url to app.affine.pro (#5401)
  packages/frontend/electron/src/main/config.ts
Labels: app:electron

fix(core): trash page footer display issue (#5402)
  packages/frontend/core/src/components/pure/trash-page-footer/styles.css.ts
Labels: app:core

fix(core): avatars are not aligned (#5404)
  packages/frontend/core/src/components/pure/file-upload/index.tsx
Labels: app:core

.github/labeler.yml:

docs:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**/*'
          - '**/README.md'
          - 'packages/frontend/templates/**/*'

test:
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**/*'
          - '**/tests/**/*'
          - '**/__tests__/**/*'

mod:dev:
  - changed-files:
      - any-glob-to-any-file:
          - 'scripts/**/*'
          - 'tools/cli/**/*'
          - 'packages/common/debug/**/*'

mod:plugin:
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/plugins/**/*'

plugin:copilot:
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/plugins/copilot/**/*'

mod:infra:
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/common/infra/**/*'

mod:sdk:
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/common/sdk/**/*'

mod:plugin-cli:
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/plugin-cli/**/*'

mod:workspace:
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/frontend/workspace/**/*'

mod:i18n:
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/frontend/i18n/**/*'

mod:env:
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/common/env/**/*'

mod:hooks:
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/frontend/hooks/**/*'

mod:component:
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/frontend/component/**/*'

mod:storage:
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/backend/storage/**/*'

mod:native:
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/frontend/native/**/*'

mod:store:
  - changed-files:
      - any-glob-to-any-file:
          - '**/atoms/**/*'

rust:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.rs'
          - '**/Cargo.toml'
          - '**/Cargo.lock'
          - '**/rust-toolchain'
          - '**/rust-toolchain.toml'
          - '**/rustfmt.toml'

package:y-indexeddb:
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/common/y-indexeddb/**/*'

app:core:
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/frontend/core/**/*'

app:electron:
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/frontend/electron/**/*'

app:server:
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/backend/server/**/*'
