Repository joypix-mindz/mindz, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, test, mod:dev, mod:plugin, plugin:copilot, mod:infra, mod:sdk, mod:plugin-cli, mod:workspace, mod:i18n, mod:env, mod:hooks, mod:component, mod:storage, mod:native, mod:store, rust, package:y-indexeddb, app:core, app:electron, app:server

.github/labeler.yml:

docs:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**/*'
          - '**/README.md'
          - 'packages/frontend/templates/**/*'

test:
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**/*'
          - '**/tests/**/*'
          - '**/__tests__/**/*'

mod:dev:
  - changed-files:
      - any-glob-to-any-file:
          - 'scripts/**/*'
          - 'tools/cli/**/*'
          - 'packages/common/debug/**/*'

mod:plugin:
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/plugins/**/*'

plugin:copilot:
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/plugins/copilot/**/*'

mod:infra:
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/common/infra/**/*'

mod:sdk:
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/common/sdk/**/*'

mod:plugin-cli:
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/plugin-cli/**/*'

mod:workspace:
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/frontend/workspace/**/*'

mod:i18n:
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/frontend/i18n/**/*'

mod:env:
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/common/env/**/*'

mod:hooks:
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/frontend/hooks/**/*'

mod:component:
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/frontend/component/**/*'

mod:storage:
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/backend/storage/**/*'

mod:native:
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/frontend/native/**/*'

mod:store:
  - changed-files:
      - any-glob-to-any-file:
          - '**/atoms/**/*'

rust:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.rs'
          - '**/Cargo.toml'
          - '**/Cargo.lock'
          - '**/rust-toolchain'
          - '**/rust-toolchain.toml'
          - '**/rustfmt.toml'

package:y-indexeddb:
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/common/y-indexeddb/**/*'

app:core:
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/frontend/core/**/*'

app:electron:
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/frontend/electron/**/*'

app:server:
  - changed-files:
      - any-glob-to-any-file:
          - 'packages/backend/server/**/*'

chore: replace v char in tag name
  .github/actions/setup-version/action.yml
Labels: none

fix(storybook): disable onboarding for storybook (#5351)
  tests/storybook/.storybook/preview.tsx
Labels: test

chore: improve desktop building
  .github/workflows/release-desktop-app.yml
Labels: none

feat: bump blocksuite (#5357)
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/common/sdk/package.json
  packages/common/y-indexeddb/package.json
  packages/common/y-provider/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/electron/package.json
  packages/frontend/hooks/package.json
  tests/affine-legacy/0.6.1-beta.1/package.json
  tests/affine-legacy/0.7.0-canary.18/package.json
  tests/affine-legacy/0.8.0-canary.7/package.json
  tests/affine-legacy/0.8.4/package.json
  tests/affine-migration/package.json
  tests/storybook/package.json
  yarn.lock
Labels: test, mod:infra, mod:sdk, mod:env, mod:hooks, mod:component, package:y-indexeddb, app:core, app:electron

feat(core): responsive for onboarding (#5361)
  packages/frontend/core/src/components/affine/onboarding/steps/edgeless-switch.css.ts
  packages/frontend/core/src/components/affine/onboarding/steps/edgeless-switch.tsx
  packages/frontend/core/src/components/affine/onboarding/style.css.ts
Labels: app:core

ci: use setup version action to init version
  .github/actions/setup-version/action.yml
  .github/workflows/deploy-automatically.yml
  .github/workflows/deploy.yml
  .github/workflows/dispatch-deploy.yml
  .github/workflows/release-desktop-automatically.yml
  .github/workflows/release-desktop.yml
Labels: none

chore: github workflow
  .github/workflows/deploy-automatically.yml
  .github/workflows/release-desktop-automatically.yml
Labels: none

chore(core): temporarily hide export png and pdf in edgeless (#5364)
  packages/frontend/component/src/components/page-list/operation-menu-items/export.tsx
  packages/frontend/core/src/components/affine/share-page-modal/share-menu/share-export.tsx
  packages/frontend/core/src/components/blocksuite/block-suite-header-title/operation-menu.tsx
  packages/frontend/core/src/hooks/affine/use-register-blocksuite-editor-commands.tsx
Labels: mod:component, app:core

chore: bump up eslint-plugin-unicorn version to v50 (#5362)
  package.json
  yarn.lock
Labels: none

feat(electron): handle onboarding-window moved between screens (#5345)
  packages/frontend/core/src/components/affine/onboarding/style.css.ts
  packages/frontend/electron/src/main/onboarding.ts
Labels: app:core, app:electron

chore: bump up @react-hookz/web version to v24 (#5359)
  packages/frontend/core/package.json
  yarn.lock
Labels: app:core

ci: use setup version action to init version (#5365)
  .github/actions/setup-version/action.yml
  .github/workflows/deploy-automatically.yml
  .github/workflows/deploy.yml
  .github/workflows/dispatch-deploy.yml
  .github/workflows/release-desktop-automatically.yml
  .github/workflows/release-desktop.yml
Labels: none

fix(core): onboading tooltip next button always shows (#5363)
  packages/frontend/core/src/components/affine/onboarding/animate-in-tooltip.tsx
  packages/frontend/core/src/components/affine/onboarding/onboarding.tsx
Labels: app:core

ci: set version correctly and remove nightly build workflow (#5367)
  .github/actions/setup-version/action.yml
  .github/workflows/deploy.yml
  .github/workflows/nightly-build.yml
  .github/workflows/release-desktop.yml
  packages/frontend/electron/scripts/generate-assets.ts
Labels: app:electron

feat: use baseurl from server config (#5369)
  packages/backend/server/src/modules/config.ts
  packages/backend/server/src/schema.gql
  packages/frontend/core/.webpack/config.ts
  packages/frontend/core/.webpack/runtime-config.ts
  packages/frontend/core/src/components/affine/new-workspace-setting-detail/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/account-setting/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/general-setting/index.tsx
  packages/frontend/core/src/components/affine/share-page-modal/share-menu/share-export.tsx
  packages/frontend/core/src/components/affine/share-page-modal/share-menu/share-page.tsx
  packages/frontend/core/src/components/affine/share-page-modal/share-menu/use-share-url.ts
  packages/frontend/core/src/hooks/affine/use-server-config.ts
  packages/frontend/core/src/hooks/affine/use-share-link.ts
  packages/frontend/core/src/hooks/use-subscription.ts
  packages/frontend/graphql/src/graphql/index.ts
  packages/frontend/graphql/src/graphql/server-config.gql
  packages/frontend/graphql/src/schema.ts
Labels: app:core, app:server

chore: fix about version in client (#5371)
  .github/workflows/release-desktop.yml
Labels: none

chore: catch and ignore page upgrade error (#5373)
  packages/common/infra/src/blocksuite/migration/blocksuite.ts
Labels: mod:infra

fix: websocket prefix (#5372)
  packages/frontend/workspace/src/utils/affine-io.ts
Labels: mod:workspace

feat: bump blocksuite (#5374)
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/common/sdk/package.json
  packages/common/y-indexeddb/package.json
  packages/common/y-provider/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/electron/package.json
  packages/frontend/hooks/package.json
  tests/affine-legacy/0.6.1-beta.1/package.json
  tests/affine-legacy/0.7.0-canary.18/package.json
  tests/affine-legacy/0.8.0-canary.7/package.json
  tests/affine-legacy/0.8.4/package.json
  tests/affine-migration/package.json
  tests/storybook/package.json
  yarn.lock
Labels: test, mod:infra, mod:sdk, mod:env, mod:hooks, mod:component, package:y-indexeddb, app:core, app:electron

fix(core): maxWait for sync progress debounce (#5377)
  packages/frontend/core/src/components/pure/workspace-slider-bar/workspace-card/index.tsx
Labels: app:core

fix: input style priority (#5383)
  packages/frontend/component/src/components/rename-modal/index.css.ts
  packages/frontend/component/src/components/rename-modal/index.tsx
  packages/frontend/core/src/components/affine/new-workspace-setting-detail/profile.tsx
  packages/frontend/core/src/components/affine/new-workspace-setting-detail/style.css.ts
  packages/frontend/core/src/components/affine/setting-modal/account-setting/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/account-setting/style.css.ts
  packages/plugins/copilot/src/UI/debug-content.tsx
  packages/plugins/copilot/src/UI/index.css.ts
Labels: mod:plugin, plugin:copilot, mod:component, app:core

fix(workspace): dont upgrade subdoc on cloud (#5382)
  packages/common/infra/src/blocksuite/migration/workspace.ts
  packages/frontend/workspace/src/upgrade/index.ts
Labels: mod:infra, mod:workspace

fix(core): hide onboarding paper segments gap (#5384)
  packages/frontend/core/src/components/affine/onboarding/curve-paper/paper.css.ts
Labels: app:core

fix(workspace): leave workspace correctly (#5379)
  packages/frontend/workspace/src/engine/sync/engine.ts
  packages/frontend/workspace/src/impl/cloud/awareness.ts
  packages/frontend/workspace/src/impl/cloud/sync/index.ts
Labels: mod:workspace

fix(component): fix workspace input (#5381)
  packages/frontend/core/src/components/affine/new-workspace-setting-detail/profile.tsx
Labels: app:core

feat: bump blocksuite (#5386)
  packages/common/env/package.json
  packages/common/infra/package.json
  packages/common/sdk/package.json
  packages/common/y-indexeddb/package.json
  packages/common/y-provider/package.json
  packages/frontend/component/package.json
  packages/frontend/core/package.json
  packages/frontend/electron/package.json
  packages/frontend/hooks/package.json
  tests/affine-legacy/0.6.1-beta.1/package.json
  tests/affine-legacy/0.7.0-canary.18/package.json
  tests/affine-legacy/0.8.0-canary.7/package.json
  tests/affine-legacy/0.8.4/package.json
  tests/affine-migration/package.json
  tests/storybook/package.json
  yarn.lock
Labels: test, mod:infra, mod:sdk, mod:env, mod:hooks, mod:component, package:y-indexeddb, app:core, app:electron

refactor(core): remove outline plugin and layout atom (#5326)
  README.md
  packages/common/infra/src/__internal__/plugin.ts
  packages/common/infra/src/atom/index.ts
  packages/common/infra/src/atom/layout.ts
  packages/common/infra/src/type.ts
  packages/frontend/core/.webpack/runtime-config.ts
  packages/frontend/core/src/bootstrap/plugins/setup.ts
  packages/frontend/electron/package.json
  packages/plugins/outline/package.json
  packages/plugins/outline/project.json
  packages/plugins/outline/src/app.tsx
  packages/plugins/outline/src/index.ts
  packages/plugins/outline/tsconfig.json
  tests/affine-cloud/e2e/collaboration.spec.ts
  tests/affine-plugin/e2e/basic.spec.ts
  yarn.lock
Labels: docs, test, mod:plugin, mod:infra, app:core, app:electron

refactor(core): remove adapter (#5324)
  packages/common/env/src/workspace.ts
  packages/frontend/core/src/adapters/cloud/ui.tsx
  packages/frontend/core/src/adapters/local/index.tsx
  packages/frontend/core/src/adapters/shared.ts
  packages/frontend/core/src/adapters/workspace.ts
  packages/frontend/core/src/components/adapter-worksapce-wrapper.tsx
  packages/frontend/core/src/components/affine/setting-modal/workspace-setting/index.tsx
  packages/frontend/core/src/layouts/workspace-layout.tsx
  packages/frontend/core/src/providers/swr-config-provider.tsx
Labels: mod:env, app:core

refactor(infra): move currentPageAtom to core (#5332)
  packages/common/infra/src/atom/index.ts
  packages/common/infra/src/atom/workspace.ts
  packages/common/sdk/src/entry.ts
  packages/frontend/core/src/atoms/mode.ts
  packages/frontend/core/src/components/affine/affine-error-boundary/error-basic/info-logger.tsx
  packages/frontend/core/src/components/pure/cmdk/data.tsx
  packages/frontend/core/src/hooks/current/use-current-page.ts
  packages/frontend/core/src/pages/workspace/detail-page/detail-page.tsx
Labels: mod:infra, mod:sdk, mod:store, app:core

fix(workspace): fix svg file with xml header (#5388)
  packages/frontend/workspace/src/utils/__tests__/buffer-to-blob.spec.ts
  packages/frontend/workspace/src/utils/buffer-to-blob.ts
Labels: test, mod:workspace

fix(core): fix flickering workspace list (#5391)
  packages/frontend/core/src/pages/index.tsx
Labels: app:core

fix: use prefix in electron to prevent formdata bug (#5395)
  packages/frontend/workspace/src/impl/cloud/blob.ts
Labels: mod:workspace

ci: add version as tag name when nightly build
  .github/workflows/release-desktop.yml
Labels: none

fix(core): remove plugins settings (#5337)
  packages/frontend/component/src/ui/loading/styles.css.ts
  packages/frontend/core/src/components/affine/setting-modal/general-setting/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/setting-sidebar/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/workspace-setting/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/workspace-setting/new-workspace-setting-detail/delete-leave-workspace/delete/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/workspace-setting/new-workspace-setting-detail/delete-leave-workspace/delete/style.css.ts
  packages/frontend/core/src/components/affine/setting-modal/workspace-setting/new-workspace-setting-detail/delete-leave-workspace/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/workspace-setting/new-workspace-setting-detail/enable-cloud.tsx
  packages/frontend/core/src/components/affine/setting-modal/workspace-setting/new-workspace-setting-detail/export.tsx
  packages/frontend/core/src/components/affine/setting-modal/workspace-setting/new-workspace-setting-detail/index.tsx
  packages/frontend/core/src/components/affine/setting-modal/workspace-setting/new-workspace-setting-detail/labels.tsx
  packages/frontend/core/src/components/affine/setting-modal/workspace-setting/new-workspace-setting-detail/members.tsx
  packages/frontend/core/src/components/affine/setting-modal/workspace-setting/new-workspace-setting-detail/profile.tsx
  packages/frontend/core/src/components/affine/setting-modal/workspace-setting/new-workspace-setting-detail/storage.tsx
  packages/frontend/core/src/components/affine/setting-modal/workspace-setting/new-workspace-setting-detail/style.css.ts
  packages/frontend/core/src/components/affine/setting-modal/workspace-setting/new-workspace-setting-detail/types.ts
  packages/frontend/core/src/components/cloud/login-card.tsx
  tests/affine-local/e2e/settings.spec.ts
  tests/kit/utils/setting.ts
Labels: test, mod:component, app:core

chore: bump up @vitejs/plugin-vue version to v5 (#5394)
  tools/plugin-cli/package.json
  yarn.lock
Labels: mod:plugin-cli

fix(core): correct title of onboarding article-2 (#5387)
  packages/frontend/core/src/components/affine/onboarding/articles/article-2.tsx
  packages/frontend/core/src/components/affine/onboarding/articles/index.tsx
Labels: app:core

chore(core): add background color to questionnaire (#5396)
  packages/frontend/component/src/components/auth-components/onboarding-page.css.ts
Labels: mod:component

ci: define tag name to fix nightly release failing (#5397)
  .github/workflows/release-desktop.yml
Labels: none

fix(core): workpace list blink issue on open (#5400)
  packages/frontend/core/src/components/root-app-sidebar/index.tsx
Labels: app:core

fix(core): about setting blink issue (#5399)
  packages/frontend/core/src/components/affine/setting-modal/index.tsx
Labels: app:core
